$icons: (
        sprite: (width: 1212px, height: 441px, pngPath: '../images/svg/sprite.png', svgPath: '../images/svg/sprite.svg'),
arrow-down: (width: 10px, height: 41px, backgroundX: 0px, backgroundY: 0px),
arrow-down-left: (width: 221px, height: 116px, backgroundX: -10px, backgroundY: -41px),
arrow-left: (width: 170px, height: 16px, backgroundX: -231px, backgroundY: -157px),
arrow-right: (width: 145px, height: 14px, backgroundX: -401px, backgroundY: -173px),
btn-arrow: (width: 12px, height: 12px, backgroundX: -546px, backgroundY: -187px),
btn-arrow-d: (width: 12px, height: 12px, backgroundX: -558px, backgroundY: -199px),
btn-user: (width: 12px, height: 12px, backgroundX: -570px, backgroundY: -211px),
checked: (width: 16px, height: 16px, backgroundX: -582px, backgroundY: -223px),
client-arrow-right: (width: 160px, height: 39px, backgroundX: -598px, backgroundY: -239px),
details-arrow-right: (width: 46px, height: 9px, backgroundX: -758px, backgroundY: -278px),
diagnost: (width: 36px, height: 34px, backgroundX: -804px, backgroundY: -287px),
diagnostic-detail-arrow-left: (width: 55px, height: 11px, backgroundX: -840px, backgroundY: -321px),
diagnostic-detail-arrow-right: (width: 146px, height: 14px, backgroundX: -895px, backgroundY: -332px),
main-action-icon: (width: 17px, height: 18px, backgroundX: -1041px, backgroundY: -346px),
manager-arrow-right: (width: 137px, height: 14px, backgroundX: -1058px, backgroundY: -364px),
therapy-arrow-down: (width: 17px, height: 63px, backgroundX: -1195px, backgroundY: -378px),
);