.section {
  padding-bottom: 66px;
  position: relative;
  @include mobile {
    padding-bottom: 0;
  }
  .logo {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: -1;
    @include mobile {
      display: none;
    }
  }

  &__inner {
    padding-left: 64px;
    padding-top: 100px;

    @include mobile {
      padding-top: 40px;
      padding-left: 15px;
      padding-right: 15px;
    }
  }

  &__title {
    font-size: 32px;
    line-height: 37px;
    letter-spacing: 0.01em;
    color: #222222;
    @include helveticaNeueCur-medium;
    @include mobile {
      font-size: 26px;
      line-height: 30px;
    }
  }

  //  SECTION ABOUT

  &.section-about {
    height: 100vh;
 
    position: relative;

    @include mobile {
      height: 100%;
    }

    .section {
      &__info {
        position: static;
        opacity: 1;
        visibility: visible;
        @include mobile {
          font-size: 16px;
          line-height: 24px;
        }
        &.animated {
          animation: fadeInRight 1s;
        }

        &.hidden {
          position: absolute;
          opacity: 0;
          visibility: hidden;
        }

        max-width: 65%;

        @include mobile {
          max-width: 100%;
          margin-bottom: 30px;
        }
      }

      &__title {
        @include mobile {
          font-size: 24px;
          line-height: 34px;
        }
      }

      &__inner {
        position: relative;
        padding-top: 90px;
        @include mobile {
          padding-top: 30px;
        }
        .card {
          position: absolute;

          top: 200px;
          right: 43px;

          @include mobile {
            display: none;
          }

          img {
            max-width: 225px;
            max-height: 263px;
          }
        }
        .card-mobile {
          display: none;
          @include mobile {
            display: block;
            display: flex;
            justify-content: center;
          }
        }
      }

      &__subinfo {
        visibility: hidden;
        opacity: 0;
        position: absolute;

        &.visible {
          visibility: visible;
          position: static;
          opacity: 1;
          animation: fadeInLeft 1s;
        }

        .section {
          &__subtitle {
            font-size: 22px;
            line-height: 24px;
            @include helveticaNeueCur-medium;
            color: #222222;
            margin-bottom: 25px;
            @include mobile {
              display: none;
            }
          }
        }

        .subinfo {
          &-text {
            padding: 16px 65px 20px 35px;
            border: 1px dashed #222222;
            max-width: 835px;

            .chat-bot-info {
              padding-left: 30px;
              @include mobile {
                padding-left: 0;
              }
            }
          }

          &-action {
            max-width: 835px;
            display: flex;
            justify-content: flex-end;
          }
        }
      }
    }

    h2 {
      @include helveticaNeueCur-medium;
      font-size: 32px;
      line-height: 37px;
      color: #222222;
      margin-bottom: 15px;
      @include desktop-medium {
        font-size: 30px;
      }
    }

    h3 {
      margin-bottom: 15px;
      @include helveticaNeueCur-medium;
      font-size: 22px;
      line-height: 24px;
    }

    p {
      font-size: 16px;
      line-height: 24px;
      margin-bottom: 7px;
      @include helveticaNeueCur-roman;
      @include desktop-medium {
        font-size: 15px;
        line-height: 21px;
      }
    }
    b {
      @include helveticaNeueCur-medium;
    }
    .mobile-section__info {
      display: none;
      @include mobile {
        display: block;
        margin-top: 30px;
      }
      .card-mobile {
        margin-bottom: 30px;
      }
      .bonus-tooltip {
        display: block;
        position: static;
        visibility: visible;
        opacity: 1;
        margin-bottom: 20px;
        width: 100%;
        margin-left: 0;
        margin-bottom: 30px;
        .bonus {
          &-list__item {
            margin-bottom: 10px;
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
      .mobile-section__subinfo {
        display: none;
        .subinfo-action {
          display: flex;
          justify-content: center;
        }
      }
    }
    .bonus {
      position: relative;
      @include mobile {
        display: none;
      }
      &-title {
        padding-top: 10px;
        @include mobile {
          margin-bottom: 30px;
        }
        @include desktop-medium {
          font-size: 18px;
          line-height: 21px;
        }
        span {
          position: relative;

          &:after {
            content: '';
            position: absolute;
            top: 0;
            left: 100%;
            margin-left: 15px;
            @include sprite('arrow-right');
            @include mobile {
              display: none !important;
            }
          }
        }
      }

      &-tooltip {
        border: 1px dashed #222222;
        width: 217px;
        position: absolute;
        top: -50%;
        left: 100%;
        margin-left: 80px;
        z-index: 9999;
        visibility: hidden;
        opacity: 0;

        &.visible {
          visibility: visible;
          opacity: 1;
          transition: 0.5s;
          @include desktop-medium {
            margin-right: 10px;
          }
        }

        .bonus {
          &-list {
            padding: 20px 15px;

            &__item {
              font-size: 16px;
              line-height: 24px;
              color: #222222;
              @include helveticaNeueCur-medium;
            }

            a {
              transition: 0s;
            }
          }
        }
      }
    }

    .logo {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }

  // SECTION WORK

  &.section-work {
    .section {
      &__inner {
        height: 100%;
        padding-top: 60px;
        @include mobile {
        }
      }

      &__info {
        height: 100%;
      }

      &__title {
        @include helveticaNeueCur-medium;
        font-size: 32px;
        line-height: 45px;
        letter-spacing: 0.01em;
        text-align: center;
        color: #222222;
        margin-bottom: 30px;
        @include desktop-medium {
          margin-bottom: 15px;
        }
      }
    }

    .work {
      &-scheme {
        &.animated {
          animation: fadeInRight 1s;
        }

        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        padding-right: 50px;

        height: 100%;
        position: relative;
        opacity: 1;

        &.hidden {
          visibility: hidden;
          opacity: 0;
          position: absolute;
        }
        @include mobile {
          display: flex;
          flex-direction: column;
          align-items: center;
          padding-right: 15px;
          padding-left: 15px;
        }
        .client {
          margin-right: 175px;
          max-width: 125px;
          display: inline-flex;
          flex-direction: column;
          align-items: center;
          position: relative;
          @include mobile {
            margin-right: 0;
            display: flex;
            flex-direction: row;
            max-width: 100%;
            margin-bottom: 95px;
          }
          &:after {
            content: '';
            @include sprite('client-arrow-right');
            position: absolute;
            top: 50px;
            left: 100%;
            @include mobile {
              @include sprite('work-scheme-client-arrow');
              margin-top: 5px;
              top: 100%;
              left: 50%;
              margin-left: -2px;
            }
          }

          &__img {
            @include mobile {
              width: 50%;
              display: flex;
              justify-content: center;
            }
            img {
              max-width: 114px;
              max-height: 118px;
              @include desktop-medium {
                max-width: 100px;
              }
            }
          }

          &__info {
            max-width: 100%;
            @include mobile {
              width: 50%;
            }
            &-name {
              @include helveticaNeueCur-medium;
              font-size: 16px;
              line-height: 22px;
              letter-spacing: 0.01em;
              color: #222222;
              margin-bottom: 5px;
            }

            &-desc {
              font-size: 13px;
              line-height: 17px;
              letter-spacing: 0.01em;
              @include helveticaNeueCur-light;
              color: #222222;
            }
          }
        }

        .worker {
          display: inline-block;
          position: relative;

          img {
            max-height: 135px;
          }

          &.manager {
            margin-right: 160px;
            max-width: 124px;
            @include mobile {
              margin-bottom: 115px;
              margin-right: 0;
              display: inline-flex;

              max-width: 100%;
            }
            &:after {
              content: '';
              position: absolute;
              top: 60px;
              left: 100%;
              @include sprite('manager-arrow-right');
              margin-left: 160px;
              @include mobile {
                @include sprite('work-scheme-arrow-down');
                top: 100%;
                left: 50%;
                margin-left: -2px;
                margin-left: 0;
                margin-top: 10px;
              }
            }

            .worker__img {
              @include mobile {
                display: flex;
                justify-content: flex-end;
                width: 50%;
                position: relative;
              }
              img {
                max-width: 124px;
                max-height: 135px;
             @include desktop-medium {
               max-width: 100px;
             }
              }
            }
          }

          &.therapy {
            margin-left: 150px;
            position: relative;
            @include mobile {
              display: none;
            }
            &:after {
              content: '';
              @include sprite('therapy-arrow-down');
              position: absolute;
              bottom: 0;
              left: 50%;
              margin-left: -2px;
              top: 100%;
              margin-top: 10px;
            }

            .worker {
              &__info {
                .text {
                  position: absolute;
                  left: 0;
                  top: 100%;
                  text-align: right;
                  @include opensans-italic;
                  color: #000000;
                  font-size: 14px;
                  line-height: 18px;
                  margin-top: 5px;
                  width: 120px;
                  height: 100%;
                  padding-right: 20px;
                }
              }
              &__img {
              }
            }
          }

          &__img {
            img {
          
              max-height: 135px;
           
                max-width: 100px;
             
            }
            @include desktop-medium {
         
            }
          }
          &.therapy-mobile {
            display: none;
            @include mobile {
              display: inline-flex;
              margin-bottom: 180px;
              max-width: 100%;
              position: relative;
            }
            .therapy {
              display: block;
              margin-left: 0;

              &:after {
                display: none;
              }
              .worker {
                &__img {
                  display: flex;
                  justify-content: flex-end;
                  margin-right: 30px;
                }
                &__info {
                  margin-left: -20px;
                }
              }
            }
            .gift {
              display: block;
              position: static;
              margin-left: 30px;
            }
            .text {
              width: 100%;

              position: absolute;
              top: 100%;
              margin-top: 30px;
              text-align: center;
              @include opensans-italic;
              color: #000000;
              font-size: 14px;
              line-height: 18px;
            }
            .subtext {
              @include opensans-italic;
              color: #000000;
              font-size: 14px;
              line-height: 18px;
              position: absolute;
              right: -15px;
              top: 100%;
              margin-top: 60px;
              @include mobile {
                right: -25px;
              }
              &__up {
                margin-bottom: 20px;
              }
              &__down {
                .text {
                  position: static;
                  margin-top: 0;
                  text-align: left;
                }
              }
            }
            &:after {
              content: '';
              position: absolute;
              top: 100%;
              margin-top: 60px;
              left: 50%;
              margin-left: -2px;
              @include sprite('work-scheme-arrow-down');
            }
          }
          &__info {
            position: absolute;
            bottom: 0;
            margin-bottom: -20px;
            margin-left: -50px;
            background-color: #f7f7f7;
            font-size: 14px;
            line-height: 18px;
            padding: 8px 12px;
            @include desktop-medium {
              padding-top: 6px;
              padding-bottom: 6px;
            }
            @include mobile {
              margin-left: -20px;
            }
            &-pos {
              @include helveticaNeueCur-medium;
              margin-bottom: 3px;
              @include desktop-medium {
                margin-bottom: 0;
              }
              @include mobile {
                white-space: nowrap;
              }
            }

            &-name {
              @include helveticaNeueCur-light;
            }
          }

          .info {
            max-width: 140px;
            border-radius: 19px;
            background-color: #f2f2f2;
            text-align: center;
            padding: 5px;
            font-size: 13px;
            line-height: 17px;
            letter-spacing: 0.01em;
            color: #222222;
            @include helveticaNeueCur-light;
            position: absolute;
            width: 100%;
            margin-left: 20px;
            top: 5px;
            left: 100%;
            @include mobile {
              position: relative;
              top: 0;
              left: 0;
              margin-left: 30px;
              max-height: 100px;
              max-width: 135px;
              padding: 10px;
            }
            &:before {
              content: '';
              position: absolute;
              left: -30px;
              top: 15px;
              border: 10px solid transparent;
              border-right: 20px solid #f2f2f2;
            }
          }
        }
      }
    }

    .client-advice {
      display: flex;

      justify-content: center;
      .client {
        margin-top: 70px;

        max-height: 240px;
        position: relative;
        display: flex;
        align-items: flex-start;

        &__info-img {
          position: relative;
          left: -30px;
          top: -20px;
        }

        &__info-text {
          position: relative;

          top: -20px;

          .text {
            font-size: 18px;
            line-height: 25px;
            letter-spacing: 0.01em;
            color: #222222;
            @include helveticaNeueCur-medium;
            margin-bottom: 5px;
          }

          .subtext {
            font-size: 14px;
            line-height: 18px;
            color: #222222;
            @include helveticaNeueCur-light;
            letter-spacing: 0.01em;
          }
        }
      }

      &.visible {
        opacity: 1;
        visibility: visible;
        animation: fadeInLeft 1s;
        position: static;
      }

      visibility: hidden;
      position: absolute;
      opacity: 0;
    }

    .gift {
      position: absolute;
      right: 53px;
      top: 220px;
      @include desktop-medium {
        top: 200px;
      }
      @include mobile {
        display: none;
      }
      &:after {
        position: absolute;
        right: 100%;
        top: 50%;
        margin-top: -8px;
        margin-right: 10px;
        content: '';
        @include sprite('arrow-left');
        @include mobile {
          display: none;
        }
      }

      &:before {
        position: absolute;
        top: 100%;
        right: 43px;

        margin-top: 15px;
        content: '';
        @include sprite('arrow-down-left');
        @include mobile {
          display: none;
        }
        @include desktop-medium {
          margin-top: 10px;
        }
      }

      .text {
        font-size: 14px;
        line-height: 18px;
        color: #000000;
        @include opensans-italic;

        &.up {
          position: absolute;
          right: 100%;
          top: 35px;
          width: 100%;
          margin-right: 55px;
        }
      }

      .down {
        position: absolute;
        bottom: 15px;
        width: 100%;
        right: 100%;
        margin-right: 55px;

        .text {
          margin-bottom: 5px;
          white-space: nowrap;

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }

    .worker-group {
      position: absolute;
      top: 165px;
      right: 338px;
      border: 1px dashed #222222;
      padding-top: 10px;
      padding-bottom: 15px;
      padding-left: 15px;
      padding-right: 15px;
      @include desktop-medium {
        padding-top: 5px;
        padding-bottom: 5px;
        top: 150px;
      }
      @include mobile {
        display: none;
      }

      &.mobile-worker-group {
        display: none;
        @include mobile {
          display: block;
          position: static;
          padding: 0;
          margin-bottom: 115px;
          position: relative;
          top: 0;
          left: 0;
          .worker-group {
            &__inner {
              display: flex;
              flex-wrap: wrap;
              justify-content: space-between;
              .worker-col {
                padding: 20px;
                padding-top: 30px;
                padding-bottom: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
              }
            }
            &__text {
              margin-top: 0;
            }
          }
        }
        &:after {
          content: '';
          position: absolute;
          top: 100%;
          left: 50%;
          margin-left: -2px;
          @include sprite('work-scheme-arrow-down');
          margin-top: 10px;
        }
      }
      &__inner {
      }

      &__text {
        font-size: 14px;
        line-height: 18px;
        @include helveticaNeueCur-roman;
        margin-top: 25px;
        text-align: center;
      }

      img {
        max-width: 105px;
        max-height: 120px;
      }

      .worker {
        margin-right: 25px;
        @include mobile {
          margin-right: 0;
          &.ort {
            position: relative;
            bottom: 0px;
          }
        }
        &:last-child {
          margin-right: 0;
        }

        &__info {
          width: 95px;
          text-align: center;
          left: 50%;
          margin-left: -47px;
        }
      }
    }

    .worker__card {
      position: absolute;
      top: 390px;
      right: 338px;
      max-width: 410px;
      display: flex;
      align-items: flex-start;
      border: 1px dashed #222222;
      @include desktop-medium {
        top: 335px;
      }
      @include mobile {
        display: flex;
        justify-content: space-between;
        position: static;
        padding-left: 25px;
        padding-right: 25px;
        padding-top: 10px;
        padding-bottom: 10px;
        margin-bottom: 36px;
      }
      &-text {
        font-size: 13px;
        line-height: 17px;
        @include helveticaNeueCur-light;
        letter-spacing: 0.01em;
        color: #222222;
        padding: 8px 20px;
        @include desktop-medium {
          padding-bottom: 0;
        }
        @include mobile {
          padding: 0;
          margin-left: 10px;
        }
        p {
          line-height: 17px;
          margin-bottom: 10px;
          @include desktop-medium {
            &:last-child {
              margin-bottom: 0;
            }
          }
        }
      }
    }
  }

  // SECTION REASON

  &.section-reason {
    .section {
      &__inner {
        padding-top: 100px;
        padding-right: 45px;
        position: relative;
        @include mobile {
          padding-right: 15px;
          padding-top: 40px;
          padding-bottom: 30px;
        }
      }

      &__title {
        font-size: 32px;
        line-height: 37px;
        letter-spacing: 0.01em;
        color: #222222;
        @include helveticaNeueCur-medium;
        margin-bottom: 40px;
        max-width: 60%;
        @include desktop-medium {
          margin-bottom: 20px;
        }
        @include mobile {
          font-size: 24px;
          line-height: 34px;
          margin-bottom: 15px;
          max-width: 100%;
        }
      }

      &__info {
       display: flex;
       justify-content: space-between;
       @include mobile {
         flex-direction: column;
         align-items: center;
         position: relative;
         padding-bottom: 100px;
       }
      }

      &__text {
        max-width: 60%;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        @include helveticaNeueCur-roman;
        @include mobile {
          max-width: 100%;
          p {
            font-size: 16px;
          }
        }
        @include desktop-medium {
         p {
          margin-bottom: 8px;
       
         }
        }
        b {
          @include helveticaNeueCur-medium;
        }
      }

      &__action {
        margin-top: 30px;
        display: flex;
        flex-direction: column;
      
        justify-content: space-between;
        @include desktop-medium {
          margin-top: 10px;
        }
        @include mobile {
          position: absolute;
          bottom: 0;
        }
        &-text {
          font-size: 20px;
          line-height: 24px;
          color: #222222;
          @include helveticaNeueCur-medium;
          margin-right: 40px;
          margin-bottom: 10px;
          @include mobile {
            margin-right: 0;
            margin-bottom: 15px;
          }
        }

        .main-btn {
          padding-bottom: 12px;
          padding-top: 12px;
          white-space: nowrap;
          @include mobile {
            padding-left: 35px;
            padding-right: 35px;
            width: 100%;
            text-align: center;
            font-size: 14px;
            line-height: 14px;
            white-space: normal;
          }
          span {
            display: inline;
            font-size: 16px;
            line-height: 16px;
          }
        }
      }
    }
  }
}

@-webkit-keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeft {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}

@-webkit-keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInRight {
  from {
    opacity: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInRight {
  -webkit-animation-name: fadeInRight;
  animation-name: fadeInRight;
}
