.content {
    &.about-page {
 
        .section {
            &__inner {
                padding-right: 64px;
                @include mobile {
                    padding-right: 15px;
                }
            }
            &.about-page-main {
                position: relative;
                background: linear-gradient(298.65deg, #D8D8D8 8.34%, rgba(255, 255, 255, 0.3) 91.1%);
            
                @include mobile {
                    padding-top: 76px;
                   
                }
                &:before {
                    content: '';
                    position: absolute;
                    top: 0;
                    right: 0;
                    background-image: url($images_dir+'back_about 2.png');
                    display: block;
                    height: 100%;
                    width: 60%;
                    background-repeat: no-repeat;
                    background-position:top right;
                    background-size: cover;
                    @include mobile {
                        width: 60%;
                        height: 300px;
                        bottom: 0px;
                        top: auto;
                    }
                 
                }
                .section {
                    &__inner {
                        @include mobile {
                            padding-bottom: 80px;
                        }
                    }
                  &__title {
                      margin-bottom: 60px;
                      @include mobile {
                          margin-bottom: 30px;
                          position: relative;
                          z-index: 10;
                      }
                  }
                  &__info {
                      max-width: 60%;
                      font-size: 16px;
                      line-height: 24px;
                      color: #222222;
                      position: relative;
                      z-index: 100;
                      @include helveticaNeueCur-roman;
                      @include mobile {
                          max-width: 100%;
                          position: relative;
                          z-index: 10;
                          font-size: 16px;
                      }
                      .text-padding {
                         padding-left: 15px;
                         @include mobile {
                             padding-left: 0;
                         }
                      }
                      p {
                          @include mobile {
                              font-size: 16px;
                              line-height: 24px;
                          }
                      }
                  }
         
                }
            }
            &.about-page-reason {
                .section {
                    &__title {
                        margin-bottom: 90px;
                        @include mobile {
                            margin-bottom: 30px;
                        }
                        @include desktop-medium {
                            margin-bottom: 40px;
                        }
                    }
                    &__info {
                        .reason__col {
                            @include helveticaNeueCur-roman;
                            color: #222222;
                            padding-left: 50px;
                            padding-top: 10px;
                            margin-bottom: 50px;
                            @include mobile {
                                margin-bottom: 30px;
                                &:last-child {
                                    margin-bottom: 0;
                                }
                            }
                            @include desktop-medium {
                                margin-bottom: 30px;
                            }
                            .col {
                                &__title {
                                font-size: 16px;
                                line-height: 21px;
                                
                                position: relative;
                                margin-bottom: 16px;
                                svg {
                                 position: absolute;
                                 right: 100%;
                                 top: -10px;
                                 margin-right: 10px;
                                }
                                }
                                &__info {
                                   font-size: 16px;
                                   line-height: 24px;
                                }
                            }
                        }
                    }
                }
            }
            &.about-page-sertificat {
                .section{
                    &__title {
                        margin-bottom: 30px;
                        @include desktop-medium {
                            margin-bottom: 20px;
                        }
                        @include mobile {
                            margin-bottom: 20px;
                        }
                    }
                    &__info {
                        @include desktop-medium {
                            margin-bottom: 25px;
                        }
                        margin-bottom: 50px;
                        font-size: 16px;
                        line-height: 24px;
                        @include helveticaNeueCur-roman;
                        color: #222222;
                    }
                }
            }
            &.about-page-tour {
                .section {
                    &__inner {
                        @include mobile {
                            padding-bottom: 30px;
                        }
                    }
                    &__title {
                        margin-bottom: 30px;
                    }
                }
            }
        }
    }
}