.content {
  &.blog-single {
    @include mobile {
      padding-top: 76px;
    }
    .section {
      &__inner {
        padding-right: 64px;
        padding-bottom: 20px;
        @include mobile {
          padding-right: 15px;
        }
      }
      &.blog-single-main {
        @include desktop-large {
          overflow: hidden;
        }
        @include desktop-medium {
          overflow: hidden;
        }
        .section {
          &__title {
            margin-bottom: 25px;
            @include desktop-medium {
              margin-bottom: 15px;
            }
          }
          &__category {
            font-size: 14px;
            line-height: 18px;
            color: #777777;
            @include helveticaNeueCur-roman;
            margin-bottom: 20px;
          }
          &__info {
            @include helveticaNeueCur-roman;
            display: flex;
            margin-bottom: 60px;
            @include mobile {
              flex-direction: column-reverse;
              margin-bottom: 10px;
            }
            @include desktop-large {
              margin-bottom: 30px;
            }
            @include desktop-medium {
              margin-bottom: 10px;
            }
            &-left {
              max-width: 70%;
              padding-right: 40px;
              @include mobile {
                max-width: 100%;
                padding-right: 0;
              }
              p {
                @include desktop-medium {
                  margin-bottom: 12px;
                  font-size: 15px;
                }
                font-size: 16px;
                line-height: 24px;
                &.info-title {
                  font-size: 22px;
                  line-height: 24px;
                }
              }
            }
            &-right {
              max-width: 40%;
              flex: 1;
              @include mobile {
                max-width: 100%;
                margin-bottom: 20px;
              }
              img {
                width: 100%;
              }
            }
          }
          &__action {
            padding-bottom: 20px;
            .back-link {
              font-size: 14px;
              line-height: 18px;
              color: #777777;
              @include helveticaNeueCur-roman;
              display: flex;
              align-items: center;

              &:before {
                @include sprite('diagnostic-detail-arrow-left');
                display: inline-block;
                margin-right: 8px;
                content: '';
              }
            }
          }
        }
      }
    }
  }
}
