// IMPLANTATION-DESC

.implantation-desc {
  background: radial-gradient(113.74% 99.6% at -14.15% 0.53%, #f9f9f9 0%, #dfdfdf 100%);

  position: relative;
  @include mobile {
    padding-top: 76px;
  }
  @include helveticaNeueCur-roman;
  &:before {
    content: '';
    position: absolute;
    bottom: 80px;
    right: 0;
    background-image: url($images_dir+'implantation-bg.png');
    display: block;
    height: 565px;
    width: 601px;
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
    padding-bottom: 80px;
    @include mobile {
      width: 100%;
    background-position: center right;
    background-size: contain;
      height: 316px;
      padding-bottom: 0;
       top: 15%;
      padding-left: 15px;
      padding-right: 15px;
 
    }
    @include desktop-medium {
    bottom: 65px;
    }
  }
  .section {
    &__inner {
      position: relative;

      background-repeat: no-repeat;
      background-size: cover;
      height: 100%;
      @include mobile {
        padding-bottom: 30px;
      }

      &-wrap {
        max-width: 60%;
        @include mobile {
          max-width: 100%;
        }
        @include desktop-medium {
          max-width: 70%;
        }
      }
    }

    &__title {
      margin-bottom: 10px;
      @include mobile {
        margin-bottom: 320px;
      }
      @include mobileS {
        margin-bottom: 300px;
      }
    }

    &__info {
      p {
        margin-bottom: 8px;
        font-size: 16px;
        line-height: 24px;
        @include helveticaNeueCur-roman;
        @include desktop-medium {
          font-size: 14px;
          line-height: 20px;
        }
      }
      b{ 
        @include helveticaNeueCur-medium;
      }

      .main-btn {
        padding-top: 10px;
        padding-bottom: 10px;
        @include mobile {
          width: 100%;
          margin-top: 30px;
        }
      }
    }
  }
}

// IMPLANTATION PRICE

.implantation-price {
  overflow: visible;
  .section {
    &__title {
      margin-bottom: 10px;
    }
    &__subtitle {
      display: none;
      @include mobile {
        display: block;
        font-size: 14px;
        line-height: 21px;
        color: #C8102E;
        @include helveticaNeueCur-roman;
        margin-bottom: 20px;
      }
    }
    &__inner {
      padding-right: 50px;
      @include mobile {
        padding-right: 15px;
      }
    }
  }

  .price {
    &-list {
      list-style: none;
      margin-bottom: 50px;
      max-width: 100%;
      @include mobile {
        max-width: 100%;
      }
   @include desktop-medium {
     margin-bottom: 15px;
   }
      &__item {
        margin-bottom: 15px;
        position: relative;
        padding-right: 50px;
        @include mobile {
          padding-right: 0;
          padding-bottom: 50px;
        }
        @include desktop-medium {
          margin-bottom: 10px;
        }
      
        .item-info {
          font-size: 14px;
          line-height: 21px;
          @include helveticaNeueCur-roman;
          color: #222222;
          margin-top: 5px;
          padding-right: 50px;
          max-width: 65%;
          @include desktop-medium {
            line-height: 19px;
          }
        }
        &:last-child {
          margin-bottom: 0;
        }

    

        .details-price__btn {
          visibility: hidden;
            opacity: 0;
         position: static;
          display: flex;
          align-items: center;
          border-radius: 4px;
          text-decoration: none;
          margin-left: 50px;
       @include mobile {
         visibility: visible;
         opacity: 1;
        position: absolute;
        bottom: 0;
        left: 0;
        height: 34px;
        top: auto;
        margin-left: 0;
       }
          &:hover {
            svg {
              fill: #fff;
            }
          }

          svg {
            margin-left: 5px;
            fill: #c8102e;
          }
        }
      }

      &__link {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        font-size: 20px;
        line-height: 30px;
        color: #222222;
        .link-right {
          display: flex;
          align-items: center;

        }
       @include helveticaNeueCur-roman;
       @include desktop-medium {
         font-size: 18px;
         line-height: 26px;
       }
        &:hover {
          span {
            text-decoration: underline;
          }
         
            .details-price__btn {
              visibility: visible;
              opacity: 1;
              text-decoration: none;
              
            }
          
          
        }

        span {
          display: inline-block;
        }

        .price {
          white-space: nowrap;
        }
      }
    }
  }

  .advantages {
    display: flex;
    padding: 15px;
    border: 1px dashed #222222;
    justify-content: space-between;
    @include mobile {
      flex-direction:  column;
    }
    &__item {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 99;
      cursor: pointer;
      @include mobile {
         
        z-index: 10;
        margin-bottom: 15px;
  display: block;
        &:last-child {
          margin-bottom: 0;
        }
      }
      span {
        max-width: 100px;
        @include mobile {
          padding-top: 0;
          position: relative;
          top: -15px;
        }
      }

      &:hover {
        span {
          text-decoration: underline;
          display: inline-block;
        }
        .tooltip {
          visibility: visible;
          opacity: 1;
          transition: 0.3s;
        }
      }
      .tooltip {
        box-shadow: 0 2px 19px 0 rgba(0, 0, 0, 0.06);
        width: 250px;
        padding: 15px;
        border-radius: 4px;
        position: absolute;
        bottom: 100%;
        left: 70%;
        z-index: 9999;
        background-color: #fff;
        visibility: hidden;
        opacity: 0;
        font-size: 14px;
        line-height: 21px;
        color: #777777;
        @include mobile {
          width: 100%;
          visibility: visible;
          opacity: 1;
          position: static;
          box-shadow: none;
          padding-top: 0px;
          padding-bottom: 0px;
          padding-left: 50px;
          padding-right: 0;
        }
      }
    }
  }
}

// IMPLANTATION PORTFOLIO

.implantation-portfolio {
  .section {
    &__title {
      @include mobile {
        margin-bottom: 20px;
      }
    }
    &__inner {
      padding-right: 100px;
      height: 100%;
      @include mobile {
        padding-right: 15px;
      }
    }

    &__info {
    

      p {
        margin-bottom: 10px;
        font-size: 16px;
        line-height: 24px;
        color: #222222;
        @include helveticaNeueCur-roman;
        @include desktop-medium {
          margin-bottom: 6px;
        }
      }

      b {
        @include helveticaNeueCur-medium;
      }

      .subtitle {
        font-size: 20px;
        line-height: 30px;
      }
      .doctor-info-text{
        p {
          font-size: 14px;
          line-height: 14px;
          color: #777777;
        }
      }
    }
  }
}

// IMPLANTATION DETAIL

.implantation-detail {
  overflow: hidden;
  .section {
    &__inner {
      overflow: hidden;
      @include mobile {
        padding-bottom: 30px;
      }
      &-wrap {
        max-width: 80%;
        @include mobile {
          max-width: 100%;
        }
      }
    }
    &__title {
      margin-bottom: 15px;
    }
    &__info {
      font-size: 16px;
      line-height: 24px;
      color: #222222;
      @include helveticaNeueCur-roman;
      @include desktop-medium {
        p {
          font-size: 14px;
          line-height: 19px;
        
        }
      }
      b {
        @include helveticaNeueCur-medium;
      }
      p {
        margin-bottom: 8px;
        @include mobile {
          font-size: 16px;
          line-height: 24px;
        }
      }
    }
  }
}
