.content {
    &.implantation-single{
        .section {
            &__inner {
                padding-right: 64px;
                @include mobile {
                    padding-right: 15px;
                    padding-bottom: 30px;
                }
            }
            &.implantation-single-main {
                @include mobile {
                    padding-top: 76px;
                }
                .section {
                    &__title {
                        margin-bottom: 20px;
                    }
                    &__info {
                        @include mobile {
                            p {
                                font-size: 16px;
                                line-height: 24px;
                            }
                        }
                        @include desktop-medium {
                            p {
                                line-height: 19px;
                                margin-bottom: 8px;

                            }
                        }
                    }
                }
                .image-group {
                    display: flex;
                    padding-bottom: 30px;
                   @include mobile {
                    flex-direction: column;
                    align-items: center;

                   }
                   .image-item {
                       @include mobile {
                           margin-bottom: 20px;
                           &:last-child {
                               margin-bottom: 0;
                           }
                       }
                   }
                    @include desktop-medium {
                        padding-bottom: 15px;
                    }
                    .text {
                        margin-bottom: 5px;
                        @include mobile {
                            text-align: center;
                        }
                    }
                }
                .doctor-info-text {
                    font-size: 14px;
                    line-height: 24px;
                    letter-spacing: 0.01em;
                    color: #777777;
                    @include helveticaNeueCur-roman;

                    p {
                        margin-bottom: 10px;
                        @include desktop-medium {
                            margin-bottom: 8px;
                        }
                        &:last-child {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            &.implantation-single-about {
                overflow: hidden;
             
                .result-field {
                    display: flex;
                    justify-content: space-between;
                    padding-left: 10px;
                    padding-right: 10px;
                    margin-top: 30px;
                    margin-bottom: 30px;
                    @include desktop-medium {
                        margin-top: 10px;
                        margin-bottom: 10px;
                    }
                    &__left {
                    color: #222222;
                    font-size: 16px;
                    line-height: 24px;
                    @include helveticaNeueCur-roman;
                    }
                    &__right {
                        @include helveticaNeueCur-roman;
                        font-size: 14px;
                        line-height: 21px;
                        color: #777777;
                    }
                }
            }
        }
    }
}