
    .section-services {
          .section {
              &__inner {
                  padding-top: 100px;
                  padding-right: 26px;
                  @include mobile {
                      padding-right: 15px;
                      padding-bottom: 30px;
                  }
              }
              &__title {
                @include helveticaNeueCur-medium;
                font-size: 32px;
                line-height: 37px;
                color: #222222;
                margin-bottom: 20px;
              }
          }
          .services {
              &__col {
               
                  @include mobile {
                      margin-bottom: 20px;
                      &:last-child {
                          margin-bottom: 0;
                      }
                  }
                  &.center {
                      display: flex;
                      align-items: center;
                  }
                  &-title {
                      font-size: 20px;
                      line-height: 24px;
                      letter-spacing: 0.01em;
                      padding-left: 50px;
                      color: #222222;
                      @include helveticaNeueCur-medium;
                      position: relative;
                          margin-bottom: 10px;
                          display: inline-block;
                          &:hover {
                              svg {
                                  fill: #C8102E;;
                              }
                              color: #C8102E;
                              transition: 0s;
                          }
                         svg {
                            position: absolute;
                            
                            top: -5px;
                            left: 0;
                            margin-right: 10px;
                         
                            display: inline-block;
                         }
                         @include desktop-medium {
                             font-size: 18px;
                             line-height: 20px;
                         }
                  }
                  &-info {
                    padding-left: 50px;
                      a {
                        display: block;
                          font-size: 13px;
                          line-height: 17px;
                          color: #000000;
                          @include helveticaNeueCur-roman;
                          margin-bottom: 5px;
                          @include desktop-medium {
                              line-height: 15px;
                          }
                          &:last-child {
                              margin-bottom: 0;
                          }
                      }
                      .subtext {
                          padding-left: 10px;
                          color: #777777;
                      }
                  }
              }
              &__row {
                  margin-bottom: 30px;
                  justify-content: space-between;
                  @include desktop-medium {
                      margin-bottom: 10px;
                      
                  }
                  &:last-child {
                      margin-bottom: 0;
                  }
              }
          }
        
    }
.services {
    .bottom-menu {
        .nav {
            &__link {
                &:before {
                  display: none;
                }
            }
        }
    }
}