.content {
    &.specialist-list {
        .section {
            &.specialist-list-main {
                overflow: hidden;
             
                .section {
                    &__inner {
                        padding-right: 54px;
                    }
                    &__info-top {
                        margin-top: 15px;
                        margin-bottom: 35px;
                        display: flex;
                        justify-content: flex-end;
                    }
                }
            }
        }
    }
}