
// DOCTOR INFO

.doctor-info {
    background: linear-gradient(298.68deg, #D8D8D8 8.34%, rgba(255, 255, 255, 0.3) 91.1%);
    .section {
        @include helveticaNeueCur-roman;
        &__inner {
            display: flex;
        }

        &__left {
            max-width: 60%;
            padding-right: 30px;
            .section {
                &__title {
                    margin-bottom: 40px;
                    @include desktop-medium {
                        margin-bottom: 20px;
                    }
                }
                &__info {
                 font-size: 18px;
                 line-height: 27px;
                 color: #222222;
                 @include helveticaNeueCur-roman;
                 @include desktop-medium {
                     font-size: 16px;
                     line-height: 24px;
                 }
                }
            }
            .specialist {
                &-info {
                    margin-bottom: 30px;
                }
                &-desc {
                    margin-bottom: 40px;
                }
                &-social {
                    font-size: 16px;
                    line-height: 16px;
                    color: #777777;
                    margin-bottom: 20px;
                    display: flex;
                    align-items: center;
                   
                    span {
                        display: inline-block;
                        margin-right: 15px;
                    }
                    a {
                        margin-right: 15px;
                        display: inline-block;
                        &:last-child {
                            margin-right: 0;
                        }
                       &:hover {
                           svg {
                               fill:#C8102E ;
                               transition: 0.3s;
                           }
                       }
                    }
                }
                &-quote {
                   width: 350px;
                    height: 110px;
                     background-image: url($images_dir+'border.png');
                     background-size: cover;
                     background-repeat: no-repeat;
                     
                    .text {
                       padding: 10px;
                        width: 287px;
                        position: relative;
                        top: 15px;
                        left: 30px;
                      
                        @include helveticaNeueCur-roman;
                        font-size: 16px;
                        line-height: 22px;
                    }
                }
            }
        }
        &__right {
            padding-right: 10px;
            .specialist-img {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                top: 50px;
                img {
                max-width: 350px;
                margin-bottom: 20px;
                border-radius: 4px;
                }
            }
            .main-btn {
                padding-top: 15px;
                padding-bottom: 15px;
            }
        }
    }
}


// DOCTOR EDUCATION

.doctor-education {
    .section {
        &__inner {
            padding-right: 80px;
        }
        &__title {
            margin-bottom: 10px;
        }
        &__info {
            p {
                font-size: 16px;
                line-height: 24px;
                color: #222222;
                @include helveticaNeueCur-roman;
                margin-bottom: 10px;
                @include desktop-medium {
                    font-size: 15px;
                    line-height: 20px;
                }
            }
            b {
                 font-size: 20px;
                 line-height: 30px;
                 color: #222222;
                 @include helveticaNeueCur-medium;
            }
            &-top {
                margin-bottom: 30px;
            }
            &-bottom {
                display: flex;
               justify-content: space-between;
                .bottom-left {
                 max-width: 70%;
                }
                .text {
             
              display: none;
                }
                .specialist-qualification-more {
                      @include helveticaNeueCur-roman;
                      color: #777777;
                      cursor: pointer;
                }
                .bottom-right {
                    padding-left: 80px;
                    padding-right: 80px;
                    text-align: center;
                }
            }
        }
    }
}

// DOCTOR PORTFOLIO 


.doctor-portfolio {
    .section {
        &__title {
            margin-bottom: 20px;
            @include desktop-medium {
                margin-bottom: 10px;
            }
        }
        &__inner {
            padding-right: 100px;
            .slider-wrap {
                display: flex;
                flex-direction: column;
                align-items: center;
                @include desktop-medium {
                    align-items: flex-start;
                }
            }
            
        }
       
        &__info {

        
            p {
                margin-bottom: 10px;
                @include desktop-medium {
                    margin-bottom: 8px;
                    line-height: 22px;
                    font-size: 14px;
                }
            }
            .subtitle {
                font-size: 20px;
                line-height: 30px;
                color: #222222;
              
            }
            .doctor-info-text {
                color: #777777;
            }
      
       
        }
    }
}