<!-- build:scripts -->
<script src="support-libs.js"></script>
<script src="helpers/dropdown.js"></script>
<script src="helpers/popups.js"></script>
<script src="helpers/burger.js"></script>
<script src="helpers/header.js"></script>
<script src="helpers/scrollify.js"></script>
<script src="helpers/scroll.js"></script>
<script src="helpers/counter.js"></script>
<script src="helpers/button.js"></script>
<script src="libs/slick.js"></script>
<script src="helpers/slider.js"></script>


<script src="ui.js"></script>


<!-- endbuild -->

</body>
</html>
