</div>

<footer class="footer {{class}}" >
   <div class="footer__inner">
       <div class="footer-top">
            <div class="footer__info">
           <div class="footer__info-item tel">
              <span class="tel__item">+375 (17) 300-30-01 </span>
                <span class="tel__item">+375 (29) 127-73-67</span>
           </div>
           <div class="footer__info-item adress">
               Минск,<br> 2-й пер. Розы Люксембург, 3
           </div>
           <div class="footer__info-item work">
                <span class="work__item">Пн-Пт: 9.00-21.00 </span>
                  <span class="work__item">Сб: 9.00-18.00</span>
           </div>
           <div class="footer__info-item email">
               <a href="#" class="email__item">info@triomed.by</a>
           </div>
       </div>
       </div>
         <div class="footer-bottom">
           <div class="footer__action">
               <div class="footer__action-text">
                   Приходите на бесплатную консультацю или приём
               </div>
               <a href="#" class="btn footer-btn" data-popup='footer-popup'>Записаться


               </a>  
           </div>
           <div class="footer__logo">
               <img src="../static/images/footer-logo.png" alt="">
           </div>
           <div class="footer-bottom__subtext">
              &#169 2019 ОДО "Триомед"
           </div>
       </div>
      
   </div>



     <div class="popup__box footer-popup" id="footer-popup">
    <button class="popup__close js-close-wnd">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.15338 8.47699L12.5116 14L13.9413 12.5263L8.64028 7.06225L14 1.96265L12.6286 0.431244L7.20942 5.58739L1.78874 0L0.359024 1.47368L5.72252 7.00212L0 12.4469L1.37143 13.9783L7.15338 8.47699Z" fill="#777777"/>
</svg>
    </button>
  <form action="" method="POST" class="footer-form" id="footer-form">
      <h2 class="form__title">Записаться на бесплатную консультацию или прием</h2>
      <h3 class="form__subtitle">Оставьте свои данные и наш менеджер свяжется с вами в ближайшее время</h3>
      <div class="input-group">
          <input type="text" name="name" placeholder="Представьтесь, пожалуйста*">
          <input type="text" name='phone' placeholder="+375 ( __ ) ___ -__ - __ *">
      </div>
      <div class="form__action">
          <button class="btn footer-btn" id="feedback-form-button"  type="submit">Отправить</button>
      </div>
  </form>
</div>

  
 <div class="popup__box footer-subpopup" id="footer-subpopup">
    <button class="popup__close js-close-wnd">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.15338 8.47699L12.5116 14L13.9413 12.5263L8.64028 7.06225L14 1.96265L12.6286 0.431244L7.20942 5.58739L1.78874 0L0.359024 1.47368L5.72252 7.00212L0 12.4469L1.37143 13.9783L7.15338 8.47699Z" fill="#777777"/>
</svg>
    </button>

</div>
</footer>

</div>
</div>

{{> layout/bottom}}