</div>

<footer class={{class}} >
   <div class="footer__inner">
       <div class="footer-top">
            <div class="footer__info">
           <div class="footer__info-item tel">
              <span class="tel__item">+375 (17) 300-30-01 </span>
                <span class="tel__item">+375 (29) 127-73-67</span>
           </div>
           <div class="footer__info-item adress">
               Минск,<br> 2-й пер. Розы Люксембург, 3
           </div>
           <div class="footer__info-item work">
                <span class="work__item">Пн-Пт: 9.00-21.00 </span>
                  <span class="work__item">Сб: 9.00-18.00</span>
           </div>
           <div class="footer__info-item email">
               <a href="#" class="email__item">info@triomed.by</a>
           </div>
       </div>
       </div>
         <div class="footer-bottom">
           <div class="footer__action">
               <div class="footer__action-text">
                   Приходите на бесплатную консультацю или приём
               </div>
               <a href="#" class="btn footer-btn">Записаться</a>
           </div>
       </div>
      
   </div>
</footer>

</div>
</div>

{{> layout/bottom}}