</div>

<footer class="footer {{class}}" >
   <div class="footer__inner">
       <div class="footer-top">
            <div class="footer__info">
           <div class="footer__info-item tel">
              <span class="tel__item">+375 (17) 300-30-01 </span>
                <span class="tel__item">+375 (29) 127-73-67</span>
           </div>
           <div class="footer__info-item adress">
               Минск,<br> 2-й пер. Розы Люксембург, 3
           </div>
           <div class="footer__info-item work">
                <span class="work__item">Пн-Пт: 9.00-21.00 </span>
                  <span class="work__item">Сб: 9.00-18.00</span>
           </div>
           <div class="footer__info-item email">
               <a href="#" class="email__item">info@triomed.by</a>
           </div>
       </div>
       </div>
         <div class="footer-bottom">
           <div class="footer__action">
               <div class="footer__action-text">
                   Приходите на бесплатную консультацю или приём
               </div>
               <a href="#" class="btn footer-btn" data-popup="footer-popup">Записаться</a>
           </div>
           <div class="footer__logo">
               <img src="../static/images/footer-logo.png" alt="">
           </div>
           <div class="footer-bottom__subtext">
              &#169 2019 ОДО "Триомед"
           </div>
       </div>
      
   </div>
   <div class="popup__box footer-popup" id="footer-popup">
    <button class="popup__close js-close-wnd">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.15338 8.47699L12.5116 14L13.9413 12.5263L8.64028 7.06225L14 1.96265L12.6286 0.431244L7.20942 5.58739L1.78874 0L0.359024 1.47368L5.72252 7.00212L0 12.4469L1.37143 13.9783L7.15338 8.47699Z" fill="#777777"/>
</svg>
    </button>
  <form action="" method="POST" class="footer-form" id="footer-form">
      <h2 class="form__title">Записаться на бесплатную консультацию или прием</h2>
      <h3 class="form__subtitle">Оставьте свои данные и наш менеджер свяжется с вами в ближайшее время</h3>
      <div class="input-group">
          <input type="text" name="name" placeholder="Представьтесь, пожалуйста*">
          <input type="text" name='phone' placeholder="+375 ( __ ) ___ -__ - __ *">
      </div>
      <div class="form__action">
          <button class="btn footer-btn" id="footer-btn-popup" data-popup="footer-subpopup" type="submit">Отправить</button>
      </div>
  </form>
</div>
 <div class="popup__box footer-subpopup" id="footer-subpopup">
    <button class="popup__close js-close-wnd">
        <svg width="14" height="14" viewBox="0 0 14 14" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M7.15338 8.47699L12.5116 14L13.9413 12.5263L8.64028 7.06225L14 1.96265L12.6286 0.431244L7.20942 5.58739L1.78874 0L0.359024 1.47368L5.72252 7.00212L0 12.4469L1.37143 13.9783L7.15338 8.47699Z" fill="#777777"/>
</svg>
    </button>
   <div class="popup__info">
       <div class="popup__text">
           <p>Спасибо, ваша заявка принята!</p>
           <p>Ожидайте звонка</p>
       </div>
       <div class="popup__img">
 <svg width="53" height="56" viewBox="0 0 53 56" fill="none" xmlns="http://www.w3.org/2000/svg">
<path fill-rule="evenodd" clip-rule="evenodd" d="M21.7697 12.9936C22.2251 13.4913 22.5802 14.0634 22.8241 14.5787C23.035 15.0244 22.8447 15.5567 22.399 15.7677C21.9533 15.9786 21.421 15.7883 21.2101 15.3426C21.0288 14.9595 20.7674 14.5435 20.4523 14.199C20.1332 13.8503 19.801 13.6202 19.4845 13.5246C19.1984 13.4383 18.8677 13.442 18.4554 13.6701C18.0152 13.9136 17.4548 14.431 16.8199 15.4371C16.5568 15.8541 16.0054 15.9789 15.5884 15.7157C15.1713 15.4526 15.0466 14.9012 15.3098 14.4842C16.0354 13.3343 16.793 12.549 17.591 12.1076C18.417 11.6506 19.2449 11.587 20.0005 11.8151C20.7256 12.034 21.3181 12.5 21.7697 12.9936Z" fill="#222222"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M36.0548 12.9936C36.5102 13.4913 36.8654 14.0634 37.1093 14.5787C37.3202 15.0244 37.1299 15.5567 36.6842 15.7677C36.2385 15.9786 35.7062 15.7883 35.4952 15.3426C35.3139 14.9595 35.0526 14.5435 34.7374 14.199C34.4184 13.8503 34.0862 13.6202 33.7696 13.5246C33.4836 13.4383 33.1528 13.442 32.7406 13.6701C32.3003 13.9136 31.74 14.431 31.1051 15.4371C30.8419 15.8541 30.2905 15.9789 29.8735 15.7157C29.4565 15.4526 29.3318 14.9012 29.5949 14.4842C30.3205 13.3343 31.0782 12.549 31.8762 12.1076C32.7022 11.6506 33.53 11.587 34.2856 11.8151C35.0107 12.034 35.6032 12.5 36.0548 12.9936Z" fill="#222222"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M24.163 26.8519C20.5174 26.322 17.5038 24.4589 15.9795 22.7596C15.6572 22.4003 15.6197 21.7691 15.8957 21.3496C16.1717 20.9301 16.6567 20.8813 16.979 21.2406C18.2352 22.6409 20.9461 24.3719 24.3335 24.8642C27.6947 25.3527 31.6739 24.6144 35.5066 21.1767C35.856 20.8633 36.3344 20.9779 36.5752 21.4327C36.816 21.8874 36.7279 22.5101 36.3785 22.8235C32.197 26.574 27.8348 27.3855 24.163 26.8519Z" fill="#222222"/>
<path fill-rule="evenodd" clip-rule="evenodd" d="M28.4064 4.17215C27.3408 4.38674 26.3628 4.54415 25.5919 4.54415C23.2428 4.54417 20.7286 3.99784 18.3132 3.44264C18.1249 3.39936 17.9373 3.35603 17.7502 3.31285C15.4961 2.79244 13.3345 2.29339 11.3209 2.16135C9.15499 2.01932 7.28676 2.31368 5.76174 3.37884C4.23985 4.44181 2.91397 6.37512 2.053 9.82005C1.60994 11.5928 1.74615 13.609 2.25159 15.7944C2.75639 17.977 3.61304 20.262 4.55073 22.5528C4.84583 23.2738 5.15062 23.999 5.45401 24.7209C6.10311 26.2654 6.74579 27.7946 7.27349 29.2341C8.04691 31.3439 8.62713 33.3954 8.62713 35.1983C8.62713 42.9198 9.22451 47.5566 10.141 50.2364C10.597 51.5695 11.1076 52.3439 11.5947 52.7816C12.0579 53.1979 12.5463 53.3527 13.0903 53.3527C14.0139 53.3527 14.9436 52.5609 15.9361 50.6687C16.8499 48.9264 17.6337 46.6075 18.4578 44.1692C18.4948 44.0599 18.5318 43.9503 18.5689 43.8406C19.4181 41.3302 20.318 38.7156 21.4367 36.7315C22.5307 34.791 24.0247 33.115 26.1863 33.115C28.3502 33.115 29.8814 34.8335 31.0156 36.8092C32.1802 38.838 33.1354 41.505 34.0226 44.0567C34.0935 44.2605 34.164 44.4635 34.234 44.6655C35.0571 47.0386 35.8302 49.2673 36.6874 50.9242C37.152 51.8222 37.6063 52.4802 38.0516 52.8893C38.4799 53.2827 38.8395 53.3961 39.1817 53.3581C40.0862 53.2577 40.8094 52.6444 41.403 51.3823C42.0019 50.1091 42.3794 48.3449 42.6372 46.3204C42.8639 44.54 42.9905 42.6289 43.1139 40.7666C43.1301 40.5233 43.1461 40.2808 43.1624 40.0396C43.3011 37.9774 43.4526 35.9832 43.7637 34.4279C44.0838 32.8273 44.7561 31.2203 45.5341 29.5795C45.8501 28.9133 46.1776 28.2525 46.5112 27.5797C47.022 26.5493 47.5468 25.4906 48.0655 24.3404C49.7451 20.6155 51.1766 16.2995 50.8902 10.8407C50.6893 7.01134 49.3743 4.84126 47.585 3.61146C45.7456 2.34716 43.236 1.95637 40.4265 2.06831C37.6307 2.1797 34.6744 2.7815 32.0337 3.37129C31.6685 3.45285 31.308 3.53448 30.9547 3.61449C30.0442 3.82068 29.1811 4.01614 28.4064 4.17215ZM48.5965 2.13987C50.955 3.76092 52.4514 6.51463 52.6735 10.7472C52.9804 16.5978 51.4358 21.2102 49.6933 25.0744C49.1687 26.2379 48.6084 27.3693 48.0817 28.4328C47.7514 29.0998 47.4343 29.74 47.1476 30.3446C46.382 31.959 45.7898 33.4025 45.5147 34.7781C45.2305 36.1989 45.0844 38.0736 44.944 40.1595C44.9279 40.3985 44.9119 40.64 44.8958 40.8835C44.773 42.7389 44.6426 44.7079 44.4086 46.5459C44.1453 48.6135 43.7412 50.6067 43.0189 52.1423C42.2913 53.689 41.1537 54.9358 39.3788 55.1329C38.3812 55.2437 37.5315 54.8363 36.8436 54.2043C36.1727 53.5881 35.6039 52.7161 35.1014 51.7448C34.1815 49.9667 33.366 47.614 32.5578 45.2823C32.4838 45.0689 32.4099 44.8557 32.336 44.6431C31.4382 42.0609 30.5339 39.5569 29.4669 37.6982C28.3694 35.7863 27.2966 34.9007 26.1863 34.9007C25.0736 34.9007 24.0375 35.7543 22.9922 37.6084C21.9715 39.4188 21.1227 41.8637 20.2605 44.4128C20.2164 44.5429 20.1724 44.6734 20.1282 44.804C19.3242 47.1842 18.4991 49.6266 17.5175 51.4981C16.5197 53.4004 15.1428 55.1384 13.0903 55.1384C12.1463 55.1384 11.2211 54.8467 10.4011 54.1098C9.6049 53.3942 8.96251 52.3085 8.45146 50.8143C7.43401 47.8394 6.84145 42.9526 6.84145 35.1983C6.84145 33.7275 6.35786 31.9245 5.59691 29.8487C5.08352 28.4483 4.46839 26.9848 3.82864 25.4628C3.52131 24.7317 3.20829 23.987 2.89813 23.2292C1.95357 20.9216 1.05067 18.5265 0.511842 16.1968C-0.0263362 13.8698 -0.217821 11.5415 0.320611 9.38708C1.24477 5.68929 2.74581 3.30722 4.73924 1.91489C6.72954 0.524756 9.06502 0.223906 11.4378 0.379499C13.6036 0.521519 15.9054 1.05359 18.1243 1.56647C18.3213 1.61201 18.5177 1.65739 18.7133 1.70234C21.1532 2.26318 23.4759 2.75849 25.5919 2.75847C26.1686 2.75847 26.9932 2.6352 28.0538 2.42162C28.8061 2.27012 29.637 2.08197 30.5383 1.87786C30.8961 1.79684 31.2649 1.71331 31.6444 1.62855C34.2875 1.03823 37.3831 0.402475 40.3554 0.28405C43.3138 0.166176 46.2882 0.553311 48.5965 2.13987Z" fill="#222222"/>
</svg>


       </div>
   </div>
</div>
</footer>

</div>
</div>

{{> layout/bottom}}