   <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/4</span></div>
            <nav class="nav" id='menu'>

                <a href="#main" class="nav__link active ">триомед</a>

                <a href="#about" class="nav__link">о клубе</a>
                <a href="#work" class="nav__link">как работает
                    клуб</a>
                <a href="#reason" class="nav__link">наши фишки</a>



            </nav>

        </div>