.footer {
  flex-shrink: 0;
  height: 100vh;
  max-width: 340px;
  background: url($images_dir+ 'footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;;

  position: fixed;
  right: 0;
  z-index: 13;
@include desktop-medium {
  width: 290px;
}
@include mobile {
  position: static;
  max-width: 100%;
 height:  auto;
}
  &__inner {
padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 70px;
    @include desktop-medium {
      padding-right: 50px;
    }
    @include mobile {
      padding-right: 40px;
    }
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 99;
  
  

  }
  &__top {

  }
  &__info {
    text-align: right;
    @include mobile {
      text-align: center;
    }
    &-item {
      @include helveticaNeueCur-roman;
      color: #ffffff;
      letter-spacing: 0.01em;
    

      &.tel {

        font-size: 18px;
        line-height: 18px;
        margin-bottom: 35px;
 @include mobile {
   margin-bottom: 15px;
   display: flex;
   flex-direction: column;
 }
        .tel {
          &__item {

            margin-bottom: 20px;
            display: inline-block;

            &:last-child {
              margin-bottom: 0;
            }

          }
        }
      }

      &.adress {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;
        @include mobile {
          margin-bottom: 20px;
        }
      }

      &.work {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;
        @include mobile {
          margin-bottom: 20px;
        }
        .work {
          &__item {
            display: block;

          }
        }
      }

      &.email {
        font-size: 16px;
        line-height: 16px;
      }
    }
  
  }
&-bottom {
 display: none;
@include mobile {
  margin-top: 30px;
}
}
  &.footer-wrap {
    .footer {
      &__inner {
        justify-content: space-between;
       
      }
      &-bottom {
        display: block;
     
    &__subtext {
      color: rgba(255, 255, 255, 0.5);
      font-size: 14px;
      line-height: 21px;
      @include helveticaNeueCur-roman;
      text-align: center;
      margin-top: 20px;
      display: none;
      @include mobile {
        display: block;
      }
    }
        
      }
      &__action {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        @include mobile {
          align-items: center;
        }
        &-text {
          color: #ffffff;
          @include helveticaNeueCur-roman;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.01em;
          text-align: right;
          margin-bottom: 15px;
          max-width: 100%;
          @include mobile {
            display: none;
          }
        }

      }
    }
  }
  &__logo {
   display: none;
   @include mobile {
    display: flex;
    justify-content: center;
    margin-top: 40px;
   }
  }
}
