.footer {
  flex-shrink: 0;
  height: 100vh;
  max-width: 340px;
  background: url($images_dir+ 'footer-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;;

  position: fixed;
  right: 0;
  z-index: 3;


  &__inner {
padding-left: 40px;
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 70px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    z-index: 9999;
  
  

  }

  &__info {
    &-item {
      @include helveticaNeueCur-roman;
      color: #ffffff;
      letter-spacing: 0.01em;
      text-align: right;

      &.tel {

        font-size: 18px;
        line-height: 18px;
        margin-bottom: 35px;

        .tel {
          &__item {

            margin-bottom: 15px;
            display: inline-block;

            &:last-child {
              margin-bottom: 0;
            }

          }
        }
      }

      &.adress {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;

      }

      &.work {
        font-size: 16px;
        line-height: 20px;
        margin-bottom: 60px;

        .work {
          &__item {
            display: block;

          }
        }
      }

      &.email {
        font-size: 16px;
        line-height: 16px;
      }
    }
  
  }
&-bottom {
 display: none;

}
  &.footer-wrap {
    .footer {
      &__inner {
        justify-content: space-between;
       
      }
      &-bottom {
        display: block;
     
    
        
      }
      &__action {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        &-text {
          color: #ffffff;
          @include helveticaNeueCur-roman;
          font-size: 16px;
          line-height: 21px;
          letter-spacing: 0.01em;
          text-align: right;
          margin-bottom: 15px;
          max-width: 100%;
        }

      }
    }
  }
}
