.header {
  height: 100vh;
  width: 150px;


  background-color: #fff;
  position: fixed;

  left: 0;
  top: 0;
  z-index: 99;
  transition: all 0.3s ease-out;
  box-shadow: 0 2px 19px 0 rgba(0, 0, 0, .06);
  @include mobile {
    width: 100%;
    height: 76px;

  }

  &__inner {
@include mobile {
  padding: 0;
  display: block;
  position: relative;
}
    padding: 35px 42px;
    display: flex;

    height: 100%;

  }

  &__logo {
    height: 66px;
    width: 100%;
    position: relative;
    z-index: 9999;
    @include mobile {
      z-index: 99;
      max-width: 118px;
      height: auto;
    }
    .logo {
      position: absolute;
      z-index: 9;
      @include mobile {
       display: none;
      }
    }
    .logo-mini {
       display: none;
       @include mobile {
         display: inline-block;
         z-index: 9999;
         position: relative;
        
       }
    }
  }

  &__social {
    @include mobile {
      display: none;
    }
    &-item {
      display: flex;
      justify-content: center;
      margin-bottom: 15px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      display: inline-block;

      &:hover {
        svg {
          fill: #C8102E;
          transition: fill .3s .02s ease;
        }
      }

    }
  }

  &-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
    max-width: 100%;
    @include mobile {
           position: fixed;
           top: 0;
           left: 0;
           height: 76px;
           width: 100%;
      flex-direction: row;
      align-items: center;
      padding: 20px 15px;
      box-shadow: 0 1px 4px rgba(0,0,0,.15);
    }
  }

  &-right {
    display: none;
  }

  &-open {
    .header {
      &__inner {
        position: relative;
        z-index: 9999;
      }
      &-right {
        display: flex;
      }
    }

    width: 452px;
    transition: all 0.3s ease-out;
    @include mobile {
      width: 100%;
      height: 100vh;
      padding-top: 76px;
    }

  }

  &__nav {
    margin-top: 130px;
    padding-left: 80px;
    list-style: none;
@include mobile {
  margin-top: 70px;
}
    &-item {
      @include helveticaNeueCur-roman;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.01em;
      color: #222222;
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    &-link {
      display: inline-block;
    }

    .submenu {
      display: none;
      padding-top: 10px;
      padding-bottom: 10px;
      padding-left: 33px;

      &__item {
        margin-bottom: 10px;
        @include helveticaNeueCur-roman;
        font-size: 14px;
        line-height: 18px;
        letter-spacing: 0.01em;
        color: #888888;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &__link {
        display: inline-block;
      }
    }

    .submenu-wrap {
      cursor: pointer;
    }
  }
  &-mobile__action {
    display: none;
    @include mobile {
      display: block;
      a {
        color: #fff;
        background-color: #c8102e;
        border-radius: 4px;
      @include mobileS {
        padding-left: 15px;
        padding-right: 15px;
       
      }
      }
    }
    
  }
}
