{{!О клубе}}



{{> layout/header}}
<div class="content about-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item active"><a href="#" class="breadcrumbs__link active">О клубе</a>
            </li>
            <li class="breadcrumbs__item mobile"><a href="#" class="breadcrumbs__link "><svg width="34" height="6"
                        viewBox="0 0 34 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-2.61319e-07 3.01086L2.10141 4.04477e-07L3.23339 3.05516e-07L1.52303 2.51123L34 2.51123L34 3.49963L1.52303 3.49963L3.23339 6L2.10141 6L-2.61319e-07 3.01086Z"
                            fill="#777777" />
                    </svg>
                    услуги</a>
            </li>
        </ul>
    </div>

    <section class="section about-page-main" data-section-name='about-page-main'>
        <div class="container">
            <div class="section__inner">
                <h2 class="section__title">
                    Triomed Club: нет – залечиванию,<br> да – здоровью
                </h2>
                <div class="section__info">
                    <p>Мы стоматологическая клиника Triomed Club, для которой важно, чтобы ваши зубы остались с вами
                        надолго.</p>
                    <p>Мы создали клуб для тех, чья цель совпадает с нашей. <b>Здесь мы партнеры:</b></p>
                    <p class="text-padding">— Вы – ответственно относитесь к уходу за полостью рта, приходите на
                        обследование раз в полгода и следуете нашим рекомендациям.</p>
                    <p class="text-padding">— Мы – напоминаем вам о приемах, составляем план лечения, вылечиваем зубы,
                        подбираем средства для ухода за полостью рта.</p>
                </div>
            </div>
        </div>

    </section>
    <div class="container">
        <section class="section about-page-reason" data-section-name='about-page-reason'>
            <div class="section__inner">
                <h2 class="section__title">
                    Почему мы клуб, а не просто клиника?
                </h2>
                <div class="section__info">
                    <div class="row reason__row">
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title"><svg width="32" height="36" viewBox="0 0 32 36" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.5523 3.07233C13.31 3.14129 13.0737 3.21304 12.8436 3.28708L12.5959 2.53774C12.8346 2.46093 13.0796 2.38652 13.3309 2.31501L13.5523 3.07233ZM14.6309 2.79471C14.509 2.82284 14.3884 2.85175 14.2691 2.88138L14.074 2.11705C14.1976 2.08634 14.3226 2.05638 14.449 2.02722C14.5748 1.99818 14.7013 1.97118 14.8282 1.94614L14.9849 2.71904C14.8662 2.74246 14.7482 2.76766 14.6309 2.79471ZM12.1414 3.52649C11.9032 3.61233 11.6725 3.70029 11.4493 3.78969L11.1487 3.05938C11.3805 2.96655 11.62 2.87524 11.8672 2.78615L12.1414 3.52649ZM10.7676 4.07687C10.5343 4.18008 10.3107 4.28421 10.0969 4.38831L9.74333 3.68149C9.96575 3.57321 10.1982 3.46495 10.4406 3.35771L10.7676 4.07687ZM16.4267 2.52033C16.1836 2.54068 15.9417 2.567 15.7017 2.59984L15.592 1.81911C15.8468 1.78426 16.1028 1.75642 16.3592 1.73495L16.4267 2.52033ZM9.43844 4.72421C9.20992 4.84629 8.99528 4.96687 8.79471 5.08433L8.38685 4.40657C8.5962 4.28397 8.81997 4.15826 9.058 4.03111L9.43844 4.72421ZM17.8908 2.46575C17.6464 2.46434 17.4016 2.46783 17.1572 2.47676L17.1276 1.6891C17.3841 1.67974 17.6403 1.6761 17.8955 1.67757L17.8908 2.46575ZM8.1668 5.4697C7.93743 5.61725 7.73456 5.75565 7.55861 5.88085L7.09122 5.24159C7.27691 5.10946 7.4901 4.96405 7.73037 4.80948L8.1668 5.4697ZM19.3613 2.52974C19.1179 2.5105 18.8724 2.49515 18.6257 2.48428L18.6613 1.69687C18.9179 1.70817 19.1728 1.72411 19.4251 1.74406L19.3613 2.52974ZM26.7077 3.46103C26.7989 3.65923 26.7099 3.89282 26.509 3.98279L23.2351 5.44882C23.0342 5.53878 22.7974 5.45104 22.7063 5.25285C22.6151 5.05466 22.704 4.82106 22.9049 4.7311L25.815 3.42796L24.4941 0.557087C24.4029 0.358895 24.4918 0.125299 24.6927 0.0353362C24.8936 -0.0546268 25.1304 0.0331104 25.2216 0.231303L26.7077 3.46103ZM6.16596 5.96816L6.16679 5.9674L6.16822 5.96608L6.17278 5.96191L6.1887 5.94755C6.20232 5.93535 6.22196 5.91795 6.24758 5.89577C6.29881 5.85141 6.37396 5.78786 6.47271 5.70831L6.97807 6.31881C6.88694 6.39223 6.81902 6.44971 6.77464 6.48814C6.75246 6.50735 6.73616 6.52179 6.7258 6.53108L6.71471 6.54108L6.71251 6.54309L6.16596 5.96816ZM20.8288 2.69256C20.588 2.65851 20.3432 2.62735 20.0953 2.59976L20.1849 1.81653C20.4411 1.84505 20.6939 1.87722 20.9421 1.91233L20.8288 2.69256ZM22.2866 2.93951C22.0506 2.89313 21.8078 2.84843 21.5592 2.80626L21.6947 2.02946C21.9505 2.07287 22.2002 2.11884 22.4427 2.16651L22.2866 2.93951ZM23.7335 3.26132C23.5047 3.20455 23.2637 3.14756 23.0123 3.09161L23.1881 2.32273C23.4462 2.38018 23.6935 2.43866 23.9283 2.49691L23.7335 3.26132ZM25.1601 3.65217C24.9499 3.58888 24.712 3.51995 24.45 3.44821L24.6636 2.68872C24.9326 2.76236 25.1771 2.83318 25.3934 2.8983L25.1601 3.65217Z"
                                        fill="#222222" />
                                    <path
                                        d="M32 0.963208L30.5404 3.42586L27.9237 6.95434L27.2017 6.5379L29.0404 2.57682L30.5071 0.102091L32 0.963208Z"
                                        fill="#222222" />
                                    <path
                                        d="M27.8634 8.05347L26.9547 9.58659L25.3639 8.66901L26.2726 7.13588L27.8634 8.05347Z"
                                        fill="#222222" />
                                    <path
                                        d="M3.5405 10.5523L3.15866 9.03445L4.72152 8.65182L5.10336 10.1697L3.5405 10.5523Z"
                                        fill="#222222" />
                                    <path
                                        d="M3.08146 8.1652C2.95117 7.64728 2.89844 7.21612 2.92326 6.8717C2.95415 6.51733 3.10013 6.14325 3.36118 5.74945C3.38547 5.70967 3.44516 5.62316 3.54026 5.48992C3.64142 5.34673 3.70719 5.25027 3.73755 5.20055L3.89239 4.94694C3.96326 4.81963 4.00683 4.72015 4.0231 4.6485C4.04745 4.57487 4.07182 4.48431 4.09623 4.37683C4.12671 4.25941 4.138 4.15091 4.1301 4.05134C4.12827 3.94183 4.11333 3.8313 4.08527 3.71975C3.99707 3.36916 3.8078 3.11099 3.51745 2.94524C3.2271 2.77948 2.89616 2.74208 2.52463 2.83304C1.57964 3.0644 1.23331 3.74975 1.48563 4.88909L0.092388 5.23019C-0.0897192 4.33587 -0.0026109 3.57442 0.353713 2.94584C0.708032 2.30928 1.34153 1.87928 2.25421 1.65584C3.06996 1.45612 3.7793 1.51507 4.38223 1.83268C4.99123 2.14034 5.38493 2.64875 5.56332 3.35789C5.62947 3.62082 5.66033 3.8628 5.6559 4.0838C5.65148 4.30481 5.59963 4.52474 5.50035 4.74359C5.40107 4.96245 5.30892 5.14149 5.22391 5.28072C5.1389 5.41996 4.99726 5.62381 4.79899 5.89227C4.48134 6.33376 4.30218 6.64407 4.2615 6.8232C4.21882 6.99436 4.26162 7.33491 4.3899 7.84486L3.08146 8.1652Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M9.44808 36C7.46475 35.9995 6.18623 33.7808 5.93067 28.0674C5.82107 25.6257 4.97586 23.9943 4.15356 22.4072C2.79667 19.8865 1.99081 18.2328 2.79661 14.4209C3.90073 9.19616 9.73326 10.4856 13.3358 11.2821C14.323 11.5003 15.1428 11.6816 15.6519 11.6816C16.1609 11.6816 16.9806 11.5003 17.9677 11.2821C21.57 10.4856 27.4026 9.19606 28.5071 14.4209C29.3126 18.2326 28.2518 20.2801 27.1499 22.4068C26.3275 23.9941 25.4823 25.6255 25.3729 28.0674C25.1172 33.7808 23.8393 35.9995 21.8555 36C20.2157 36.0002 19.3113 33.585 18.4461 31.2743C17.6578 29.169 16.9019 27.1505 15.652 27.1241C14.4018 27.1505 13.6459 29.1692 12.8575 31.2745C12.8175 31.3812 12.7777 31.4881 12.7379 31.5949C11.9148 33.803 11.096 36 9.44808 36ZM15.6519 25.4261L15.6918 25.4269C16.5976 25.4461 17.2985 25.8542 17.7852 26.2997C18.253 26.7279 18.603 27.2586 18.8727 27.7483C19.352 28.6188 19.7636 29.7197 20.1279 30.6941C20.1682 30.802 20.208 30.9084 20.2472 31.0128C20.6736 32.1471 21.0504 33.0888 21.4671 33.7475C21.701 34.1173 21.855 34.2541 21.9201 34.2994C21.9956 34.2917 22.0468 34.2686 22.1071 34.224C22.2112 34.1472 22.4084 33.9494 22.6293 33.4818C23.0868 32.5133 23.4599 30.7923 23.5851 27.9954C23.7116 25.172 24.7314 23.2142 25.5611 21.6216C25.6956 21.3633 25.8252 21.1146 25.9451 20.8734C26.7652 19.2239 27.358 17.6192 26.7527 14.7547C26.4908 13.5159 25.9411 12.9684 25.3729 12.6708C24.7125 12.325 23.7649 12.1841 22.5403 12.2499C21.3343 12.3146 20.0625 12.5659 18.8621 12.8279C18.7079 12.8615 18.5521 12.896 18.3969 12.9303L18.3954 12.9306C17.9736 13.0239 17.5569 13.116 17.1899 13.1883C16.7098 13.2829 16.1494 13.3791 15.6519 13.3791C15.1544 13.3791 14.5939 13.2829 14.1138 13.1883C13.7468 13.116 13.3298 13.0238 12.9081 12.9306C12.7526 12.8962 12.596 12.8616 12.4414 12.8279C11.241 12.5659 9.96918 12.3146 8.76309 12.2499C7.53845 12.1841 6.59093 12.325 5.93062 12.6708C5.36242 12.9684 4.81285 13.5158 4.55106 14.7546C3.94552 17.6192 4.53818 19.224 5.35819 20.8735C5.47813 21.1147 5.60776 21.3636 5.74233 21.6219C6.66684 23.1517 7.59169 25.172 7.71842 27.9952C7.84352 30.792 8.21675 32.5132 8.67432 33.4817C8.89524 33.9493 9.09251 34.1472 9.19664 34.2241C9.25695 34.2686 9.30812 34.2917 9.38342 34.2994C9.44858 34.2541 9.60254 34.1173 9.83642 33.7476C10.2531 33.0889 10.63 32.1472 11.0564 31.0128C11.0956 30.9085 11.1354 30.8021 11.1757 30.6942C11.54 29.7198 11.9517 28.6188 12.4311 27.7483C12.7008 27.2586 13.0508 26.7279 13.5187 26.2997C14.0054 25.8542 14.7062 25.4461 15.612 25.4269L15.6519 25.4261Z"
                                        fill="#222222" />
                                </svg>
                                Открытость и обучение
                            </h3>
                            <div class="col__info">
                                Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы за доверие
                            </div>
                        </div>
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title"><svg width="34" height="32" viewBox="0 0 34 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M13.0676 21.2778L13.1073 21.2786C14.0083 21.2981 14.7053 21.7119 15.1895 22.1637C15.6547 22.5979 16.0029 23.136 16.2711 23.6326C16.7479 24.5152 17.1572 25.6316 17.5195 26.6197C17.5597 26.7291 17.5992 26.837 17.6382 26.9428C18.0623 28.0931 18.4371 29.048 18.8516 29.7159C19.0842 30.0909 19.2374 30.2296 19.3022 30.2756C19.3772 30.2677 19.4282 30.2443 19.4881 30.1991C19.5917 30.1212 19.7878 29.9206 20.0075 29.4465C20.4626 28.4644 20.8337 26.7193 20.9582 23.8832C21.084 21.0201 22.0983 19.0349 22.9235 17.4199C23.0574 17.1581 23.1862 16.9059 23.3055 16.6613C24.1212 14.9887 24.7108 13.3615 24.1087 10.4568C23.8482 9.20063 23.3015 8.64544 22.7363 8.34368C22.0795 7.99301 21.137 7.85015 19.919 7.91682C18.7194 7.98249 17.4545 8.23729 16.2606 8.50292C16.1067 8.53716 15.9512 8.57221 15.7964 8.6071C15.3769 8.70167 14.9623 8.79512 14.5974 8.86845C14.1199 8.96439 13.5625 9.06192 13.0676 9.06192C12.5728 9.06192 12.0154 8.9644 11.5378 8.86846C11.1728 8.79512 10.7581 8.70167 10.3385 8.60709C10.1838 8.57221 10.0283 8.53717 9.87443 8.50294C8.68048 8.2373 7.41547 7.98251 6.21586 7.91684C4.9978 7.85017 4.05538 7.99304 3.39861 8.34369C2.83348 8.64542 2.28686 9.20055 2.02648 10.4567C1.42419 13.3615 2.01366 14.9888 2.82927 16.6614C2.94858 16.906 3.07747 17.1583 3.21134 17.4203C4.03649 19.0352 5.05076 21.0202 5.1768 23.8829C5.30123 26.719 5.67245 28.4643 6.12757 29.4464C6.3473 29.9206 6.54351 30.1212 6.64707 30.1992C6.70706 30.2443 6.75796 30.2677 6.83285 30.2756C6.89766 30.2296 7.05079 30.0909 7.28342 29.716C7.69789 29.048 8.07273 28.0932 8.49683 26.9429C8.53583 26.8371 8.57538 26.7293 8.61551 26.6198C8.97788 25.6317 9.38728 24.5153 9.86411 23.6326C10.1324 23.136 10.4806 22.5979 10.9459 22.1637C11.43 21.7119 12.1271 21.2981 13.0279 21.2786L13.0676 21.2778ZM6.89716 32C4.9245 31.9995 3.65286 29.7497 3.39867 23.9562C3.28965 21.4802 2.44899 19.826 1.63112 18.2166C0.53509 16.0599 -0.520008 13.9837 0.281458 10.1183C1.37964 4.82031 6.7784 6.03714 10.764 6.93546C11.7459 7.15678 12.5613 7.34056 13.0676 7.34056C13.5739 7.34056 14.3891 7.15679 15.371 6.93548C18.9539 6.12786 24.7551 4.8202 25.8537 10.1183C26.8603 14.252 25.5998 16.0596 24.5038 18.2162C23.6858 19.8257 22.8451 21.48 22.7363 23.9562C22.482 29.7497 21.211 31.9995 19.2378 32C17.5231 32 16.7074 29.5511 15.8468 27.208C15.0627 25.0732 14.3109 23.0264 13.0677 22.9996C11.8243 23.0264 11.0724 25.0734 10.2882 27.2082C9.42757 29.5513 8.61551 32 6.89716 32Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M24.5427 15.9479L25.7588 15.3568L27.4911 18.9619L27.6362 19.1273C27.7672 19.2763 27.9541 19.4885 28.1775 19.7407C28.6247 20.2453 29.217 20.9089 29.7997 21.547C30.1476 21.9279 30.62 22.6496 31.0969 23.4859C31.583 24.3385 32.1028 25.3622 32.5408 26.382C32.9757 27.3947 33.3441 28.4358 33.5077 29.3146C33.5891 29.7517 33.6276 30.1879 33.5777 30.5775C33.5282 30.9647 33.378 31.3955 32.9971 31.6823C32.6356 31.9547 32.2183 32.0508 31.7954 31.9749C31.4 31.9039 31.0472 31.6919 30.7469 31.4402C30.1495 30.9398 29.5844 30.1334 29.085 29.2331C28.0769 27.4158 27.2011 24.9656 26.8204 23.0221L26.818 23.0097L26.2719 19.5463L24.5427 15.9479ZM27.9508 21.5213L28.148 22.7718C28.5033 24.5772 29.3293 26.8856 30.2645 28.5713C30.7377 29.4244 31.2059 30.0569 31.6113 30.3966C31.8124 30.565 31.9534 30.6234 32.0328 30.6377C32.0836 30.6468 32.1217 30.6435 32.1832 30.5983C32.1915 30.5871 32.221 30.5383 32.2382 30.4042C32.2627 30.2129 32.2489 29.9336 32.1802 29.5646C32.0436 28.8309 31.7201 27.8966 31.3009 26.9207C30.8849 25.952 30.3884 24.974 29.9252 24.1616C29.4528 23.333 29.043 22.7265 28.805 22.4659C28.5161 22.1495 28.2252 21.8274 27.9508 21.5213ZM32.1809 30.601L32.1822 30.5995L32.1809 30.601Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M21.3629 15.1338C25.0918 15.1338 28.1147 12.0935 28.1147 8.34311C28.1147 4.59272 25.0918 1.55243 21.3629 1.55243C17.6339 1.55243 14.611 4.59272 14.611 8.34311C14.611 12.0935 17.6339 15.1338 21.3629 15.1338ZM21.3629 16.6862C25.9443 16.6862 29.6582 12.9509 29.6582 8.34311C29.6582 3.73534 25.9443 0 21.3629 0C16.7815 0 13.0675 3.73534 13.0675 8.34311C13.0675 12.9509 16.7815 16.6862 21.3629 16.6862Z"
                                        fill="#222222" />
                                </svg>

                                Командная работа
                            </h3>
                            <div class="col__info">
                                Ставят диагноз, назначают лечение 3 врача: терапевт, ортопед и хирург
                            </div>
                        </div>
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title">
                                <svg width="35" height="32" viewBox="0 0 35 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M3.64452 23.4583C3.9171 29.6104 5.28073 31.9995 7.39609 32C9.15366 32 10.0271 29.6343 10.9049 27.2567C10.9473 27.1416 10.9898 27.0265 11.0324 26.9117C11.8733 24.6447 12.6796 22.471 14.013 22.4425C15.3462 22.4709 16.1523 24.6445 16.9931 26.9114C17.9159 29.3996 18.8805 32.0002 20.6294 32C22.7453 31.9995 24.1083 29.6104 24.381 23.4583C24.4977 20.8289 25.3992 19.0722 26.2763 17.363C27.4516 15.073 28.583 12.8683 27.7239 8.76394C26.5458 3.13787 20.3249 4.52647 16.4828 5.38409C15.43 5.6191 14.5558 5.81424 14.0129 5.81424C13.4699 5.81424 12.5956 5.61908 11.5426 5.38406C7.70025 4.52646 1.47944 3.13799 0.301818 8.76394C-0.557624 12.8686 0.573797 15.0732 1.74911 17.3635C2.62614 19.0724 3.52762 20.8291 3.64452 23.4583ZM14.0555 20.615L14.0129 20.6141L13.9704 20.615C13.0043 20.6357 12.2568 21.0751 11.7376 21.5549C11.2387 22.0159 10.8653 22.5874 10.5777 23.1147C10.0663 24.0521 9.62732 25.2375 9.23874 26.2868C9.19571 26.403 9.15329 26.5176 9.11146 26.6299C8.65669 27.8514 8.25473 28.8653 7.81028 29.5746C7.56083 29.9727 7.39662 30.12 7.32712 30.1689C7.24681 30.1605 7.19223 30.1356 7.1279 30.0877C7.01684 30.0049 6.80644 29.7919 6.57082 29.2884C6.08278 28.2455 5.68471 26.3921 5.55128 23.3805C5.41612 20.3406 4.4297 18.1652 3.44364 16.5179C3.30011 16.2397 3.16186 15.9717 3.03393 15.712C2.15932 13.9359 1.52721 12.2078 2.17307 9.12326C2.45228 7.78935 3.03844 7.19986 3.64446 6.87945C4.34873 6.5071 5.35933 6.35538 6.6655 6.42619C7.95188 6.49592 9.3084 6.76648 10.5887 7.04856C10.7537 7.08491 10.9204 7.12212 11.0864 7.15916C11.5363 7.25958 11.981 7.35885 12.3724 7.43671C12.8845 7.53859 13.4823 7.64215 14.0129 7.64215C14.5435 7.64215 15.1413 7.53857 15.6533 7.43669C16.0447 7.35883 16.4892 7.2596 16.939 7.15919L16.9406 7.15883C17.1061 7.12189 17.2723 7.0848 17.4369 7.04854C18.7171 6.76647 20.0736 6.4959 21.3599 6.42617C22.666 6.35536 23.6767 6.50707 24.381 6.87945C24.9871 7.19989 25.5733 7.78944 25.8527 9.12338C26.4983 12.2078 25.866 13.9358 24.9913 15.7119C24.8634 15.9716 24.7253 16.2394 24.5818 16.5175C23.6969 18.2325 22.6091 20.3405 22.4742 23.3808C22.3407 26.3925 21.9428 28.2456 21.4548 29.2885C21.2192 29.792 21.0089 30.0049 20.8979 30.0877C20.8335 30.1356 20.7789 30.1605 20.6984 30.1689C20.6289 30.12 20.4647 29.9727 20.2153 29.5746C19.7708 28.8653 19.3689 27.8513 18.9141 26.6298C18.8723 26.5175 18.8299 26.4029 18.7868 26.2867C18.3983 25.2374 17.9594 24.052 17.4481 23.1147C17.1605 22.5874 16.7872 22.0159 16.2882 21.5549C15.7691 21.0751 15.0216 20.6357 14.0555 20.615Z"
                                        fill="#222222" />
                                    <path
                                        d="M20.2336 13.9336L16.5344 8.89968C15.7627 7.79792 13.1817 9.41566 13.9533 10.5174L17.9035 16.0172C18.6752 17.119 20.1106 18.5203 21.2168 17.7518C21.5313 17.5332 21.8748 17.0722 22.1101 16.7634C22.1101 16.7634 22.3778 16.3886 22.5487 16.047C22.9026 15.34 23.0667 15.1136 23.1071 15.0049C23.9994 13.0922 27.9944 4.96428 34.5946 0C34.5946 0 26.4297 2.71551 20.2336 13.9336Z"
                                        fill="#222222" />
                                </svg>

                                Гарантия
                            </h3>
                            <div class="col__info">
                                Мы хотим сопровождать пациента на протяжении всей жизни, поэтому создали клуб – зачем
                                нам делать некачественно?
                            </div>
                        </div>
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title">
                                <svg width="33" height="32" viewBox="0 0 33 32" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M23.1527 3.54723C23.1527 3.11191 23.5133 2.75896 23.9575 2.75896C24.4015 2.75896 24.7622 3.11191 24.7622 3.54723V8.34466L27.3428 10.8726C27.6572 11.1805 27.6572 11.6792 27.3428 11.9873C27.1856 12.1412 26.9796 12.2182 26.7738 12.2182C26.568 12.2182 26.362 12.1412 26.2049 11.9873L23.1527 8.99734V3.54723Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M22.7001 0.0888854C25.486 -0.299141 28.2239 0.594956 30.2114 2.54219C33.6629 5.92289 33.6629 11.4238 30.2114 14.8047C28.8485 16.1398 27.1482 16.9476 25.3769 17.2283C25.2806 17.5031 25.0906 17.8773 24.8155 18.4045C23.9872 19.992 23.1358 21.6237 23.0256 24.0661C22.768 29.7805 21.4809 31.9995 19.4826 32C17.8309 32.0002 16.9199 29.5846 16.0484 27.2735C15.2544 25.1679 14.493 23.149 13.2339 23.1225C11.9747 23.149 11.2132 25.1681 10.4191 27.2737C10.3789 27.3804 10.3387 27.4873 10.2986 27.5942C9.46963 29.8026 8.64478 32 6.98491 32C4.98716 31.9995 3.69933 29.7805 3.44191 24.0661C3.33151 21.6239 2.48015 19.9923 1.65187 18.4049C0.541898 16.2776 -0.526624 14.2298 0.285039 10.4172C1.3972 5.19159 7.27217 6.48126 10.9009 7.27785C11.8953 7.49615 12.7211 7.67741 13.2339 7.67741C13.6836 7.67741 14.3739 7.53799 15.2077 7.35643C15.4673 5.69175 16.2211 4.08725 17.469 2.77256H15.9857C15.5412 2.77256 15.1809 2.42 15.1811 1.98429C15.1809 1.76692 15.2711 1.56985 15.4167 1.42698C15.5624 1.2845 15.7636 1.19601 15.9857 1.19641H19.4001C19.8164 1.19641 20.1638 1.50699 20.2016 1.91314L20.4861 4.97893C20.5265 5.41268 20.1996 5.79538 19.7574 5.83539C19.3148 5.87461 18.9233 5.55516 18.8831 5.12181L18.7549 3.73918C16.0116 6.51173 16.0341 10.9503 18.8308 13.6899C21.6545 16.4558 26.2489 16.4558 29.0733 13.6899C31.8969 10.9237 31.8969 6.42265 29.0733 3.6568C27.4466 2.0637 25.2062 1.33199 22.9268 1.64986C22.4864 1.71115 22.0794 1.41141 22.0169 0.980224C21.9541 0.549236 22.2607 0.150568 22.7001 0.0888854ZM15.1168 9.11683C15.0021 9.14073 14.8905 9.16342 14.7831 9.18443C14.2995 9.27906 13.735 9.37526 13.2339 9.37526C12.7327 9.37526 12.1682 9.27907 11.6846 9.18444C11.315 9.11212 10.8949 9.01991 10.4701 8.92665C10.3133 8.89224 10.1559 8.85768 10.0001 8.82391C8.79092 8.56191 7.50981 8.31059 6.29494 8.24582C5.06139 8.18006 4.10697 8.32098 3.44185 8.66684C2.86953 8.96445 2.31595 9.51199 2.05226 10.751C1.44231 13.6161 2.03928 15.2212 2.86526 16.8709C2.98608 17.1122 3.11665 17.3611 3.2522 17.6194C4.18343 19.1495 5.11502 21.1702 5.24266 23.9938C5.36868 26.7911 5.74462 28.5126 6.20553 29.4813C6.42805 29.949 6.62676 30.1469 6.73164 30.2238C6.79239 30.2683 6.84394 30.2914 6.91978 30.2991C6.98542 30.2538 7.1405 30.117 7.37608 29.7472C7.79582 29.0884 8.17544 28.1465 8.60493 27.012C8.64428 26.908 8.6842 26.802 8.72468 26.6945L8.72513 26.6933C9.0921 25.7187 9.50673 24.6175 9.98961 23.7469C10.2613 23.2571 10.6139 22.7263 11.0851 22.2981C11.5754 21.8525 12.2813 21.4443 13.1937 21.4251L13.2339 21.4243L13.2741 21.4251C14.1865 21.4443 14.8924 21.8524 15.3827 22.2981C15.8539 22.7263 16.2065 23.2571 16.4781 23.7469C16.9609 24.6175 17.3755 25.7186 17.7424 26.6932C17.7831 26.8011 17.8231 26.9076 17.8626 27.0119C18.2921 28.1465 18.6717 29.0883 19.0914 29.7472C19.327 30.117 19.4821 30.2538 19.5477 30.2991C19.6238 30.2914 19.6753 30.2683 19.7361 30.2237C19.8409 30.1469 20.0396 29.9491 20.2621 29.4814C20.7229 28.5127 21.0987 26.7914 21.2248 23.994C21.3522 21.1701 22.3795 19.212 23.2152 17.6191C23.2679 17.5186 23.3199 17.4196 23.3708 17.3219C21.3016 17.1896 19.2711 16.3506 17.6931 14.8047C16.082 13.2266 15.2235 11.1871 15.1168 9.11683Z"
                                        fill="#222222" />
                                </svg>

                                Долгосрочный результат
                            </h3>
                            <div class="col__info">
                                Качество обеспечивают оборудование, материалы, обучение врачей, кейсы и портфолио врачей
                                на сайте
                            </div>
                        </div>
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title">
                                <svg width="35" height="34" viewBox="0 0 35 34" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M19.0015 0.322821C19.1619 -0.107607 19.7754 -0.107607 19.9358 0.322821L20.4528 1.70937C20.5033 1.84469 20.6108 1.95139 20.7471 2.00146L22.1442 2.51453C22.5779 2.67381 22.5779 3.2826 22.1442 3.44187L20.7471 3.95494C20.6108 4.00501 20.5033 4.11171 20.4528 4.24703L19.9358 5.63358C19.7754 6.06401 19.1619 6.06401 19.0015 5.63358L18.4845 4.24703C18.434 4.11171 18.3265 4.00501 18.1902 3.95494L16.7931 3.44187C16.3594 3.2826 16.3594 2.67381 16.7931 2.51453L18.1902 2.00146C18.3265 1.95139 18.434 1.84469 18.4845 1.70937L19.0015 0.322821ZM19.2631 1.99532L19.4687 1.44414L19.6742 1.99532C19.8087 2.35619 20.0954 2.64071 20.459 2.77424L21.0144 2.9782L20.459 3.18216C20.0954 3.31569 19.8087 3.60021 19.6742 3.96108L19.4687 4.51227L19.2631 3.96108C19.1286 3.60021 18.8419 3.31569 18.4783 3.18216L17.9229 2.9782L18.4783 2.77424C18.8419 2.64071 19.1286 2.35619 19.2631 1.99532Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M5.38063 2.53865C5.22015 2.10822 4.60674 2.10822 4.44625 2.53865L3.41271 5.31073C3.36225 5.44605 3.25475 5.55275 3.11839 5.60282L0.325272 6.62858C-0.108423 6.78785 -0.108424 7.39664 0.325271 7.55592L3.11839 8.58168C3.25475 8.63175 3.36225 8.73845 3.41271 8.87377L4.44625 11.6459C4.60674 12.0763 5.22015 12.0763 5.38063 11.6459L6.41418 8.87377C6.46463 8.73845 6.57214 8.63175 6.70849 8.58168L9.50161 7.55592C9.93531 7.39664 9.93531 6.78785 9.50161 6.62858L6.70849 5.60282C6.57214 5.55275 6.46463 5.44605 6.41418 5.31073L5.38063 2.53865ZM4.91344 4.37227L4.42494 5.68247C4.26517 6.11099 3.92474 6.44886 3.49296 6.60743L2.17281 7.09225L3.49296 7.57706C3.92474 7.73563 4.26517 8.0735 4.42494 8.50203L4.91344 9.81223L5.40194 8.50203C5.56171 8.0735 5.90214 7.73564 6.33393 7.57707L7.65407 7.09225L6.33393 6.60743C5.90215 6.44886 5.56171 6.111 5.40194 5.68247L4.91344 4.37227Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M27.8416 6.05397C28.1302 5.22715 29.3084 5.22715 29.597 6.05397L30.6195 8.98314C30.716 9.25959 30.939 9.47416 31.2203 9.56136L34.1772 10.4776C35.0466 10.747 35.0466 11.9682 34.1772 12.2376L31.2203 13.1539C30.939 13.2411 30.716 13.4557 30.6195 13.7321L29.597 16.6613C29.4278 17.146 28.9528 17.3466 28.5306 17.2629C28.5132 19.2563 27.8133 20.6153 27.0934 22.0132C26.3725 23.4128 25.6316 24.8515 25.5357 27.0048C25.3116 32.0431 24.1915 33.9996 22.4526 34C21.0153 34.0001 20.2226 31.8704 19.4641 29.8327C18.7732 27.9763 18.1106 26.1963 17.015 26.173C15.9192 26.1963 15.2566 27.9764 14.5655 29.8329C14.5307 29.9264 14.496 30.0202 14.4613 30.1138L14.4607 30.1155C13.7393 32.0626 13.0215 34 11.577 34C9.83859 33.9996 8.71792 32.0431 8.49391 27.0048C8.39783 24.8516 7.65698 23.4131 6.9362 22.0135C5.9703 20.138 5.04047 18.3324 5.74678 14.971C6.71459 10.3637 11.827 11.5007 14.9848 12.2031C15.8501 12.3955 16.5687 12.5554 17.0149 12.5554C17.4611 12.5554 18.1795 12.3956 19.0448 12.2031C20.0997 11.9685 21.3728 11.6853 22.6366 11.584C22.5297 11.1472 22.7379 10.6399 23.2614 10.4776L26.2183 9.56136C26.4997 9.47416 26.7227 9.25959 26.8192 8.98314L27.8416 6.05397ZM28.1358 9.43579L28.7193 7.76389L29.3029 9.43579C29.5442 10.1269 30.1016 10.6634 30.8051 10.8813L32.3421 11.3576L30.8051 11.8339C30.1016 12.0519 29.5442 12.5883 29.3029 13.2794L28.7193 14.9513L28.1358 13.2794C27.8945 12.5883 27.3371 12.0519 26.6336 11.8339L25.0966 11.3576L26.6336 10.8813C27.3371 10.6634 27.8945 10.1269 28.1358 9.43579ZM17.0499 24.6764L17.0149 24.6756L16.98 24.6764C16.186 24.6933 15.5717 25.0532 15.1451 25.446C14.735 25.8236 14.4281 26.2916 14.1917 26.7235C13.7715 27.4911 13.4107 28.4619 13.0914 29.3212C13.056 29.4164 13.0212 29.5102 12.9868 29.6022C12.613 30.6025 12.2827 31.4329 11.9174 32.0137C11.7124 32.3398 11.5775 32.4604 11.5204 32.5004C11.4544 32.4936 11.4095 32.4732 11.3567 32.4339C11.2654 32.3661 11.0925 32.1917 10.8988 31.7793C10.4977 30.9253 10.1706 29.4075 10.0609 26.9411C9.94986 24.4516 9.056 22.7254 8.32882 21.321C8.21095 21.0934 8.09717 20.8736 7.99211 20.661C7.27333 19.2065 6.75385 17.7913 7.28463 15.2653C7.5141 14.1729 7.99582 13.6901 8.49386 13.4277C9.07265 13.1228 9.90319 12.9985 10.9766 13.0565C12.0338 13.1136 13.1486 13.3352 14.2008 13.5662C14.3365 13.596 14.4735 13.6264 14.6098 13.6568C14.9796 13.739 15.345 13.8203 15.6667 13.8841C16.0876 13.9675 16.5788 14.0523 17.0149 14.0523C17.451 14.0523 17.9422 13.9675 18.3631 13.8841C18.6846 13.8203 19.0498 13.7391 19.4193 13.6569L19.4212 13.6565C19.5571 13.6262 19.6938 13.5958 19.8288 13.5662C20.881 13.3352 21.9957 13.1136 23.0529 13.0565C24.1263 12.9985 24.9569 13.1228 25.5357 13.4277C26.0338 13.6901 26.5156 14.1729 26.7452 15.2654C27.2758 17.7914 26.7562 19.2064 26.0373 20.661C25.9322 20.8737 25.8187 21.093 25.7007 21.3207C24.9735 22.7252 24.0796 24.4515 23.9687 26.9413C23.859 29.4077 23.5319 30.9253 23.1309 31.7794C22.9373 32.1917 22.7644 32.3662 22.6732 32.4339C22.6203 32.4732 22.5754 32.4936 22.5093 32.5004C22.4522 32.4604 22.3172 32.3398 22.1122 32.0137C21.7469 31.4328 21.4166 30.6025 21.0429 29.6021C21.0104 29.5151 20.9774 29.4264 20.944 29.3365L20.9383 29.3211C20.619 28.4618 20.2582 27.491 19.8381 26.7234C19.6017 26.2916 19.2949 25.8236 18.8849 25.446C18.4582 25.0531 17.8439 24.6933 17.0499 24.6764Z"
                                        fill="#222222" />
                                </svg>

                                Атмосфера
                            </h3>
                            <div class="col__info">
                                В клинике не пахнет препаратами, врачи не ходят в белых халатах, в кабинетах есть
                                телевизор и наушники
                            </div>
                        </div>
                        <div class="col-md-4 reason__col">
                            <h3 class="col__title">
                                <svg width="28" height="30" viewBox="0 0 28 30" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M0.200301 25.6188L0.290169 29.3505C0.290169 29.5753 0.514841 29.8001 0.739514 29.8001H26.4869C26.7116 29.8001 26.9363 29.6203 26.9363 29.3505L27.0261 25.6188C27.0261 25.5738 27.161 21.6623 22.5327 20.4933C20.4208 20.0437 18.219 19.8189 16.0622 19.7739C18.4437 18.3801 20.0613 15.2779 20.0613 11.6361C20.0613 11.5012 20.0613 11.3663 20.0613 11.2314C20.4208 10.7818 21.2745 9.29812 20.8252 5.56639C20.6904 4.71214 20.0164 3.18349 18.5335 3.09357C18.4437 2.64396 18.219 2.19435 17.8595 1.83467C17.8146 1.78971 12.6921 -2.66138 6.76073 3.31837C6.58099 3.49821 6.58099 3.76797 6.76073 3.94782C6.80566 3.99278 6.85059 4.03774 6.89553 4.03774L7.21007 4.17262C6.49112 4.80207 5.5475 6.15088 5.95191 8.66867L6.40125 11.2314C6.44618 11.3663 6.49112 11.4562 6.58099 11.5012C6.58099 11.5461 6.58099 11.5911 6.58099 11.6361C6.58099 15.2779 8.24356 18.4251 10.6251 19.7739C8.64797 19.8189 6.62592 20.0437 4.69374 20.4483C0.0654973 21.6623 0.200301 25.5738 0.200301 25.6188ZM13.456 20.808L14.8489 21.7072L14.3546 23.146H12.6022L12.1079 21.7072L13.456 20.808ZM12.6471 24.0452H14.2198L14.6242 28.9009H12.2427L12.6471 24.0452ZM26.1275 25.5738L26.0376 28.9009H15.5229L15.0736 23.6405L15.7925 21.6623C15.8824 21.4824 15.7925 21.2576 15.6128 21.1227L14.8489 20.6282C16.6463 20.6282 20.0613 20.7631 22.308 21.3026C26.2173 22.3367 26.1275 25.4389 26.1275 25.5738ZM19.9714 5.74624C20.3309 8.57875 19.8366 9.97253 19.5221 10.5121C18.0842 9.61284 17.8595 7.58962 17.8595 6.28576L17.9045 6.2408C17.9943 6.10592 18.0842 5.97104 18.1291 5.7912C18.3987 5.25167 18.5785 4.66718 18.6683 4.03774C19.6569 4.21758 19.9714 5.70128 19.9714 5.74624ZM8.2885 4.48734C8.51317 4.39742 8.64797 4.12766 8.51317 3.90286C8.46823 3.81293 8.37836 3.72301 8.2885 3.67805L7.88409 3.49821C12.9617 -1.17768 17.0956 2.32924 17.2304 2.50908C17.545 2.77884 17.7247 3.18349 17.7697 3.63309C17.7697 4.26254 17.6349 4.84703 17.3652 5.38655C17.2754 5.56639 17.1855 5.70128 17.1855 5.70128L17.0956 5.7912C14.4445 8.80355 8.82771 6.73537 8.78277 6.69041C8.5581 6.60049 8.2885 6.73537 8.19863 6.96017C8.19863 7.00513 8.15369 7.05009 8.15369 7.09505C7.97395 9.25316 7.52461 10.1074 7.21007 10.4671L6.85059 8.53379C6.31138 5.38655 8.19863 4.5323 8.2885 4.48734ZM7.47968 11.681C7.47968 11.5911 7.47968 11.5012 7.47968 11.4113C8.06382 11.0066 8.64797 10.0624 8.96251 7.76946C10.4004 8.21907 14.3546 9.11828 16.9608 7.09505C17.0956 8.57875 17.5899 10.4221 19.1626 11.3213C19.1626 11.4113 19.1626 11.5461 19.1626 11.681C19.1626 16.0872 16.5115 19.684 13.2762 19.684C10.0409 19.684 7.47968 16.0872 7.47968 11.681ZM12.0181 20.6731L11.2542 21.1677C11.0744 21.3026 10.9846 21.4824 11.0744 21.7072L11.7934 23.6855L11.344 28.9009H1.18886L1.09899 25.5738C1.09899 25.5289 0.964186 22.3367 4.91841 21.3475C6.9854 20.853 10.1308 20.7181 12.0181 20.6731Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M14.5535 0.120612C16.6301 0.500493 17.957 1.6494 18.0009 1.69336C18.3506 2.04322 18.5821 2.47137 18.6958 2.90788C19.4344 2.99972 19.9748 3.42426 20.3455 3.92432C20.7383 4.45436 20.951 5.08153 21.0226 5.53523L21.0238 5.54247C21.4617 9.179 20.678 10.7426 20.2612 11.2996V11.6361C20.2612 15.0523 18.8581 18.0269 16.7039 19.5926C18.6664 19.6656 20.6564 19.8895 22.5743 20.2978L22.5817 20.2993C24.9561 20.899 26.1258 22.2105 26.6951 23.3907C26.978 23.9773 27.1105 24.5269 27.1725 24.9332C27.2035 25.1365 27.2169 25.3046 27.2226 25.4242C27.2254 25.484 27.2263 25.5317 27.2264 25.5657C27.2265 25.5878 27.226 25.6334 27.226 25.6188V25.6236L27.1362 29.3531C27.1347 29.7445 26.8082 30 26.4869 30H0.739501C0.562112 30 0.401485 29.9133 0.289191 29.8009C0.177455 29.6891 0.0911385 29.5295 0.0902711 29.3532L0.000389507 25.6209C0.000333843 25.6274 -7.98999e-05 25.5864 1.37361e-05 25.5657C0.000168148 25.5317 0.00104358 25.484 0.00386432 25.4241C0.00950322 25.3044 0.0229206 25.1362 0.0539259 24.9326C0.11588 24.5256 0.248421 23.9747 0.531204 23.3854C1.10006 22.2001 2.26916 20.8776 4.64302 20.255L4.6527 20.2524C6.38712 19.8892 8.19283 19.6703 9.97396 19.5951C7.81815 18.0569 6.38108 15.0468 6.38108 11.6361V11.6015C6.28993 11.5129 6.24507 11.3951 6.21159 11.2946L6.20691 11.2805L5.75451 8.70036C5.37849 6.35933 6.13684 4.97719 6.85286 4.23693L6.84204 4.23229C6.78098 4.22006 6.73477 4.1895 6.70813 4.16951C6.674 4.14389 6.64268 4.11251 6.6226 4.09238L6.61933 4.08911C6.36167 3.8313 6.36158 3.43522 6.61906 3.17732C9.62961 0.142343 12.459 -0.26254 14.5535 0.120612ZM14.4815 0.513871C12.5208 0.155186 9.82333 0.514597 6.90263 3.45913C6.8009 3.56092 6.80037 3.70471 6.9021 3.8065C6.91377 3.81817 6.9227 3.82709 6.93117 3.83503C6.93222 3.83602 6.93322 3.83695 6.93418 3.83783H6.93657L7.58049 4.11396L7.34173 4.323C6.67143 4.90985 5.75678 6.19082 6.14903 8.63556L6.5955 11.1819C6.61455 11.2375 6.62976 11.2716 6.64379 11.2941C6.65656 11.3146 6.66476 11.3196 6.67041 11.3224L6.78087 11.3777V11.6361C6.78087 15.2252 8.41987 18.2952 10.7236 19.6L11.3544 19.9573L10.6296 19.9738C8.66588 20.0184 6.6578 20.2416 4.7396 20.6429C2.48851 21.2347 1.41206 22.474 0.89163 23.5584C0.384835 24.6144 0.398565 25.5383 0.400088 25.614L0.400131 25.6161L0.490107 29.3505C0.490107 29.3979 0.51576 29.4621 0.571963 29.5183C0.628172 29.5745 0.692217 29.6002 0.739501 29.6002H26.4869C26.6143 29.6002 26.7364 29.4972 26.7364 29.3505V29.3457L26.8263 25.6161L26.8263 25.614C26.8278 25.5383 26.8416 24.6148 26.335 23.5644C25.8148 22.4859 24.7387 21.2577 22.4874 20.688C20.3906 20.2419 18.2029 20.0185 16.058 19.9738L15.3501 19.959L15.9612 19.6014C18.267 18.2519 19.8614 15.2253 19.8614 11.6361V11.1613L19.9052 11.1066C20.2218 10.7105 21.0711 9.28644 20.6272 5.59395C20.5634 5.19362 20.3718 4.6313 20.0243 4.16237C19.6782 3.69536 19.1882 3.33351 18.5214 3.29308L18.3677 3.28376L18.3375 3.13273C18.255 2.71989 18.0484 2.30639 17.7181 1.97596C17.7184 1.97627 17.7175 1.97544 17.7152 1.97355C17.6822 1.94554 17.374 1.68383 16.8415 1.38028C16.2766 1.05828 15.468 0.694327 14.4815 0.513871ZM8.24688 3.44077L8.37801 3.49909C8.50426 3.56225 8.62334 3.68055 8.68844 3.80655C8.89332 4.15744 8.67442 4.54349 8.36996 4.66997C8.29856 4.70457 7.86694 4.91721 7.49904 5.45943C7.11563 6.02451 6.78593 6.97101 7.04737 8.49866L7.31634 9.94524C7.55762 9.47641 7.82486 8.62908 7.95402 7.08398C7.95562 7.045 7.96541 7.01281 7.97352 6.99117C7.98154 6.96977 7.99137 6.95016 7.99641 6.94011L7.99734 6.93825C7.99783 6.93726 7.99829 6.93633 7.99872 6.93547V6.92168L8.013 6.88596C8.13849 6.57206 8.5169 6.36868 8.85704 6.50482L8.89514 6.52007L8.89855 6.52348C8.90597 6.52645 8.91498 6.52997 8.92564 6.53404C8.96694 6.54979 9.02834 6.57196 9.10797 6.5988C9.26707 6.65244 9.4964 6.7239 9.77929 6.79933C10.3456 6.95033 11.1227 7.11627 11.9786 7.18809C13.7016 7.33268 15.6846 7.09192 16.9456 5.65912L16.9498 5.65437L16.9992 5.60492L17.0292 5.57487L17.0323 5.57011C17.0413 5.55596 17.0544 5.53498 17.0702 5.50855C17.102 5.4555 17.1443 5.38141 17.1864 5.29719C17.4401 4.78949 17.5683 4.23912 17.5697 3.64318C17.5271 3.23657 17.3652 2.88798 17.1003 2.6608L17.0836 2.64652L17.0705 2.62896C17.0727 2.63196 17.0726 2.63183 17.069 2.62823C17.0636 2.62295 17.0507 2.6102 17.0266 2.5889C16.9917 2.55803 16.9416 2.51642 16.8769 2.46689C16.7476 2.36791 16.5623 2.23925 16.3272 2.10324C15.8565 1.83104 15.1898 1.53158 14.3741 1.37923C12.8026 1.08571 10.6495 1.33244 8.24688 3.44077ZM17.3519 5.8121L17.3409 5.82857L17.2414 5.92806C15.8512 7.50328 13.7028 7.73398 11.9452 7.58648C11.0598 7.51218 10.2587 7.34091 9.67628 7.18562C9.38486 7.10791 9.1473 7.03395 8.98026 6.97764C8.89684 6.94951 8.83037 6.92558 8.78315 6.90757C8.75974 6.89864 8.73986 6.8907 8.72448 6.88413C8.71704 6.88095 8.70874 6.87728 8.70087 6.87342C8.70032 6.87314 8.69972 6.87285 8.69908 6.87253C8.59575 6.83794 8.45233 6.89604 8.39297 7.01486C8.38904 7.03447 8.38361 7.05113 8.37877 7.06403C8.37076 7.08542 8.36094 7.10502 8.3559 7.11508L8.35496 7.11695C8.35376 7.11935 8.35276 7.12136 8.35193 7.12305C8.17016 9.28955 7.71586 10.1923 7.36053 10.5987L7.08895 10.9092L6.65354 8.56754C6.3762 6.94875 6.72045 5.8949 7.16822 5.23497C7.39045 4.90744 7.63441 4.68256 7.83029 4.53595C7.92823 4.46264 8.01422 4.40884 8.07959 4.37148C8.1123 4.35279 8.13975 4.33826 8.16082 4.32752C8.17803 4.31874 8.20072 4.30773 8.19905 4.30856L8.20648 4.30484L8.21421 4.30175C8.35347 4.24602 8.39823 4.09988 8.34172 4.00564L8.33778 3.99906L8.33434 3.9922C8.30929 3.94206 8.25273 3.88494 8.20237 3.85852L7.52488 3.55723L7.74866 3.35116C10.3322 0.972014 12.6984 0.659541 14.4475 0.986238C15.3168 1.14861 16.0262 1.46736 16.5273 1.75717C16.778 1.90215 16.9775 2.04045 17.1199 2.14941C17.191 2.20385 17.2485 2.25146 17.2915 2.28943C17.3204 2.31502 17.3504 2.34284 17.3728 2.36797C17.7271 2.67824 17.9203 3.13033 17.9685 3.6132L17.9695 3.62312V3.63308C17.9695 4.29215 17.8281 4.9074 17.544 5.47589C17.4963 5.57152 17.4487 5.65479 17.4131 5.71414C17.3953 5.74391 17.3803 5.76789 17.3696 5.78465L17.357 5.80427L17.3534 5.80972L17.3524 5.8113L17.3519 5.8121ZM18.4998 3.80389L18.7041 3.84106C19.2938 3.94834 19.6589 4.43775 19.8689 4.8522C19.9766 5.06468 20.0508 5.27139 20.0981 5.42761C20.1219 5.50593 20.1392 5.5725 20.1507 5.62194C20.1564 5.64659 20.1609 5.66764 20.164 5.68425C20.1656 5.69245 20.167 5.70054 20.1681 5.70796C20.1685 5.71015 20.1696 5.71732 20.1704 5.72613C20.5323 8.58431 20.0377 10.0245 19.6948 10.6127L19.5909 10.7909L19.4161 10.6815C18.6414 10.1971 18.2041 9.41614 17.9602 8.60843C17.7163 7.80061 17.6596 6.94683 17.6596 6.28575V6.20299L17.749 6.11352C17.8351 5.98406 17.9012 5.87888 17.9352 5.74273L17.9405 5.72145L17.9503 5.70183C18.2098 5.18254 18.3834 4.61882 18.4704 4.00947L18.4998 3.80389ZM18.8293 4.29498C18.7294 4.85114 18.5589 5.37364 18.3173 5.86169C18.2623 6.06429 18.1603 6.21728 18.0759 6.34391L18.0598 6.3681C18.0645 6.99683 18.1247 7.77021 18.3429 8.49285C18.5495 9.17697 18.8926 9.79997 19.4491 10.2194C19.733 9.60973 20.0901 8.26896 19.7731 5.77139L19.7722 5.76418L19.7713 5.75896C19.7694 5.74881 19.7661 5.7332 19.7613 5.71262C19.7518 5.67162 19.7367 5.61349 19.7155 5.54359C19.673 5.40334 19.6068 5.21945 19.5123 5.03291C19.3515 4.71559 19.1277 4.42648 18.8293 4.29498ZM19.7729 5.76779C19.7731 5.77007 19.7732 5.77009 19.7729 5.76779V5.76779ZM17.1268 6.71311L17.1599 7.07695C17.2936 8.54796 17.7797 10.3004 19.2618 11.1478L19.3625 11.2054V11.681C19.3625 13.9226 18.6884 15.9658 17.5936 17.4533C16.4991 18.9404 14.973 19.8839 13.2762 19.8839C11.5786 19.8839 10.0746 18.9396 9.00252 17.4517C7.93053 15.9638 7.27977 13.9211 7.27977 11.681V11.3066L7.36584 11.2469C7.87797 10.8922 8.45179 10.0217 8.76446 7.74228L8.79658 7.50813L9.02215 7.57867C9.73022 7.80006 11.0585 8.13207 12.5273 8.1597C13.998 8.18736 15.5856 7.9096 16.8383 6.93714L17.1268 6.71311ZM9.12724 8.02786C8.81827 10.0744 8.27917 11.0464 7.67956 11.5124V11.681C7.67956 13.8471 8.30943 15.8058 9.32688 17.218C10.3443 18.63 11.7385 19.4841 13.2762 19.4841C14.8147 19.4841 16.2318 18.6291 17.2717 17.2163C18.3112 15.8038 18.9627 13.8455 18.9627 11.681V11.4352C17.5018 10.5397 16.9763 8.8644 16.7992 7.45921C15.4976 8.34136 13.9328 8.58599 12.5198 8.55941C11.1445 8.53355 9.89342 8.25055 9.12724 8.02786ZM14.1724 20.4283H14.8489C16.6482 20.4283 20.0834 20.5628 22.3547 21.1082L22.3592 21.1093C24.369 21.6409 25.3702 22.7126 25.8621 23.6852C26.3343 24.6189 26.3283 25.4434 26.3274 25.5641C26.3274 25.5681 26.3273 25.5714 26.3273 25.5738V25.5792L26.2321 29.1008H15.3394L14.8707 23.6136L15.6086 21.5832L15.6137 21.5729C15.6445 21.5113 15.6274 21.3865 15.4978 21.2864L14.1724 20.4283ZM15.5345 20.8339L15.7272 20.9587L15.7328 20.9628C15.9552 21.1298 16.1158 21.446 15.9769 21.7402L15.2765 23.6674L15.7065 28.701H25.843L25.9276 25.5706C25.9276 25.5692 25.9276 25.5675 25.9276 25.5657C25.9285 25.4636 25.9351 24.7152 25.5053 23.8656C25.0651 22.9952 24.157 21.999 22.2591 21.4964C20.295 21.0251 17.4161 20.8648 15.5345 20.8339ZM12.7205 20.4564L11.369 21.3315C11.3023 21.3826 11.2663 21.4314 11.2504 21.4739C11.2358 21.5127 11.2317 21.5623 11.26 21.633L11.2624 21.6389L11.9963 23.6587L11.5274 29.1008H0.994279L0.899011 25.5738C0.899011 25.5744 0.896916 25.5105 0.901201 25.4113C0.905511 25.3114 0.916306 25.1719 0.942108 25.0033C0.99366 24.6666 1.10547 24.2118 1.34683 23.7258C1.83316 22.7466 2.8354 21.6625 4.86989 21.1536L4.87189 21.1531C6.96258 20.6529 10.1287 20.5182 12.0133 20.4733L12.7205 20.4564ZM11.3107 20.8929C9.41528 20.9545 6.76965 21.1103 4.96601 21.5417C3.04689 22.022 2.13963 23.0283 1.70488 23.9037C1.28318 24.7527 1.29702 25.4966 1.29875 25.5684L1.38341 28.701H11.1606L11.5904 23.7123L10.8876 21.7783C10.8272 21.6253 10.8235 21.4736 10.876 21.3336C10.9271 21.1972 11.0245 21.0901 11.1342 21.0078L11.1397 21.0037L11.3107 20.8929ZM13.4541 20.5689L15.0888 21.6242L14.4973 23.3458H12.4595L11.8688 21.6264L13.4541 20.5689ZM13.4577 21.0471L12.347 21.788L12.7449 22.9461H14.2119L14.609 21.7903L13.4577 21.0471ZM12.4632 23.8453H14.4038L14.8415 29.1008H12.0255L12.4632 23.8453ZM12.8311 24.2451L12.4599 28.701H14.407L14.0359 24.2451H12.8311Z"
                                        fill="#222222" />
                                </svg>


                                Личный консультант
                            </h3>
                            <div class="col__info">
                                У вас есть куратор, который помогает планировать посещения клуба и консультирует по
                                вопросам, связанным с лечением
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section about-page-sertificat" data-section-name='about-page-sertificat'>
            <div class="section__inner">
                <h2 class="section__title">
                    Наши гарантии
                </h2>
                <div class="section__info">
                    Каждый сертификат доказывает, что мы серьезно относимся к своей работе и намерены достигнуть цели –
                    сохранить ваши зубы надолго и поддерживать здоровье полости рта.
                </div>
                <div class="slider about-page-sertificat-slider">
                    <div class="slider__inner" id="about-page-sertificat-slider">
                        <div class="slider__item">


                            <a href="../static/images/GiftCertificateGeneric.jpg" class="sertificat-image"><img
                                    src="../static/images/sertificat-slider-item.png" alt=""
                                    class=" img grayscale grayscale-fade"></a>




                        </div>
                        <div class="slider__item">


                            <a href="../static/images/GiftCertificateGeneric.jpg" class="sertificat-image"><img
                                    src="../static/images/sertificat-slider-item.png" alt=""
                                    class=" img grayscale grayscale-fade"></a>




                        </div>
                        <div class="slider__item">


                            <a href="../static/images/GiftCertificateGeneric.jpg" class="sertificat-image"><img
                                    src="../static/images/sertificat-slider-item.png" alt=""
                                    class=" img grayscale grayscale-fade"></a>




                        </div>
                        <div class="slider__item">


                            <a href="../static/images/GiftCertificateGeneric.jpg" class="sertificat-image"><img
                                    src="../static/images/sertificat-slider-item.png" alt=""
                                    class=" img grayscale grayscale-fade"></a>




                        </div>

                    </div>
                    <div class="slider-arrow">
                        <div class="prev">
                            <svg width="45" height="8" viewBox="0 0 45 8" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                            </svg>

                        </div>
                        <div class="next">
                            <svg width="46" height="8" viewBox="0 0 46 8" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                            </svg>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section about-page-tour" data-section-name='about-page-tour'>
            <div class="section__inner">
                <h2 class="section__title">3D тур / Видеотур / Галерея</h2>
                <div class="section__info">
                    <img src="../static/images/3d-tour.jpg" alt="">
                </div>
            </div>
        </section>
        <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/4</span></div>
            <nav class="nav" id='menu'>
                <a href="#about-page-main" class="nav__link active ">миссия клуба</a>
                <a href="#about-page-reason" class="nav__link  ">фишки клуба</a>
                <a href="#about-page-sertificat" class="nav__link  ">наши гарантии</a>
                <a href="#about-page-tour" class="nav__link  ">тур по клубу</a>

            </nav>

        </div>
    </div>
</div>


{{> layout/footer class='footer-wrap'}}