{{!Блог-одна новость}}

{{> layout/header}}
<div class="content blog-single">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Блог</a>
            </li>
        </ul>
        <section class="section blog-single-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Как заболевания зубов влияют на весь организм
                </h2>
                <div class="section__category">Профгигиена</div>
                <div class="section__info">
                    <div class="section__info-left">
                        <div class="slider blog-single-slider">
                            <div class="slider__inner" id="blog-single-slider">
                                <div class="slider__item">
                                    <p>Если вы регулярно откладываете посещение стоматолога «до лучших времен», вполне
                                        возможно, вскоре вам придется идти на обследование к врачам другого профиля.
                                        Больные зубы и десны могут спровоцировать ряд болезней, на первый взгляд никак
                                        не связанных с ротовой полостью.</p>
                                    <p>На сегодняшний день не вызывает сомнений тот факт, что стоматологические очаги
                                        инфекции оказывают непосредственное влияние на многие системы и органы.</p>
                                    <p>Инфекционный процесс в полости рта, как правило, не проходит сам по себе, а может
                                        лишь локализоваться и стабилизироваться.</p>
                                    <p class="info-title">Возбудители инфекции</p>
                                    <p>Возбудителями одонтогенных инфекций (или стоматологических заболеваний) являются
                                        бактерии, представители постоянной микрофлоры полости рта. Во рту для них
                                        создаются...</p>
                                </div>
                                <div class="slider__item">
                                    <p>Если вы регулярно откладываете посещение стоматолога «до лучших времен», вполне
                                        возможно, вскоре вам придется идти на обследование к врачам другого профиля.
                                        Больные зубы и десны могут спровоцировать ряд болезней, на первый взгляд никак
                                        не связанных с ротовой полостью.</p>
                                    <p>На сегодняшний день не вызывает сомнений тот факт, что стоматологические очаги
                                        инфекции оказывают непосредственное влияние на многие системы и органы.</p>
                                    <p>Инфекционный процесс в полости рта, как правило, не проходит сам по себе, а может
                                        лишь локализоваться и стабилизироваться.</p>
                                    <p class="info-title">Возбудители инфекции</p>
                                    <p>Возбудителями одонтогенных инфекций (или стоматологических заболеваний) являются
                                        бактерии, представители постоянной микрофлоры полости рта. Во рту для них
                                        создаются...</p>
                                </div>
                            </div>
                            <div class="slider-arrow">
                                <div class="prev">
                                     <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M5.30801e-05 3.51268L2.76395 7.2486e-06L4.25279 7.12674e-06L2.00323 2.92977L44.7187 2.92977L44.7187 4.08291L2.00323 4.08291L4.25279 7L2.76395 7L5.30801e-05 3.51268Z" />
</svg>

                                </div>
                                <div class="next">
                                                          <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M44.9999 3.48733L42.2361 7H40.7472L42.9968 4.07023H0.28125V2.91709H42.9968L40.7472 0H42.2361L44.9999 3.48733Z" />
</svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="section__info-right">
                        <img src="../static/images/post1.png" alt="">
                    </div>
                </div>
                <div class="section__action">
                    <a href="" class="back-link">вернуться ко всем статьям</a>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
    </div>
</div>

{{> layout/footer class='footer-wrap'}}