{{!Контакты}}

{{> layout/header}}
<div class="content contact-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Контакты</a>
            </li>
        </ul>
        <section class="section contact-page-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Контакты
                </h2>
                <div class="section__info">
                    <div class="tabs contact-tabs" id="tabs">
                        <ul class="tabs__header">
                            <li class="tab active">Минск, 2-й пер. Розы <br> Люксембург, 3</li>
                            <li class="tab">Минск, пр-т <br> Независимости, 144</li>
                            <li class="tab">Минск, ул. Короля, 23</li>
                        </ul>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-01</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-02</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-03</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                    </div>
                    <form action="" class="contact-form">
                        <h3 class="form__title">Напишите нам</h3>
                        <input type="text" class="form__input" placeholder="Представтесь пожалуйста">
                        <input type="text" class="form__input" placeholder="Email">
                        <textarea name="" id="" cols="30" rows="10" class="form__textarea"
                            placeholder="Напишите ваш вопрос или сообщение"></textarea>
                        <button type="submit" class="btn primary-btn">Отправить</button>
                    </form>
                  
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
    </div>
</div>
{{> layout/footer class='footer-wrap'}}