{{!Контакты}}

{{> layout/header}}
<div class="content contact-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Контакты</a>
            </li>
        </ul>
        <section class="section contact-page-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Контакты
                </h2>
                <div class="section__info">
                    <div class="tabs contact-tabs" id="tabs">
                        <ul class="tabs__header">
                            <li class="tab active">Минск, 2-й пер. Розы Люксембург, 3</li>
                            <li class="tab">Минск, пр-т Независимости, 144</li>
                            <li class="tab">Минск, ул. Короля, 23</li>
                        </ul>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-01</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-02</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                        <div class="tabs-content">
                            <p class="title">Телефоны</p>
                            <p>+375 (17) 300-30-03</p>
                            <p>+375 (17) 300-30-01</p>
                            <p class="title">Время работы</p>
                            <p>9:00-21:00 понедельник - пятница</p>
                            <p>9:00-18:00 суббота</p>
                            <p class="email">info@triomed.by</p>
                        </div>
                    </div>
                    <form action="" class="contact-form">
                        <h3 class="form__title">Напишите нам</h3>
                        <input type="text" class="form__input" placeholder="Представтесь пожалуйста">
                        <input type="text" class="form__input" placeholder="Email">
                        <textarea name="" id="" cols="30" rows="10" class="form__textarea"
                            placeholder="Напишите ваш вопрос или сообщение"></textarea>
                        <button type="submit" class="btn primary-btn">Отправить</button>
                    </form>
                    <a href="reviews.html" class="back-reviews-link"><svg width="44" height="8" viewBox="0 0 44 8"
                            fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path
                                d="M-3.48425e-07 4.01449L2.71947 3.60886e-06L4.18439 3.48079e-06L1.97098 3.34831L44 3.34831L44 4.66618L1.97098 4.66618L4.18439 8L2.71947 8L-3.48425e-07 4.01449Z"
                                fill="#777777" />
                        </svg>
                        Вернутся к отзывам</a>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
    </div>
</div>
{{> layout/footer class='footer-wrap'}}