{{!Диагностика}}

{{> layout/header}}
<div class="content " id="diagnostic-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link ">Услуги</a>
            </li>
            <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Диагностика</a></li>
        </ul>
    </div>
    <div class="main-section">
        <section class="section diagnostic-desc " data-section-name='diagnostic-desc'>
            <div class="container">
                <div class="section__inner">
                    <div class="section__inner-wrap">

                        <h2 class="section__title">Диагностика TRIOMED Club: план лечения от трех врачей</h2>
                        <div class="section__info">
                            <p>
                                Что для вас диагностика полости рта? Беглый осмотр одного врача и простой диагноз? В
                                TRIOMED
                                Club это не так. У нас диагностика – это основной этап лечения, в котором принимают
                                участие
                                три врача. <b>В услугу входят:</b>
                            </p>
                            <p>
                                
                            </p>
                            <p>— профгигиена полости рта;</p>
                            <p>— консультации терапевта, который вас курирует, и смежных врачей;</p>
                            <p>— 3d-цифровая рентгенодиагностика и фотопротокол;</p>
                            <p>— диагностика прикуса;</p>
                            <p>— диагностика пародонта.</p>
                            <span class="subtext">* По усмотрению врача может понадобиться анализ крови</span>
                            <p><b>В итоге вы получаете четкий план лечения, прогноз и рекомендации по уходу за полостью
                                    рта.</b></p>
                            <div class="price">
                                <p> <b class="big">60 BYN </b> <span class="subtext">доступна <span
                                            class="tooltip">рассрочка <span class="tooltip__box">Предлагаем
                                                индивидуальный
                                                график платежей рассрочки,если есть вопросы по
                                                оплате</span></span></span>
                                </p>
                                <p><b>для членов клуба бесплатно</b></p>
                            </div>
                        </div>
                    </div>


                </div>
            </div>

        </section>
    </div>

    <div class="container">
        <section class="section diagnostic-price" data-section-name='diagnostic-price'>
            <div class="section__inner">
                <div class="section__inner-wrap">
                    <h2 class="section__title">
                        Диагностика: этапы и услуги
                    </h2>
                    <ul class="price-list">
                        <li class="price-list__item"><a href="#" class="price-list__link"><span
                                    class="title">Консультация <svg class="quest-icon" width="17" height="17"
                                        viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8.44434" cy="8.95349" r="8" fill="#F5F5F5" />
                                        <path
                                            d="M7.52428 12.9535V11.6835H8.81428V12.9535H7.52428ZM7.63428 10.9835C7.63428 10.5502 7.67761 10.2002 7.76428 9.9335C7.85761 9.66016 8.04428 9.3935 8.32428 9.1335C8.35094 9.10683 8.41428 9.05016 8.51428 8.9635C8.62094 8.87016 8.69094 8.80683 8.72428 8.7735C8.75761 8.74016 8.81428 8.6835 8.89428 8.6035C8.97428 8.51683 9.02761 8.44683 9.05428 8.3935C9.08761 8.34016 9.12428 8.2735 9.16428 8.1935C9.21094 8.10683 9.24094 8.0235 9.25428 7.9435C9.27428 7.85683 9.28428 7.76683 9.28428 7.6735C9.28428 7.38016 9.18761 7.14016 8.99428 6.9535C8.80094 6.76683 8.55094 6.6735 8.24428 6.6735C7.46428 6.6735 7.06094 7.14683 7.03428 8.0935H5.88428C5.91761 7.3535 6.13428 6.77016 6.53428 6.3435C6.93428 5.91016 7.51094 5.6935 8.26428 5.6935C8.93761 5.6935 9.47761 5.87683 9.88428 6.2435C10.2976 6.6035 10.5043 7.08016 10.5043 7.6735C10.5043 7.8935 10.4809 8.09016 10.4343 8.2635C10.3876 8.43683 10.3043 8.60016 10.1843 8.7535C10.0643 8.90683 9.95761 9.03016 9.86428 9.1235C9.77094 9.21683 9.62094 9.35016 9.41428 9.5235C9.08094 9.81016 8.88094 10.0202 8.81428 10.1535C8.74761 10.2802 8.71428 10.5568 8.71428 10.9835H7.63428Z"
                                            fill="#999999" />
                                    </svg>
                                    <div class="tooltip">Здесь небольшой текстик, поясняющий этап, в несколько строк,
                                        около 2-3. Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы
                                        за доверие.</div>
                                </span><span>10 BYN</span></a></li>
                        <li class="price-list__item"><a href="#" class="price-list__link"><span
                                    class="title">Рентгендиагностика<svg class="quest-icon" width="17" height="17"
                                        viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8.44434" cy="8.95349" r="8" fill="#F5F5F5" />
                                        <path
                                            d="M7.52428 12.9535V11.6835H8.81428V12.9535H7.52428ZM7.63428 10.9835C7.63428 10.5502 7.67761 10.2002 7.76428 9.9335C7.85761 9.66016 8.04428 9.3935 8.32428 9.1335C8.35094 9.10683 8.41428 9.05016 8.51428 8.9635C8.62094 8.87016 8.69094 8.80683 8.72428 8.7735C8.75761 8.74016 8.81428 8.6835 8.89428 8.6035C8.97428 8.51683 9.02761 8.44683 9.05428 8.3935C9.08761 8.34016 9.12428 8.2735 9.16428 8.1935C9.21094 8.10683 9.24094 8.0235 9.25428 7.9435C9.27428 7.85683 9.28428 7.76683 9.28428 7.6735C9.28428 7.38016 9.18761 7.14016 8.99428 6.9535C8.80094 6.76683 8.55094 6.6735 8.24428 6.6735C7.46428 6.6735 7.06094 7.14683 7.03428 8.0935H5.88428C5.91761 7.3535 6.13428 6.77016 6.53428 6.3435C6.93428 5.91016 7.51094 5.6935 8.26428 5.6935C8.93761 5.6935 9.47761 5.87683 9.88428 6.2435C10.2976 6.6035 10.5043 7.08016 10.5043 7.6735C10.5043 7.8935 10.4809 8.09016 10.4343 8.2635C10.3876 8.43683 10.3043 8.60016 10.1843 8.7535C10.0643 8.90683 9.95761 9.03016 9.86428 9.1235C9.77094 9.21683 9.62094 9.35016 9.41428 9.5235C9.08094 9.81016 8.88094 10.0202 8.81428 10.1535C8.74761 10.2802 8.71428 10.5568 8.71428 10.9835H7.63428Z"
                                            fill="#999999" />
                                    </svg>
                                    <div class="tooltip">Здесь небольшой текстик, поясняющий этап, в несколько строк,
                                        около 2-3. Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы
                                        за доверие.</div>
                                </span><span>20 BYN</span></a></li>
                        <li class="price-list__item"><a href="#" class="price-list__link"><span class="title">Цифровой
                                    снимок<svg class="quest-icon" width="17" height="17" viewBox="0 0 17 17" fill="none"
                                        xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8.44434" cy="8.95349" r="8" fill="#F5F5F5" />
                                        <path
                                            d="M7.52428 12.9535V11.6835H8.81428V12.9535H7.52428ZM7.63428 10.9835C7.63428 10.5502 7.67761 10.2002 7.76428 9.9335C7.85761 9.66016 8.04428 9.3935 8.32428 9.1335C8.35094 9.10683 8.41428 9.05016 8.51428 8.9635C8.62094 8.87016 8.69094 8.80683 8.72428 8.7735C8.75761 8.74016 8.81428 8.6835 8.89428 8.6035C8.97428 8.51683 9.02761 8.44683 9.05428 8.3935C9.08761 8.34016 9.12428 8.2735 9.16428 8.1935C9.21094 8.10683 9.24094 8.0235 9.25428 7.9435C9.27428 7.85683 9.28428 7.76683 9.28428 7.6735C9.28428 7.38016 9.18761 7.14016 8.99428 6.9535C8.80094 6.76683 8.55094 6.6735 8.24428 6.6735C7.46428 6.6735 7.06094 7.14683 7.03428 8.0935H5.88428C5.91761 7.3535 6.13428 6.77016 6.53428 6.3435C6.93428 5.91016 7.51094 5.6935 8.26428 5.6935C8.93761 5.6935 9.47761 5.87683 9.88428 6.2435C10.2976 6.6035 10.5043 7.08016 10.5043 7.6735C10.5043 7.8935 10.4809 8.09016 10.4343 8.2635C10.3876 8.43683 10.3043 8.60016 10.1843 8.7535C10.0643 8.90683 9.95761 9.03016 9.86428 9.1235C9.77094 9.21683 9.62094 9.35016 9.41428 9.5235C9.08094 9.81016 8.88094 10.0202 8.81428 10.1535C8.74761 10.2802 8.71428 10.5568 8.71428 10.9835H7.63428Z"
                                            fill="#999999" />
                                    </svg>
                                    <div class="tooltip">Здесь небольшой текстик, поясняющий этап, в несколько строк,
                                        около 2-3. Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы
                                        за доверие.</div>
                                </span><span>15 BYN</span></a></li>
                        <li class="price-list__item"><a href="#" class="price-list__link"><span
                                    class="title">Составление личной карты
                                    здоровья / плана лечения<svg class="quest-icon" width="17" height="17"
                                        viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <circle cx="8.44434" cy="8.95349" r="8" fill="#F5F5F5" />
                                        <path
                                            d="M7.52428 12.9535V11.6835H8.81428V12.9535H7.52428ZM7.63428 10.9835C7.63428 10.5502 7.67761 10.2002 7.76428 9.9335C7.85761 9.66016 8.04428 9.3935 8.32428 9.1335C8.35094 9.10683 8.41428 9.05016 8.51428 8.9635C8.62094 8.87016 8.69094 8.80683 8.72428 8.7735C8.75761 8.74016 8.81428 8.6835 8.89428 8.6035C8.97428 8.51683 9.02761 8.44683 9.05428 8.3935C9.08761 8.34016 9.12428 8.2735 9.16428 8.1935C9.21094 8.10683 9.24094 8.0235 9.25428 7.9435C9.27428 7.85683 9.28428 7.76683 9.28428 7.6735C9.28428 7.38016 9.18761 7.14016 8.99428 6.9535C8.80094 6.76683 8.55094 6.6735 8.24428 6.6735C7.46428 6.6735 7.06094 7.14683 7.03428 8.0935H5.88428C5.91761 7.3535 6.13428 6.77016 6.53428 6.3435C6.93428 5.91016 7.51094 5.6935 8.26428 5.6935C8.93761 5.6935 9.47761 5.87683 9.88428 6.2435C10.2976 6.6035 10.5043 7.08016 10.5043 7.6735C10.5043 7.8935 10.4809 8.09016 10.4343 8.2635C10.3876 8.43683 10.3043 8.60016 10.1843 8.7535C10.0643 8.90683 9.95761 9.03016 9.86428 9.1235C9.77094 9.21683 9.62094 9.35016 9.41428 9.5235C9.08094 9.81016 8.88094 10.0202 8.81428 10.1535C8.74761 10.2802 8.71428 10.5568 8.71428 10.9835H7.63428Z"
                                            fill="#999999" />
                                    </svg>
                                    <div class="tooltip">Здесь небольшой текстик, поясняющий этап, в несколько строк,
                                        около 2-3. Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы
                                        за доверие.</div>
                                </span><span class="price">15 BYN</span></a></li>

                    </ul>
                    <div class="section__info">
                        <p>
                            Процедура занимает 3-6 дней, и вам не надо в ней участвовать. Куратор представляет вас на
                            консилиуме: он изучает ваши особенности и пожелания, поэтому знает, что лучше предложить.
                        </p>
                        <p>Записывайтесь на диагностику – узнаете, как сохранить свои зубы, потому что никакие коронки
                            не будут стоять лучше них</p>

                        <ul class="advantages">
                            <li class="advantages__item">
                                <svg width="41" height="47" viewBox="0 0 41 47" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M17.5686 4.22995C17.2653 4.31744 16.9696 4.40848 16.6816 4.50241L16.3715 3.55171C16.6703 3.45426 16.977 3.35985 17.2915 3.26912L17.5686 4.22995ZM18.9186 3.87773C18.766 3.91342 18.6151 3.9501 18.4658 3.98769L18.2216 3.01797C18.3763 2.979 18.5327 2.94099 18.6909 2.90401C18.8484 2.86716 19.0067 2.83291 19.1656 2.80113L19.3617 3.78172C19.2131 3.81143 19.0654 3.84341 18.9186 3.87773ZM15.8027 4.80615C15.5046 4.91506 15.2158 5.02666 14.9364 5.14007L14.5602 4.21352C14.8503 4.09575 15.1502 3.9799 15.4596 3.86686L15.8027 4.80615ZM14.0832 5.50443C13.7913 5.63537 13.5114 5.76748 13.2438 5.89956L12.8013 5.0028C13.0797 4.86543 13.3706 4.72808 13.6739 4.59201L14.0832 5.50443ZM21.1663 3.52962C20.862 3.55543 20.5592 3.58883 20.2589 3.63049L20.1215 2.63997C20.4404 2.59575 20.7608 2.56043 21.0817 2.5332L21.1663 3.52962ZM12.4197 6.32573C12.1336 6.48061 11.865 6.63358 11.614 6.78262L11.1035 5.92273C11.3655 5.76717 11.6456 5.6077 11.9435 5.44637L12.4197 6.32573ZM22.9987 3.46037C22.6928 3.45859 22.3864 3.46301 22.0805 3.47434L22.0435 2.47503C22.3645 2.46314 22.6852 2.45852 23.0046 2.46039L22.9987 3.46037ZM10.8281 7.27153C10.541 7.45874 10.2871 7.63433 10.0669 7.79317L9.48186 6.98214C9.71428 6.8145 9.98112 6.63001 10.2818 6.4339L10.8281 7.27153ZM24.8392 3.54156C24.5345 3.51714 24.2273 3.49767 23.9185 3.48388L23.9631 2.48488C24.2843 2.49922 24.6033 2.51945 24.9191 2.54476L24.8392 3.54156ZM34.034 4.72311C34.1481 4.97456 34.0368 5.27093 33.7853 5.38506L29.6877 7.24504C29.4363 7.35918 29.1399 7.24787 29.0258 6.99642C28.9116 6.74497 29.0229 6.4486 29.2744 6.33446L32.9167 4.68115L31.2634 1.03882C31.1493 0.787368 31.2606 0.491001 31.512 0.376863C31.7635 0.262725 32.0599 0.374039 32.174 0.625489L34.034 4.72311ZM8.32381 7.90394L8.32484 7.90298L8.32664 7.90131L8.33235 7.89601L8.35227 7.87779C8.36931 7.86231 8.3939 7.84025 8.42596 7.8121C8.49008 7.75582 8.58415 7.6752 8.70774 7.57427L9.34025 8.34882C9.22619 8.44196 9.14118 8.5149 9.08564 8.56365C9.05787 8.58802 9.03748 8.60635 9.0245 8.61812L9.01062 8.63082L9.00788 8.63336L8.32381 7.90394ZM26.6759 3.74812C26.3745 3.70493 26.0682 3.6654 25.7579 3.63039L25.87 2.63669C26.1907 2.67288 26.507 2.7137 26.8178 2.75824L26.6759 3.74812ZM28.5005 4.06144C28.2052 4.00259 27.9013 3.94588 27.5902 3.89238L27.7597 2.90685C28.0798 2.96192 28.3924 3.02024 28.6959 3.08072L28.5005 4.06144ZM30.3115 4.46972C30.0251 4.3977 29.7235 4.3254 29.4088 4.25441L29.6288 3.27892C29.9519 3.3518 30.2614 3.42601 30.5553 3.49991L30.3115 4.46972ZM32.0971 4.9656C31.834 4.88531 31.5362 4.79785 31.2082 4.70684L31.4757 3.74326C31.8123 3.83669 32.1183 3.92654 32.389 4.00916L32.0971 4.9656Z"
                                        fill="#222222" />
                                    <path
                                        d="M40.6579 1.55407L38.8311 4.67849L35.5559 9.15513L34.6523 8.62678L36.9536 3.60129L38.7894 0.461555L40.6579 1.55407Z"
                                        fill="#222222" />
                                    <path
                                        d="M35.4805 10.5496L34.3432 12.4947L32.3521 11.3306L33.4894 9.38546L35.4805 10.5496Z"
                                        fill="#222222" />
                                    <path
                                        d="M5.03777 13.72L4.55985 11.7942L6.51593 11.3088L6.99385 13.2345L5.03777 13.72Z"
                                        fill="#222222" />
                                    <path
                                        d="M4.46323 10.6914C4.30016 10.0343 4.23416 9.48725 4.26522 9.05028C4.30389 8.60069 4.48659 8.12608 4.81332 7.62647C4.84373 7.576 4.91844 7.46624 5.03746 7.29719C5.16408 7.11552 5.24639 6.99315 5.28439 6.93006L5.4782 6.60831C5.56689 6.44678 5.62142 6.32057 5.64178 6.22966C5.67226 6.13625 5.70277 6.02136 5.73332 5.885C5.77147 5.73602 5.7856 5.59837 5.77571 5.47204C5.77343 5.3331 5.75472 5.19287 5.7196 5.05134C5.60921 4.60655 5.37232 4.279 5.00891 4.06871C4.64551 3.85841 4.2313 3.81096 3.76629 3.92636C2.58354 4.21989 2.15007 5.0894 2.46587 6.53491L0.722079 6.96767C0.494152 5.83303 0.603177 4.86696 1.04915 4.06947C1.49262 3.26186 2.28551 2.71631 3.42783 2.43282C4.44883 2.17944 5.33665 2.25422 6.09128 2.65718C6.85351 3.04752 7.34626 3.69254 7.56954 4.59224C7.65233 4.92584 7.69095 5.23283 7.68542 5.51323C7.67988 5.79362 7.61499 6.07265 7.49073 6.35031C7.36647 6.62798 7.25114 6.85513 7.14473 7.03178C7.03833 7.20843 6.86105 7.46706 6.6129 7.80766C6.21533 8.36778 5.99109 8.76148 5.94017 8.98874C5.88675 9.2059 5.94032 9.63797 6.10088 10.2849L4.46323 10.6914Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M12.4317 46.0059C9.94939 46.0052 8.34918 43.1904 8.02932 35.9417C7.89214 32.8438 6.83427 30.7741 5.80508 28.7604C4.10678 25.5624 3.09816 23.4644 4.1067 18.6281C5.48863 11.9994 12.7887 13.6353 17.2976 14.6458C18.5333 14.9227 19.5593 15.1526 20.1965 15.1526C20.8336 15.1526 21.8594 14.9227 23.0949 14.6458C27.6036 13.6353 34.9037 11.9992 36.2862 18.6281C37.2943 23.4641 35.9666 26.0617 34.5875 28.76C33.5582 30.7737 32.5002 32.8435 32.3633 35.9417C32.0433 43.1904 30.4439 46.0052 27.9609 46.0059C25.9085 46.0061 24.7767 42.9419 23.6937 40.0103C22.7071 37.3393 21.761 34.7783 20.1966 34.7448C18.6319 34.7784 17.6857 37.3396 16.699 40.0106C16.649 40.1459 16.5991 40.2815 16.5492 40.4171C15.5192 43.2185 14.4942 46.0059 12.4317 46.0059ZM20.1965 32.5905L20.2465 32.5916C21.3802 32.6159 22.2573 33.1337 22.8666 33.699C23.452 34.2422 23.8902 34.9155 24.2277 35.5368C24.8276 36.6412 25.3427 38.0379 25.7987 39.2742C25.8492 39.4111 25.8989 39.5461 25.948 39.6785C26.4817 41.1177 26.9533 42.3124 27.4749 43.1481C27.7676 43.6173 27.9603 43.7908 28.0419 43.8483C28.1363 43.8385 28.2004 43.8092 28.2759 43.7527C28.4062 43.6552 28.653 43.4043 28.9295 42.811C29.5021 41.5822 29.9691 39.3988 30.1257 35.8503C30.2841 32.2681 31.5605 29.7843 32.5989 27.7637C32.7673 27.436 32.9294 27.1206 33.0795 26.8145C34.106 24.7218 34.8479 22.6859 34.0903 19.0516C33.7625 17.4799 33.0746 16.7853 32.3633 16.4077C31.5368 15.969 30.3508 15.7902 28.8181 15.8736C27.3086 15.9558 25.7168 16.2746 24.2145 16.607C24.0214 16.6497 23.8263 16.6934 23.6321 16.7369L23.6303 16.7373C23.1024 16.8556 22.5807 16.9726 22.1215 17.0643C21.5206 17.1843 20.8192 17.3064 20.1965 17.3064C19.5738 17.3064 18.8723 17.1843 18.2714 17.0643C17.8121 16.9726 17.2902 16.8556 16.7623 16.7373C16.5677 16.6937 16.3717 16.6498 16.1783 16.607C14.6758 16.2746 13.084 15.9558 11.5744 15.8737C10.0416 15.7902 8.8557 15.969 8.02925 16.4077C7.3181 16.7852 6.63025 17.4798 6.30259 19.0515C5.54469 22.6858 6.28646 24.7219 7.3128 26.8146C7.46292 27.1207 7.62516 27.4364 7.79359 27.7641C8.95071 29.7051 10.1083 32.2682 10.2669 35.85C10.4235 39.3984 10.8906 41.5821 11.4633 42.8109C11.7398 43.4042 11.9867 43.6552 12.117 43.7527C12.1925 43.8092 12.2566 43.8385 12.3508 43.8483C12.4324 43.7908 12.6251 43.6173 12.9178 43.1482C13.4393 42.3125 13.911 41.1178 14.4447 39.6786C14.4938 39.5462 14.5436 39.4112 14.5941 39.2743C15.0501 38.0381 15.5653 36.6412 16.1653 35.5368C16.5028 34.9155 16.941 34.2422 17.5265 33.699C18.1358 33.1337 19.0129 32.616 20.1466 32.5916L20.1965 32.5905Z"
                                        fill="#222222" />
                                </svg>
                                <span>Открытость и обучение</span>
                                <div class="tooltip">Рассказываем о лечении зубов. Выдаём на руки документы и снимки. Мы
                                    за доверие.</div>
                            </li>
                            <li class="advantages__item">
                                <svg width="42" height="40" viewBox="0 0 42 40" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M16.2221 26.0568L16.2703 26.0578C17.3646 26.0813 18.2113 26.5811 18.7994 27.1267C19.3645 27.651 19.7874 28.301 20.1132 28.9007C20.6922 29.9666 21.1894 31.3148 21.6295 32.5081C21.6783 32.6403 21.7263 32.7706 21.7737 32.8984C22.2888 34.2876 22.7441 35.4408 23.2475 36.2475C23.5301 36.7003 23.7161 36.8678 23.7948 36.9233C23.886 36.9139 23.9478 36.8855 24.0207 36.831C24.1464 36.7369 24.3847 36.4947 24.6516 35.9221C25.2043 34.736 25.655 32.6284 25.8063 29.2033C25.9591 25.7456 27.1911 23.3481 28.1935 21.3977C28.356 21.0814 28.5125 20.7769 28.6574 20.4815C29.6481 18.4615 30.3643 16.4963 29.633 12.9884C29.3166 11.4713 28.6526 10.8008 27.9661 10.4364C27.1682 10.0129 26.0235 9.84035 24.544 9.92088C23.087 10.0002 21.5505 10.3079 20.1004 10.6287C19.9135 10.6701 19.7246 10.7124 19.5366 10.7545C19.027 10.8687 18.5235 10.9816 18.0802 11.0701C17.5002 11.186 16.8231 11.3038 16.2221 11.3038C15.621 11.3038 14.944 11.186 14.3639 11.0702C13.9205 10.9816 13.4169 10.8687 12.9072 10.7545C12.7192 10.7124 12.5304 10.6701 12.3435 10.6287C10.8933 10.3079 9.35673 10.0002 7.89965 9.9209C6.42014 9.84037 5.27543 10.0129 4.4777 10.4364C3.79127 10.8008 3.12732 11.4712 2.81105 12.9883C2.07949 16.4963 2.79548 18.4616 3.78615 20.4816C3.93108 20.7771 4.08763 21.0817 4.25023 21.3981C5.25249 23.3484 6.48447 25.7457 6.63756 29.203C6.7887 32.6281 7.2396 34.7359 7.7924 35.922C8.05929 36.4946 8.29761 36.7369 8.42341 36.831C8.49628 36.8856 8.5581 36.9139 8.64907 36.9233C8.72779 36.8678 8.91379 36.7003 9.19635 36.2475C9.69977 35.4408 10.1551 34.2877 10.6702 32.8985C10.7176 32.7707 10.7656 32.6405 10.8144 32.5083C11.2545 31.315 11.7518 29.9667 12.331 28.9007C12.6568 28.301 13.0797 27.6511 13.6449 27.1267C14.233 26.5811 15.0796 26.0813 16.1739 26.0578L16.2221 26.0568ZM8.72718 39.0059C6.33111 39.0053 4.78652 36.2882 4.47777 29.2914C4.34536 26.3012 3.32425 24.3034 2.33083 22.3598C0.999551 19.7552 -0.282014 17.2478 0.69148 12.5796C2.02538 6.18124 8.58292 7.6508 13.4239 8.73569C14.6166 9.00298 15.607 9.22493 16.2221 9.22493C16.837 9.22493 17.8272 9.003 19.0198 8.73572C23.3717 7.76036 30.4181 6.18111 31.7526 12.5796C32.9753 17.5718 31.4441 19.7549 30.1129 22.3593C29.1194 24.3031 28.0982 26.301 27.9661 29.2914C27.6572 36.2882 26.1133 39.0053 23.7166 39.0059C21.6338 39.0059 20.6431 36.0484 19.5978 33.2186C18.6454 30.6405 17.7323 28.1685 16.2222 28.1362C14.7119 28.1686 13.7986 30.6408 12.8461 33.2189C11.8007 36.0487 10.8144 39.0059 8.72718 39.0059Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M30.1602 19.62L31.6372 18.9061L33.7414 23.2599L33.9176 23.4596C34.0767 23.6396 34.3038 23.8959 34.5752 24.2004C35.1183 24.8099 35.8378 25.6113 36.5455 26.3819C36.9681 26.8419 37.5419 27.7135 38.1211 28.7235C38.7116 29.7532 39.343 30.9895 39.875 32.2212C40.4033 33.4441 40.8507 34.7015 41.0494 35.7627C41.1483 36.2907 41.195 36.8174 41.1345 37.288C41.0743 37.7555 40.8918 38.2758 40.4293 38.6222C39.9901 38.9511 39.4832 39.0673 38.9696 38.9756C38.4893 38.8899 38.0608 38.6338 37.696 38.3299C36.9704 37.7255 36.284 36.7516 35.6774 35.6643C34.4529 33.4696 33.3892 30.5105 32.9268 28.1633L32.9238 28.1483L32.2605 23.9657L30.1602 19.62ZM34.2997 26.3509L34.5392 27.861C34.9708 30.0415 35.9742 32.8292 37.11 34.865C37.6849 35.8954 38.2535 36.6592 38.746 37.0695C38.9902 37.2729 39.1615 37.3434 39.2579 37.3607C39.3197 37.3717 39.3659 37.3676 39.4406 37.3131C39.4507 37.2996 39.4866 37.2406 39.5074 37.0787C39.5371 36.8477 39.5204 36.5104 39.437 36.0647C39.271 35.1786 38.8781 34.0503 38.369 32.8717C37.8636 31.7017 37.2606 30.5206 36.698 29.5396C36.1241 28.5388 35.6264 27.8064 35.3373 27.4916C34.9864 27.1096 34.6331 26.7205 34.2997 26.3509ZM39.4378 37.3163L39.4394 37.3145L39.4378 37.3163Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M26.2978 18.6367C30.8271 18.6367 34.4988 14.965 34.4988 10.4357C34.4988 5.90639 30.8271 2.23466 26.2978 2.23466C21.7685 2.23466 18.0968 5.90639 18.0968 10.4357C18.0968 14.965 21.7685 18.6367 26.2978 18.6367ZM26.2978 20.5116C31.8626 20.5116 36.3737 16.0005 36.3737 10.4357C36.3737 4.87093 31.8626 0.359802 26.2978 0.359802C20.733 0.359802 16.2219 4.87093 16.2219 10.4357C16.2219 16.0005 20.733 20.5116 26.2978 20.5116Z"
                                        fill="#222222" />
                                </svg>

                                <span>Командная работа</span>
                            </li>
                            <li class="advantages__item">
                                <svg width="42" height="39" viewBox="0 0 42 39" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M4.96918 27.9417C5.28905 35.1904 6.88925 38.0053 9.3716 38.0059C11.4341 38.0059 12.459 35.2185 13.4891 32.4171C13.539 32.2815 13.5888 32.1459 13.6388 32.0106C14.6256 29.3396 15.5717 26.7784 17.1364 26.7448C18.7009 26.7783 19.6469 29.3393 20.6336 32.0103C21.7165 34.9419 22.8484 38.0061 24.9008 38.0059C27.3838 38.0053 28.9832 35.1904 29.3032 27.9417C29.4401 24.8435 30.498 22.7737 31.5273 20.76C32.9065 18.0617 34.2342 15.4641 33.226 10.6281C31.8436 3.99925 24.5434 5.63535 20.0348 6.64583C18.7993 6.92273 17.7734 7.15265 17.1364 7.15265C16.4992 7.15265 15.4731 6.92272 14.2375 6.64581C9.72853 5.63533 2.42849 3.99938 1.04656 10.6281C0.0380177 15.4644 1.36573 18.062 2.74494 20.7605C3.77413 22.7741 4.832 24.8438 4.96918 27.9417ZM17.1863 24.5916L17.1364 24.5906L17.0864 24.5916C15.9528 24.616 15.0756 25.1337 14.4664 25.699C13.8808 26.2422 13.4427 26.9155 13.1051 27.5368C12.5051 28.6413 11.9899 30.0381 11.5339 31.2744C11.4834 31.4113 11.4336 31.5462 11.3846 31.6786C10.8509 33.1178 10.3792 34.3125 9.85765 35.1482C9.56492 35.6173 9.37222 35.7908 9.29067 35.8484C9.19643 35.8386 9.13238 35.8092 9.05689 35.7527C8.92656 35.6552 8.67966 35.4042 8.40316 34.8109C7.83045 33.5822 7.36332 31.3984 7.20674 27.85C7.04813 24.2682 5.89058 21.7051 4.73345 19.7641C4.56502 19.4364 4.40278 19.1207 4.25266 18.8146C3.22632 16.7219 2.48455 14.6859 3.24245 11.0515C3.57011 9.47982 4.25796 8.78526 4.96911 8.40774C5.79556 7.96902 6.98149 7.79026 8.51426 7.87368C10.0238 7.95584 11.6157 8.27464 13.1181 8.60699C13.3118 8.64982 13.5074 8.69366 13.7021 8.73731C14.23 8.85562 14.752 8.97258 15.2112 9.06432C15.8122 9.18436 16.5136 9.30638 17.1364 9.30638C17.7591 9.30638 18.4605 9.18435 19.0614 9.06431C19.5206 8.97257 20.0423 8.85565 20.5701 8.73734L20.572 8.73692C20.7662 8.6934 20.9612 8.64968 21.1543 8.60697C22.6567 8.27462 24.2484 7.95582 25.758 7.87366C27.2907 7.79023 28.4766 7.96899 29.3032 8.40773C30.0144 8.78529 30.7024 9.47993 31.0301 11.0516C31.7878 14.6859 31.0458 16.7218 30.0194 18.8146C29.8693 19.1206 29.7072 19.4361 29.5388 19.7637C28.5003 21.7844 27.2239 24.2682 27.0656 27.8503C26.909 31.3988 26.442 33.5822 25.8693 34.811C25.5929 35.4043 25.346 35.6552 25.2158 35.7527C25.1403 35.8092 25.0762 35.8386 24.9817 35.8484C24.9002 35.7908 24.7075 35.6173 24.4147 35.1482C23.8932 34.3124 23.4215 33.1177 22.8879 31.6785C22.8388 31.5461 22.789 31.4111 22.7385 31.2742C22.2826 30.0379 21.7675 28.6412 21.1675 27.5368C20.83 26.9155 20.3919 26.2422 19.8064 25.699C19.1972 25.1337 18.32 24.6159 17.1863 24.5916Z"
                                        fill="#222222" />
                                    <path
                                        d="M24.4363 16.7192L20.0953 10.7881C19.1898 9.48992 16.1609 11.396 17.0665 12.6942L21.7019 19.1743C22.6075 20.4724 24.2919 22.1235 25.59 21.218C25.9591 20.9605 26.3622 20.4173 26.6384 20.0534C26.6384 20.0534 26.9524 19.6119 27.1531 19.2094C27.5684 18.3763 27.7609 18.1096 27.8083 17.9815C28.8554 15.7279 33.5434 6.1512 41.2887 0.302063C41.2887 0.302063 31.7073 3.50159 24.4363 16.7192Z"
                                        fill="#222222" />
                                </svg>


                                <span>Гарантия</span>
                            </li>
                            <li class="advantages__item">
                                <svg width="42" height="42" viewBox="0 0 42 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M29.6672 4.91352C29.6672 4.36131 30.1152 3.91359 30.6672 3.91359C31.2189 3.91359 31.6671 4.36131 31.6671 4.91352V10.9991L34.8736 14.2058C35.2643 14.5963 35.2643 15.229 34.8736 15.6197C34.6784 15.8149 34.4224 15.9127 34.1667 15.9127C33.9109 15.9127 33.6549 15.8149 33.4597 15.6197L29.6672 11.827V4.91352Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M29.1048 0.5266C32.5665 0.0343875 35.9685 1.16855 38.4381 3.63861C42.7268 7.92704 42.7268 14.905 38.4381 19.1937C36.7446 20.8872 34.6318 21.9119 32.4309 22.268C32.3112 22.6165 32.0752 23.0912 31.7334 23.76C30.7041 25.7737 29.6461 27.8436 29.5092 30.9417C29.1892 38.1904 27.5898 41.0053 25.1068 41.0059C23.0545 41.0061 21.9226 37.9419 20.8396 35.0103C19.853 32.3393 18.907 29.7783 17.3425 29.7448C15.7778 29.7784 14.8316 32.3396 13.8449 35.0106C13.7949 35.1459 13.745 35.2815 13.6952 35.4171C12.6651 38.2185 11.6401 41.0059 9.57765 41.0059C7.09531 41.0053 5.4951 38.1904 5.17523 30.9417C5.03805 27.8438 3.98018 25.7741 2.95099 23.7605C1.57178 21.062 0.244072 18.4644 1.25262 13.6281C2.63455 6.99938 9.93458 8.63534 14.4435 9.64581C15.6792 9.92272 16.7052 10.1527 17.3424 10.1527C17.9012 10.1527 18.759 9.97579 19.795 9.74549C20.1176 7.63384 21.0543 5.59853 22.6048 3.93084H20.7617C20.2095 3.93084 19.7617 3.48363 19.762 2.93092C19.7617 2.65519 19.8737 2.40521 20.0547 2.22397C20.2357 2.04324 20.4857 1.93099 20.7617 1.93149H25.0043C25.5216 1.93149 25.9533 2.32546 26.0003 2.84067L26.3537 6.72963C26.404 7.27984 25.9978 7.7653 25.4483 7.81605C24.8983 7.86579 24.4119 7.46057 24.3619 6.91087L24.2027 5.157C20.7939 8.67398 20.8219 14.3043 24.2969 17.7795C27.8056 21.288 33.5145 21.288 37.0239 17.7795C40.5324 14.2706 40.5324 8.56099 37.0239 5.05251C35.0026 3.03166 32.2188 2.10348 29.3865 2.5067C28.8393 2.58444 28.3336 2.20422 28.2558 1.65726C28.1779 1.11056 28.5588 0.604844 29.1048 0.5266ZM19.6821 11.9786C19.5395 12.0089 19.4008 12.0377 19.2674 12.0643C18.6665 12.1844 17.9651 12.3064 17.3424 12.3064C16.7197 12.3064 16.0183 12.1844 15.4173 12.0643C14.958 11.9726 14.4361 11.8556 13.9082 11.7373C13.7134 11.6937 13.5178 11.6498 13.3242 11.607C11.8217 11.2746 10.2299 10.9558 8.72032 10.8737C7.18754 10.7903 6.00162 10.969 5.17517 11.4077C4.46401 11.7853 3.77616 12.4798 3.44851 14.0515C2.6906 17.6859 3.43238 19.7219 4.45872 21.8146C4.60883 22.1207 4.77108 22.4364 4.9395 22.7641C6.09663 24.7051 7.25418 27.2682 7.41279 30.8501C7.56937 34.3984 8.03651 36.5822 8.60921 37.8109C8.88571 38.4042 9.13262 38.6552 9.26294 38.7527C9.33843 38.8092 9.40248 38.8386 9.49672 38.8484C9.57828 38.7908 9.77097 38.6173 10.0637 38.1482C10.5853 37.3125 11.057 36.1178 11.5906 34.6786C11.6395 34.5467 11.6891 34.4122 11.7394 34.2758L11.74 34.2744C12.196 33.0381 12.7112 31.6412 13.3112 30.5368C13.6487 29.9155 14.0869 29.2422 14.6724 28.699C15.2817 28.1337 16.1588 27.616 17.2925 27.5916L17.3424 27.5906L17.3924 27.5916C18.5261 27.6159 19.4033 28.1337 20.0125 28.699C20.598 29.2422 21.0361 29.9155 21.3736 30.5368C21.9735 31.6412 22.4886 33.0379 22.9446 34.2742C22.9951 34.4111 23.0449 34.5461 23.094 34.6785C23.6276 36.1177 24.0992 37.3124 24.6208 38.1482C24.9135 38.6173 25.1062 38.7908 25.1878 38.8484C25.2822 38.8386 25.3463 38.8092 25.4218 38.7527C25.5521 38.6552 25.7989 38.4043 26.0754 37.811C26.648 36.5822 27.115 34.3988 27.2717 30.8503C27.43 27.2682 28.7064 24.7844 29.7448 22.7637C29.8104 22.6362 29.8749 22.5106 29.9382 22.3867C27.3671 22.2189 24.844 21.1546 22.8833 19.1937C20.8814 17.1919 19.8146 14.6047 19.6821 11.9786Z"
                                        fill="#222222" />
                                </svg>



                                <span>Долгосрочный результат</span>
                            </li>
                            <li class="advantages__item">
                                <svg width="43" height="42" viewBox="0 0 43 42" fill="none"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M23.5722 1.1072C23.7655 0.584831 24.5043 0.584831 24.6976 1.1072L25.3203 2.78993C25.381 2.95416 25.5105 3.08365 25.6747 3.14442L27.3575 3.76709C27.8798 3.96038 27.8798 4.69921 27.3575 4.89251L25.6747 5.51517C25.5105 5.57595 25.381 5.70543 25.3203 5.86966L24.6976 7.55239C24.5043 8.07476 23.7655 8.07476 23.5722 7.55239L22.9495 5.86966C22.8887 5.70543 22.7592 5.57595 22.595 5.51517L20.9123 4.89251C20.3899 4.69921 20.3899 3.96038 20.9123 3.76709L22.595 3.14442C22.7592 3.08365 22.8887 2.95416 22.9495 2.78993L23.5722 1.1072ZM23.8874 3.13697L24.1349 2.46804L24.3824 3.13697C24.5445 3.57492 24.8898 3.92022 25.3277 4.08227L25.9966 4.3298L25.3277 4.57732C24.8898 4.73938 24.5445 5.08468 24.3824 5.52263L24.1349 6.19155L23.8874 5.52263C23.7253 5.08468 23.38 4.73938 22.9421 4.57732L22.2731 4.3298L22.9421 4.08227C23.38 3.92022 23.7253 3.57492 23.8874 3.13697Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M7.16633 3.79635C6.97304 3.27398 6.2342 3.27398 6.04091 3.79635L4.79604 7.16057C4.73526 7.3248 4.60578 7.45429 4.44155 7.51506L1.07733 8.75993C0.554955 8.95323 0.554954 9.69206 1.07732 9.88535L4.44155 11.1302C4.60578 11.191 4.73526 11.3205 4.79604 11.4847L6.04091 14.8489C6.2342 15.3713 6.97304 15.3713 7.16633 14.8489L8.41121 11.4847C8.47198 11.3205 8.60146 11.191 8.76569 11.1302L12.1299 9.88536C12.6523 9.69206 12.6523 8.95323 12.1299 8.75993L8.76569 7.51506C8.60146 7.45429 8.47198 7.3248 8.41121 7.16057L7.16633 3.79635ZM6.60362 6.02165L6.01524 7.61172C5.8228 8.13178 5.41276 8.54183 4.89269 8.73427L3.30263 9.32265L4.89269 9.91102C5.41276 10.1035 5.8228 10.5135 6.01524 11.0336L6.60362 12.6236L7.192 11.0336C7.38444 10.5135 7.79448 10.1035 8.31455 9.91102L9.90461 9.32265L8.31455 8.73427C7.79448 8.54183 7.38444 8.13179 7.192 7.61172L6.60362 6.02165Z"
                                        fill="#222222" />
                                    <path fill-rule="evenodd" clip-rule="evenodd"
                                        d="M34.2198 8.06258C34.5675 7.05914 35.9866 7.05914 36.3342 8.06258L37.5657 11.6174C37.6819 11.9529 37.9505 12.2134 38.2894 12.3192L41.8509 13.4312C42.898 13.7581 42.898 15.2402 41.8509 15.5671L38.2894 16.6791C37.9505 16.7849 37.6819 17.0453 37.5657 17.3808L36.3342 20.9357C36.1304 21.524 35.5582 21.7674 35.0497 21.6659C35.0287 24.085 34.1857 25.7343 33.3186 27.4308C32.4503 29.1295 31.558 30.8754 31.4425 33.4888C31.1725 39.6032 29.8234 41.9776 27.7289 41.9781C25.9977 41.9783 25.0429 39.3936 24.1294 36.9207C23.2972 34.6677 22.4992 32.5074 21.1795 32.4792C19.8597 32.5075 19.0616 34.6679 18.2292 36.921C18.1873 37.0345 18.1455 37.1482 18.1037 37.2619L18.1029 37.2639C17.234 39.627 16.3695 41.9781 14.6297 41.9781C12.5358 41.9776 11.186 39.6032 10.9162 33.4888C10.8005 30.8756 9.90812 29.1298 9.03997 27.4312C7.87657 25.155 6.75662 22.9639 7.60735 18.8844C8.77304 13.2929 14.9308 14.6728 18.7342 15.5252C19.7765 15.7588 20.642 15.9527 21.1795 15.9527C21.7168 15.9527 22.5822 15.7588 23.6244 15.5252C24.8949 15.2405 26.4284 14.8968 27.9506 14.7739C27.8218 14.2437 28.0726 13.6281 28.7032 13.4312L32.2646 12.3192C32.6036 12.2134 32.8721 11.9529 32.9884 11.6174L34.2198 8.06258ZM34.5741 12.1668L35.277 10.1378L35.9799 12.1668C36.2705 13.0055 36.9419 13.6566 37.7892 13.9211L39.6405 14.4991L37.7892 15.0772C36.9419 15.3417 36.2705 15.9927 35.9799 16.8315L35.277 18.8605L34.5741 16.8315C34.2836 15.9927 33.6121 15.3417 32.7648 15.0772L30.9136 14.4991L32.7648 13.9211C33.6121 13.6566 34.2836 13.0055 34.5741 12.1668ZM21.2216 30.6629L21.1795 30.662L21.1373 30.6629C20.1811 30.6834 19.4412 31.1202 18.9273 31.597C18.4334 32.0552 18.0638 32.6232 17.779 33.1473C17.2729 34.0789 16.8383 35.2571 16.4537 36.2999C16.4111 36.4154 16.3691 36.5293 16.3277 36.6409C15.8775 37.8549 15.4797 38.8627 15.0397 39.5676C14.7928 39.9633 14.6302 40.1097 14.5614 40.1582C14.482 40.15 14.4279 40.1252 14.3642 40.0776C14.2543 39.9953 14.046 39.7836 13.8128 39.2831C13.3297 38.2466 12.9357 36.4046 12.8036 33.4115C12.6698 30.3901 11.5932 28.2951 10.7173 26.5908C10.5754 26.3146 10.4383 26.0479 10.3118 25.7899C9.44603 24.0246 8.82032 22.3072 9.45964 19.2415C9.73602 17.9157 10.3162 17.3299 10.9161 17.0114C11.6132 16.6414 12.6136 16.4906 13.9065 16.5609C15.1799 16.6302 16.5226 16.8991 17.79 17.1795C17.9533 17.2156 18.1183 17.2526 18.2826 17.2894C18.728 17.3892 19.1681 17.4879 19.5556 17.5653C20.0625 17.6665 20.6542 17.7694 21.1795 17.7694C21.7047 17.7694 22.2964 17.6665 22.8032 17.5653C23.1905 17.4879 23.6303 17.3893 24.0755 17.2896L24.0777 17.289C24.2414 17.2524 24.406 17.2155 24.5687 17.1795C25.836 16.8991 27.1787 16.6302 28.452 16.5609C29.7449 16.4905 30.7453 16.6413 31.4425 17.0114C32.0424 17.3299 32.6227 17.9158 32.8992 19.2416C33.5383 22.3072 32.9124 24.0245 32.0466 25.7898C31.92 26.0479 31.7832 26.3141 31.6412 26.5904C30.7652 28.2949 29.6886 30.3901 29.555 33.4117C29.4229 36.4049 29.029 38.2467 28.5459 39.2832C28.3127 39.7836 28.1045 39.9953 27.9946 40.0775C27.931 40.1252 27.8769 40.1499 27.7972 40.1582C27.7284 40.1097 27.5659 39.9633 27.3189 39.5676C26.879 38.8626 26.4811 37.8549 26.031 36.6409C25.9919 36.5352 25.9522 36.4276 25.9119 36.3185L25.905 36.2998C25.5204 35.257 25.0859 34.0788 24.5799 33.1472C24.2952 32.6232 23.9256 32.0552 23.4317 31.597C22.9178 31.1202 22.1779 30.6834 21.2216 30.6629Z"
                                        fill="#222222" />
                                </svg>




                                <span>Атмосфера</span>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section diagnostic-specialist" data-section-name='diagnostic-specialist'>
            <div class="section__inner">
                <h2 class="section__title">
                    Специалисты
                </h2>

                <div class=" slider slider-specialist ">
                    <div class="slider-specialist__inner">
                        <div class="slider__item ">
                            <div class="slider__item-img">

                                <img src="../static/images/spec1.jpg" alt="" class="img grayscale grayscale-fade">


                            </div>
                            <div class="slider__item-info">
                                <p class="name">Андриенко Екатерина Арсеньевна</p>
                                <p>Врач 1 категории</p>
                                <p class="spec">Специализация – эстетические реставрации</p>
                                <div class="social">
                                    <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                        </svg></a>
                                    <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                        </svg>
                                    </a>
                                </div>
                                <a href="" class="btn primary-btn">Записаться</a>
                            </div>

                        </div>
                        <div class="slider__item ">
                            <div class="slider__item-img">
                                <img src="../static/images/spec2.jpg" alt="" class="img grayscale grayscale-fade">
                            </div>
                            <div class="slider__item-info">
                                <p class="name">Лихорад Дмитрий Геннадьевич</p>
                                <p>Врач 1 категории</p>
                                <p class="spec">Специализация – ортопедия, ортодонтия</p>
                                <div class="social">
                                    <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                        </svg></a>
                                    <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                        </svg>
                                    </a>
                                </div>
                                <a href="" class="btn primary-btn">Записаться</a>
                            </div>

                        </div>
                        <div class="slider__item ">
                            <div class="slider__item-img">
                                <img src="../static/images/spec3.jpg" alt="" class="img grayscale grayscale-fade">
                            </div>
                            <div class="slider__item-info">
                                <p class="name">Петраш Александра Сергеевна</p>
                                <p>Врач 1 категории</p>
                                <p class="spec">Специализация – широкая</p>
                                <div class="social">
                                    <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                        </svg></a>
                                    <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                        </svg>
                                    </a>

                                </div>
                                <a href="" class="btn primary-btn">Записаться</a>
                            </div>

                        </div>
                        <div class="slider__item ">
                            <div class="slider__item-img">
                                <img src="../static/images/spec1.jpg" alt="" class="img grayscale grayscale-fade">
                            </div>
                            <div class="slider__item-info">
                                <p class="name">Андриенко Екатерина Арсеньевна</p>
                                <p>Врач 1 категории</p>
                                <p>Специализация – эстетические реставрации</p>
                                <div class="social">
                                    <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                        </svg></a>
                                    <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                        </svg>
                                    </a>
                                </div>
                                <a href="" class="btn primary-btn">Записаться</a>
                            </div>

                        </div>

                    </div>
                    <div class="slider-arrow">
                        <div class="prev">
                            <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                            </svg>

                        </div>
                        <div class="next">
                            <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                            </svg>
                        </div>
                    </div>
                </div>

            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section diagnostic-portfolio" data-section-name='diagnostic-portfolio'>
            <div class="section__inner">
                <h2 class="section__title">
                    Портфолио
                </h2>
               <div class="section__top">
                    <div class="slider slider-portfolio">
                    <div class="slider-portfolio__inner" id="diagnostic-port">
                        <div class="slider__item">
                            <div class="slider__item-img before">
                                <div class="text">До</div>
                                <img src="../static/images/portfolio-before.jpg " alt=""
                                    class="img grayscale grayscale-fade">
                            </div>
                            <div class="slider__item-img after">
                                <div class="text">После</div>
                                <img src="../static/images/portfolio-after.jpg" alt=""
                                    class="img grayscale grayscale-fade">
                            </div>
                        </div>
                        <div class="slider__item">
                            <div class="slider__item-img before">
                                <div class="text">До</div>
                                <img src="../static/images/portfolio-before.jpg " alt=""
                                    class="img grayscale grayscale-fade">
                            </div>
                            <div class="slider__item-img after">
                                <div class="text">После</div>
                                <img src="../static/images/portfolio-after.jpg" alt=""
                                    class="img grayscale grayscale-fade">
                            </div>
                        </div>
                    </div>
                    <div class="slider-arrow">
                        <div class="prev-arrow">
                            <svg width="45" height="8" viewBox="0 0 45 8" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                            </svg>

                        </div>
                        <div class="next-arrow">
                            <svg width="46" height="8" viewBox="0 0 46 8" xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                            </svg>
                        </div>
                    </div>
                </div>
               </div>
                <div class="section__info">
                    <p class="subtitle"><b>Имплантация</b></p>
                    <p><b>До: </b>частичное отсутствие зубов на нижней челюсти, не эстетическое состояние
                        металлокерамических коронок на верхней челюсти</p>
                    <p><b>После: </b>цельнокерамические коронки на основе диоксида циркония на имплантах Astra Tech в
                        области 1.6, 1.5. 2.4, 2.5, 2.6, 3.6, 3.4, 4.4, 4.6 зубов, цельнокерамические коронки на основе
                        диоксида циркония на зубах 1.7, 1.3, 1.2, 1.1 2.1 2.2 2.3, 3.3, 4.3</p>
                    <div class="doctor-info">
                        <p>Специалист: Андриенко Екатерина Арсеньевна</p>
                        <p>Специализация: Имплантация</p>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section diagnostic-detail" data-section-name='diagnostic-detail'>
            <div class="section__inner">
                <div class="section__inner-wrap" id='diagnostic-details'>
                    <h2 class="section__title">
                        Checkup в TRIOMED Club – узнайте все о своей полости рта за одно посещение
                    </h2>
                    <div class="section__info">
                        <p>Для вас диагностика – это одно посещение, для нас – несколько дней работы команды врачей. В
                            результате вы получаете:</p>
                        <p><b>— полную картину состояния полости рта – </b>какие проблемы есть сейчас, на что они влияют
                            и какие могут появиться в будущем;</p>
                        <p><b>— прогнозы и сроки устранения проблем –</b>отдельно расписываем, что будет, если вы
                            отказываетесь лечиться, и если лечитесь и правильно заботитесь о зубах в будущем;</p>
                        <p><b>— презентацию плана лечения – </b>расписываем этапы, минимальные и максимальные сроки
                            лечения, указываем последствия, если сроки не соблюдаются;</p>
                        <p><b>— флэшку с диагностическими снимками –</b>отдаем вам все материалы, включая снимки,
                            результаты компьютерной томографии, план лечения и заключение врачей;</p>
                        <p><b> — индивидуальную карту здоровья –</b>составляем программу домашней гигиены, подбираем
                            средства ухода, профилактики, определяем сроки замены щёток, даем рекомендации по диете и
                            посещению других врачей, если необходимо;</p>
                        <p><b>— подборку полезных материалов –</b>брошюры, статьи и видео, которые помогут вам правильно
                            заботиться о полости рта при ваших проблемах.</p>
                        <div class="section__info-action">
                            <span class="text"> Как это получить</span> <a href=""
                                class="btn diagnostic-detail-btn">читать далее</a>
                        </div>
                    </div>
                </div>
                <div class="section__inner-wrap diagnostic-details-subinfo" id='diagnostic-details-subinfo'>
                    <h2 class="section__title">
                        Как это получить?
                    </h2>
                    <h3 class="section__subtitle">
                        Прийти на бесплатный чекап!
                    </h3>
                    <div class="section__info">
                        <div class="section__info-left">
                            <p class="title"><b>Что делаете вы?</b></p>
                            <p>Записываетесь на диагностику на сайте или по телефону.</p>
                            <p>Приходите в назначенный день и знакомитесь со своим врачом-куратором, который остается с
                                вами все лечение.</p>
                            <p>Сдаете анализы, проходите осмотр и профгигиену полости рта, а также отвечаете честно на
                                вопросы врача, чтобы он составил анамнез</p>
                            <p>Согласовываете с менеджером и врачом второй прием.</p>
                            <p>Приходите в назначенное время и получаете результаты</p>
                            <p><b>С вас – записаться, пройти осмотр и выполнять рекомендации</b></p>
                        </div>
                        <div class="section__info-right">
                            <p class="title"><b>Что делаем мы?</b></p>
                            <p>Терапевт проводит осмотр, составляет анамнез, берет у вас анализы.</p>
                            <p>Мы собираем консилиум из стоматолога-терапевта, стоматолога-ортопеда,
                                стоматолога-ортодонта и при необходимости хирурга-имплантолога.</p>
                            <p>Врачи изучают ваш случай с точки зрения эстетики, здоровья и функциональности полости
                                рта.</p>
                            <p>Куратор анализирует оценки специалистов, особенности состояния полости рта и ваши
                                пожелания. По этим данным составляет поэтапный план лечения.</p>
                            <p>Врача-гигиенист оформляет рекомендации по уходу за зубами</p>
                            <p><b>С нас – полный рассказ о том, что происходит у вас во рту, к чему это может привести и
                                    как избежать неприятных последствий.</b></p>
                        </div>
                        <a href="" class="btn diagnostic-details-back">назад</a>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <div class="bottom-menu menu-gray" id="bottom-menu-gray">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/5</span></div>
            <nav class="nav" id='menu'>
                <a href="#diagnostic-desc" class="nav__link active ">описание</a>
                <a href="#diagnostic-price" class="nav__link  ">услуги и цены</a>
                <a href="#diagnostic-specialist" class="nav__link ">специалисты</a>
                <a href="#diagnostic-portfolio" class="nav__link  ">портфолио</a>
                <a href="#diagnostic-detail" class="nav__link  ">подробно об услуге</a>
            </nav>

        </div>
    </div>
</div>

{{> layout/footer class='footer-wrap'}}