{{!Главная страница}}



{{> layout/header}}
<div class="content">

    <div class="container">


        <div class="main">
            <div class="main__inner">
                <div class="main__logo">
                </div>
                <section class="section section-main " data-section-name='main'>
                    <div class="section__inner">
                        <h1 class="section__title main__title">Сохраните свои зубы.<br>Мы поможем</h1>
                        <div class="section__info main__info">Наша команда убеждена: дольше всего стоят свои зубы.
                            Залечить
                            даже
                            самый серьёзный кариес проще, чем поставить имплант. Помогать сохранять ваши зубы – наша
                            миссия.
                            Хотите узнать, как мы это делаем? Приходите!</div>
                        <div class="main__action"> <a href="#" class="btn main-btn"><span>Записаться на бесплатную
                                    консультацию</span></a>
                        </div>
                    </div>
                </section>
            </div>
        </div>
        <section class="section section-about" data-section-name='about'>
            <div class="section__inner">
                <div class="section__info" id="about-info">
                    <h2 class="section__title">Клуб «Триомед»: заботимся вместе о ваших зубах</h2>
                    <p>Мы решили отбросить принцип «Прийти, вылечить и забыть о зубном до следующей проблемы» – этот
                        подход
                        не поможет сохранить свои зубы. Поэтому мы создали <b> клуб,</b> главное требование для
                        вступления в
                        который – <b>ответственность.</b> </p>
                    <p><b>Отличие нашего клуба – партнёрские отношения между врачом и пациентом.</b></p>
                    <p>Здесь каждый осознаёт свою ответственность друг перед другом: результат зависит от обоих
                        партнёров.
                    </p>
                    <p><b> Пациент:</b> приходит на приём, следует советам, вовремя приходит на осмотры.</p>
                    <p> <b>Триомед:</b> лечит, даёт рекомендации, подбирает средства гигиены, напоминает о следующей
                        встрече.</p>
                    <p>Только такая совместная работа приведёт к нужному результату – в 60 и даже 80 лет вы будете
                        улыбаться
                        своими зубами.</p>
                    <div class="bonus">
                        <h3 class="bonus-title"> <span> Какие ещё бонусы у нашей клубной системы?</span> </h3>
                        <p><b>Мы создали клубную систему, в которой нужно только правильно ухаживать за зубами и вовремя
                                приходить, а остальное – наша ответственность.</b></p>

                        <a href="#" class="btn  primary-btn bonus-btn">Покажите мне бонусы!</a>
                        <div class="bonus-tooltip">
                            <ul class="bonus-list">
                                <li class="bonus-list__item">1.Гигиенические боксы</li>
                                <li class="bonus-list__item">2.Личные менеджер и лечащий врач</li>
                                <li class="bonus-list__item">3.Чат-бот</li>
                                <a href="" class="btn  details-btn">можно подробнее?</a>
                            </ul>
                        </div>
                    </div>


                </div>
                <div class="section__subinfo" id='about-subinfo'>
                    <h2 class="section__title">Клуб «Триомед»: заботимся вместе о ваших зубах</h2>
                    <h3 class="section__subtitle">Какие ещё бонусы у нашей клубной системы?</h3>
                    <div class="subinfo-text">
                        <p><b>1.Гигиенические боксы</b> Гигиенические боксы – раз в 6 месяцев мы выдаём коробочку с
                            зубной пастой, щёткой, зубной нитью, ёршиками. Средства гигиенист подбирает под особенности
                            ваших зубов и дёсен.</p>
                        <p><b>2.Личные менеджер и лечащий врач</b>– менеджер помнит вас, ваше рабочее расписание и в
                            какое время лучше предлагать записать на приём. А личный врач – знает о ваших зубах всё: не
                            нужно приходить на приём и каждый раз заново рассказывать о себе.</p>
                        <p><b>3.Чат-бот</b>– помнит об осмотрах, гигиене и рассказывает о зубах. Бот:</p>
                        <div class="chat-bot-info">
                            <p><b>-дает информацию</b>– даты осмотров, врачебные заключения, снимки;</p>
                            <p><b>-напоминает</b>– о плановом осмотре, последних посещениях стоматолога, необходимости
                                заменить щетку и сходить на профессиональную чистку;</p>
                            <p><b>-учит</b>– интересные и короткие статьи об уходе за полостью рта, процедурах, услугах;
                            </p>
                            <p><b>-связывает с живым консультантом</b> переход в чат с менеджером «Триомед».</p>
                        </div>
                    </div>
                    <div class="subinfo-action"><a href="" class="btn back-btn">вернуться назад</a></div>
                </div>
                <div class="card" id='card-client'><img src="../static/images/card.jpg" alt=""></div>

            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section  section-work" data-section-name='work'>
            <div class="section__inner">
                <div class="section__info">
                    <h2 class="section__title">Как работает наш клуб</h2>
                    <div class="work-scheme">
                        <div class="client">
                            <div class="client__img">
                                <img src="../static/images/Eugene.png" alt="">
                            </div>
                            <div class="client__info">
                                <div class="client__info-name">Женя,32 года</div>
                                <div class="client__info-desc">делает чистку 1 раз в год, регулярно ходит к стоматологу
                                </div>
                            </div>
                        </div>
                        <div class="worker manager">
                            <div class="worker__img">
                                <img src="../static/images/manager.png" alt="" class="img">
                            </div>
                            <div class="worker__info">
                                <div class="worker__info-pos">Менеджер</div>
                                <div class="worker__info-name">Мария</div>

                            </div>
                            <div class="info">Вы записаны на прием в среду в 14.00. Будем вас ждать!</div>
                        </div>
                        <div class="worker therapy">
                            <div class="worker__img">
                                <img src="../static/images/therapy.png" alt="" class="img">
                            </div>
                            <div class="worker__info">
                                <div class="worker__info-pos">Терапевт</div>

                                <div class="text">Результат приема на руки</div>
                            </div>

                        </div>
                        <div class="gift">
                            <div class="gift__img">
                                <img src="../static/images/gift.png" alt="" class="img">
                                <div class="text up">план лечения</div>
                                <div class="down">
                                    <div class="text">-рассрочка</div>
                                    <div class="text">-поэтапная оплата</div>
                                </div>
                            </div>
                        </div>
                        <div class="worker-group">
                            <div class="worker-group__inner">
                                <div class="worker ">
                                    <div class="worker__img">
                                        <img src="../static/images/therapy.png" alt="" class="img">
                                    </div>
                                    <div class="worker__info">
                                        <div class="worker__info-pos">Терапевт</div>


                                    </div>

                                </div>
                                <div class="worker ">
                                    <div class="worker__img">
                                        <img src="../static/images/orto.png" alt="" class="img">
                                    </div>
                                    <div class="worker__info">
                                        <div class="worker__info-pos">Ортодонт</div>


                                    </div>

                                </div>
                                <div class="worker ">
                                    <div class="worker__img">
                                        <img src="../static/images/surgeon.png" alt="" class="img">
                                    </div>
                                    <div class="worker__info">
                                        <div class="worker__info-pos">Хирург</div>


                                    </div>

                                </div>
                            </div>
                            <div class="worker-group__text">
                                <b>Работа команды</b>, рекомендации специалистов
                            </div>
                        </div>
                        <div class="worker__card">
                            <div class="worker ">
                                <div class="worker__img">
                                    <img src="../static/images/manager.png" alt="" class="img">
                                </div>
                                <div class="worker__info">
                                    <div class="worker__info-pos">Ваш менеджер</div>
                                    <div class="worker__info-name">Мария</div>

                                </div>

                            </div>
                            <div class="worker__card-text">
                                <p>
                                    Мария знает, когда Жене нужно на следующий приём, поэтому свяжется с ним заранее и
                                    напомнит. Она расскажет об
                                </p>
                                <p>Она расскажет об услугах, врачах и подберет время приёма.</p>
                            </div>
                        </div>
                        <a href="" class="btn primary-btn result-btn">Что стало с Женей <br>через 30лет?</a>
                    </div>
                </div>
            </div>
        </section>
        <section class="section section-reason" data-section-name='reason'>
            <div class="section__inner">
                <div class="section__info">
                    <div class="section__title">
                        Еще 4 причины доверить зубы «Триомед»
                    </div>
                    <div class="section__text">
                        <p>
                            <b>Обучение врачей </b>– «Триомед» оплачивает 50 часов обучения каждого специалиста. Так
                            стоматологи учатся решать сложные случаи и сохранять ваши зубы, когда кажется, что они
                            потеряны.
                        </p>
                        <p><b>Несколько клиник по Минску </b> – вы останетесь в клубе, где бы вы ни были. Во всех
                            кабинетах одинаковый подход к работе, техника и специалисты.</p>
                        <p><b>Полное обследование </b> – вы не раз услышите слово «чекап» (check-up) – это проверка.
                            После неё вы узнаете, какие проблемы у вас есть или могут появиться, а на руках останутся
                            снимок и врачебное заключение.</p>
                        <p><b>Гигиенист</b> – гигиеной полости рта занимается не терапевт, а профильный сотрудник: он
                            специализируется на правильной чистке, уходе и подборе нужных средств.</p>

                    </div>
                </div>
                <div class="section__action">
                    <div class="section__action-text">Что еще нужно для здоровья ваших зубов?</div>
                    <a href="#" class="btn main-btn"><span>Записаться на бесплатную
                            консультацию</span></a>
                </div>
            </div>
        </section>


        <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/4</span></div>
            <nav class="nav" id='menu'>

                <a href="#main" class="nav__link active ">триомед</a>

                <a href="#about" class="nav__link">о клубе</a>
                <a href="#work" class="nav__link">как работает
                    клуб</a>
                <a href="#reason" class="nav__link">наши фишки</a>



            </nav>

        </div>
    </div>
</div>


{{> layout/footer}}