{{!Базальная имплантация}}
{{> layout/header}}
<div class="content implantation-single">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link">Портфолио</a>
            </li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Имплантация</a>
            </li>
        </ul>
        <section class="section implantation-single-main " data-section-name="implantation-single-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Базальная имплантация
                </h2>


                <div class="image-group">
                    <div class="image-item before">
                        <div class="text">До</div>
                        <img src="../static/images/portfolio-before.jpg " alt="" class="img">
                    </div>
                    <div class="image-item after">
                        <div class="text">После</div>
                        <img src="../static/images/portfolio-after.jpg" alt="" class="img ">
                    </div>
                </div>




                <div class="section__info">
                    <p><b>До: </b>частичное отсутствие зубов на нижней челюсти, не эстетическое состояние
                        металлокерамических коронок на верхней челюсти</p>
                    <p><b>После: </b>цельнокерамические коронки на основе диоксида циркония на имплантах Astra Tech в
                        области 1.6, 1.5. 2.4, 2.5, 2.6, 3.6, 3.4, 4.4, 4.6 зубов, цельнокерамические коронки на основе
                        диоксида циркония на зубах 1.7, 1.3, 1.2, 1.1 2.1 2.2 2.3, 3.3, 4.3</p>
                        <div class="doctor-info">
                            <p>Специалист: Андриенко Екатерина Арсеньевна</p>
                            <p>Специализация: Имплантация</p>
                        </div>
                </div>
                <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
            </div>
        </section>
        <section  class="section implantation-single-about" data-section-name="implantation-single-about">
          <div class="section__inner">
              <h2 class="section__title">
                Имплантация
              </h2>
              <div class="section__info">
              <div class="result-field"><div class="result-field__left">Другие работы</div> <div class="result-field__right">Всего работ: <span class="result">27</span></div></div>
               <div class="slider portfolio-page-slider">
                            <div class="slider__inner" id="portfolio-page-slider">
                                <div class="slider-item">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-item">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow">
                                <div class="portfolio-prev">
                                    <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                                    </svg>

                                </div>
                                <div class="portfolio-next">
                                    <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                                    </svg>
                                </div>
                            </div>

                        </div>
              </div>
          </div>
        </section>
        <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/2</span></div>
            <nav class="nav" id='menu'>
                <a href="#implantation-single-main" class="nav__link active">о работе</a>
                <a href="#implantation-single-about" class="nav__link">похожие работы</a>

            </nav>

        </div>
    </div>
</div>
{{> layout/footer class='footer-wrap'}}