{{!Личный менеджер}}



{{> layout/header}}
<div class="content personal-manager-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link ">Услуги</a>
            <li class="breadcrumbs__item active "><a href="#" class="breadcrumbs__link active">Личный консультант</a>
            </li>
              <li class="breadcrumbs__item mobile"><a href="#" class="breadcrumbs__link active"><svg width="34" height="6"
                        viewBox="0 0 34 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-2.61319e-07 3.01086L2.10141 4.04477e-07L3.23339 3.05516e-07L1.52303 2.51123L34 2.51123L34 3.49963L1.52303 3.49963L3.23339 6L2.10141 6L-2.61319e-07 3.01086Z"
                            fill="#777777" />
                    </svg>услуги</a>
            </li>
        </ul>
    </div>


    <section class="section personal-manager-main" data-section-name='personal-manager-main'>
        <div class="container">
            <div class="section__inner">
                <h2 class="section__title">
                    Как вылечить зубы и получить от этого удовольствие?
                </h2>
                <div class="section__info">
                    <p>Помните менеджеров в регистратуре зубной поликлиники? Каждый разговор с ними вызывает чувство,
                        будто ты сделал непоправимую ошибку, решив обратиться к врачу, чтобы не потерять в 30 лет все
                        зубы. Именно такие вещи прививают нам нелюбовь к докторам.</p>
                    <p>Мы в Triomed Club считаем, что следить за своим здоровьем должно быть не только полезно, но и
                        приятно. Поэтому предлагаем каждому клиенту и члену клуба личного менеджера: он возьмет на себя
                        лишние заботы – вам нужно только приходить на анализы и процедуры.</p>
                </div>
                <div class="section__action">
                    <a href="#" class="btn main-btn" data-popup="footer-popup"><span>Записаться на бесплатную
                            консультацию</span></a>
                </div>
            </div>
        </div>
    </section>

    <div class="container">
        <section class="section personal-manager-tasks" data-section-name='personal-manager-tasks'>
            <div class="section__inner">
                <h2 class="section__title">
                    Что делает личный менеджер для вас?
                </h2>
                <h3 class="section__subtitle">Все, что мешает вам сосредоточиться на главном – лечении:</h3>
                <div class="section__info">
                    <div class="row task__row">
                        <div class="col-md-3 task__col">
                            <div class="task__col-inner">
                                <h3 class="col__title">
                                    Экономит время
                                </h3>

                                <ol class="col__list">
                                    <li class="list__item">рассказывает о процедурах и финансах по телефону и онлайн
                                    </li>
                                    <li class="list__item">связывает с доктором, если нужно</li>
                                    <li class="list__item">заводит карточку и помогает оформить другие документы</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-3 task__col">
                            <div class="task__col-inner">
                                <h3 class="col__title">
                                    Ведет бюджет
                                </h3>

                                <ol class="col__list">
                                    <li class="list__item">подсчитывает стоимость лечения</li>
                                    <li class="list__item">вместе с вами создает план оплат</li>
                                    <li class="list__item">включает в него услуги смежных специалистов, если они нужны
                                    </li>
                                    <li class="list__item">записывает к ним на прием</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-3 task__col">
                            <div class="task__col-inner">
                                <h3 class="col__title">
                                    Создает комфорт
                                </h3>

                                <ol class="col__list">
                                    <li class="list__item">организовывает досуг в клинике</li>
                                    <li class="list__item">вызывает такси</li>
                                    <li class="list__item">помогает найти няню на время, пока вы в Triomed</li>
                                    <li class="list__item">создает личный кабинет и рассказывает, как им пользоваться
                                    </li>
                                    <li class="list__item">переносит встречи, если вы задерживаетесь на лечении</li>
                                </ol>
                            </div>
                        </div>
                        <div class="col-md-3 task__col">
                            <div class="task__col-inner">
                                <h3 class="col__title">
                                    Заботится о вас
                                </h3>

                                <ol class="col__list">
                                    <li class="list__item">присылает полезные статьи по вашей проблеме</li>
                                    <li class="list__item">дает рекомендации по питанию, чтобы сохранить свои зубы
                                        надолго</li>
                                    <li class="list__item">напоминает о приемах</li>
                                    <li class="list__item">говорит, что пора сменить щетку</li>
                                    <li class="list__item">рассказывает об уходе за полостью рта</li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__subinfo">
                    Доверьте менеджеру организационные вопросы, чтобы отдыхать на обеде, а не проводить время на
                    телефоне.
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
        <section class="section personal-manager-actions" data-section-name='personal-manager-actions'>
            <div class="section__inner">
                <h2 class="section__title">
                    Что делает личный менеджер, пока вы не видите?
                </h2>
                <div class="section__info">
                    <p>
                        Личный менеджер в Triomed Club – это не просто девушка на рецепции, которая мило улыбнется и
                        запишет вас на нужное время к врачу, это менеджер проекта вашего лечения. Вы встречаетесь при
                        первом визите в Triomed Club, обмениваетесь данными, общаетесь. Далее специалист:
                    </p>
                    <p class="text-padding"><b>— присутствует на первой консультации с врачом-куратором</b> – записывает важные моменты</p>
                    <p class="text-padding"><b>— курирует необходимые обследования</b> –оповещает о них, записывает на удобное время,
                        напоминает по телефону, собирает папку с результатами</p>
                    <p class="text-padding"><b>— представляет вас на консилиуме врачей</b> – передает папку с обследованиями специалистам
                        перед собранием, слушает заключение врачей и помогает составлять план реконструкции здоровья
                        полости рта</p>
                    <p class="text-padding"><b>— составляет план лечения</b> – полностью просчитывает время выздоровления и финансовую
                        составляющую, включая услуги сторонних специалистов (ЛОРа), если они нужны</p>
                    <p class="text-padding"><b>— презентует план</b> – рассказывает, как пройдет лечение, сколько надо заплатить за все и за
                        каждую встречу в отдельности, вносит корректировки, если нужно.</p>
                       <p><b>Записывайтесь в Triomed Club на бесплатную консультацию – познакомьтесь со своим личным менеджером и занимайтесь здоровьем зубов с комфортом.</b></p>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>

        <div class="bottom-menu menu-gray" id="bottom-menu-gray">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/3</span></div>
            <nav class="nav" id='menu'>
                <a href="#personal-manager-main" class="nav__link active ">об услуге</a>
                <a href="#personal-manager-tasks" class="nav__link  ">задачи личного менеджера</a>
                <a href="#personal-manager-actions" class="nav__link  ">невидимая работа менеджера</a>
            </nav>

        </div>
    </div>


</div>


{{> layout/footer class='footer-wrap'}}