{{!Портфолио}}

{{> layout/header}}

<div class="content portfolio">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Портфолио</a>
            </li>
        </ul>

        <section class="section portfolio">
            <div class="section__inner">
                <h2 class="section__title">
                    Портфолио
                </h2>
                <div class="section__info">
                  
                    <div class="section__info-bottom">
                        <div class="slider portfolio-page-slider">
                            <div class="slider__inner" id="portfolio-page-slider">
                                <div class="slider-item">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                    </div>
                                </div>

                                <div class="slider-item">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/potrfolio-group.png" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow">
                                <div class="portfolio-prev">
                                    <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                                    </svg>

                                </div>
                                <div class="portfolio-next">
                                    <svg width="56" height="10" viewBox="0 0 56 10" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M0.187912 4.60499L3.5798 0.000553818L5.40694 0.000553658L2.64624 3.84092L55.0674 3.84091L55.0674 5.35245L2.64624 5.35246L5.40694 9.17621L3.5798 9.17621L0.187912 4.60499Z" />
                                    </svg>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/1</span></div>
            <nav class="nav" id='menu'>
                <a href="#portfolio" class="nav__link active">портфолио</a>

            </nav>

        </div>
    </div>
</div>


{{> layout/footer class='footer-wrap'}}