{{!Портфолио}}

{{> layout/header}}

<div class="content portfolio">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item active"><a href="#" class="breadcrumbs__link active">Портфолио</a>
            </li>
            <li class="breadcrumbs__item mobile"><a href="#" class="breadcrumbs__link "><svg width="34" height="6"
                        viewBox="0 0 34 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path
                            d="M-2.61319e-07 3.01086L2.10141 4.04477e-07L3.23339 3.05516e-07L1.52303 2.51123L34 2.51123L34 3.49963L1.52303 3.49963L3.23339 6L2.10141 6L-2.61319e-07 3.01086Z"
                            fill="#777777" />
                    </svg>
                    главная</a>
            </li>
        </ul>

        <section class="section portfolio">
            <div class="section__inner">
                <h2 class="section__title">
                    Портфолио
                </h2>
                <div class="section__result">
                    <span> Всего работ <span>27</span></span>
                    <select class="custom-select" placeholder="Выберите специализацию">
                        <option value="Категория 1">Категория 1</option>
                        <option value="Категория 2">Категория 2</option>
                        <option value="Категория 3">Категория 3</option>
                    </select>
                </div>
                <div class="section__info">

                    <div class="section__info-bottom">
                        <div class="slider portfolio-page-slider">
                            <div class="slider__inner" id="portfolio-page-slider">
                                <div class="slider-item">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider-item hide" id="portfolio-works-hide">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>

                                    </div>
                                </div>
                                <div class="slider-item hide" id="portfolio-works-hide">
                                    <div class="row portfolio-row">
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/portfolio-before.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/portfolio-after.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Базальная имплантация</h3>
                                        </div>
                                        <div class="col-md-6 portfolio-col">

                                            <div class="col-img">
                                                <img src="../static/images/orthodontics 2.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                                <img src="../static/images/orthodontics 3.jpg" alt=""
                                                    class="img grayscale grayscale-fade">
                                            </div>
                                            <h3 class="col-title">Имплантация двухфазовая</h3>
                                        </div>

                                    </div>
                                </div>

                            </div>
                            <div class="slider-arrow">
                                <div class="portfolio-prev">
                                    <svg width="45" height="7" viewBox="0 0 45 7" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M5.30801e-05 3.51268L2.76395 7.2486e-06L4.25279 7.12674e-06L2.00323 2.92977L44.7187 2.92977L44.7187 4.08291L2.00323 4.08291L4.25279 7L2.76395 7L5.30801e-05 3.51268Z" />
                                    </svg>

                                </div>
                                <div class="portfolio-next">
                                    <svg width="45" height="7" viewBox="0 0 45 7" xmlns="http://www.w3.org/2000/svg">
                                        <path
                                            d="M44.9999 3.48733L42.2361 7H40.7472L42.9968 4.07023H0.28125V2.91709H42.9968L40.7472 0H42.2361L44.9999 3.48733Z" />
                                    </svg>
                                </div>
                            </div>
                            <button class="btn btn-gray" id="portfolio-works-wrap">Показать еще</button>
                        </div>
                    </div>
                </div>
        </section>
        <div class="bottom-menu">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/1</span></div>
            <nav class="nav" id='menu'>
                <a href="#portfolio" class="nav__link active">портфолио</a>

            </nav>

        </div>
    </div>
</div>


{{> layout/footer class='footer-wrap'}}