{{!Отзывы}}

{{> layout/header}}
<div class="content reviews" id="reviews">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Отзывы</a>
            </li>
        </ul>
        <section class="section reviews-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Отзывы
                </h2>
               
                <div class="section__info">
                    <div class="tabs reviews-tabs" id="tabs">
                        <ul class="tabs__header">
                            <li class="tab active">Наши клиенты пишут</li>
                            <li class="tab">Видеоотзывы</li>
                               <li class="tab">Оставить отзыв</li>
                        </ul>
                        <div class="tabs-content">
                            <ul class="reviews-list">
                                <div class="slider reviews-list-slider">
                                    <div class="slider__inner" id="reviews-list-slider">
                                        <div class="slider__item">
                                            <li class="reviews-list__item">
                                                <div class="item-name">
                                                    Алексей Богданович
                                                </div>
                                                <div class="item-proffesion">
                                                    Ведущий спортивных новостей (ОНТ)
                                                </div>
                                                  <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                <div class="item-text">
                                                    <div class="item-text__left">
                                                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" class="item-text-icon">
                                                            <path
                                                                d="M25.9314 29.6785C23.8976 29.6785 22.118 28.8129 20.5927 26.958C19.0674 25.1031 18.3047 22.7536 18.3047 19.662C18.3047 17.0652 19.7029 13.2317 22.6265 7.91428C25.4229 2.59687 27.5838 0 28.9821 0C29.7447 0 30.1261 0.370982 30.1261 1.23661C30.1261 1.48393 29.3634 3.21518 27.711 6.43035C26.0585 9.64553 25.2958 12.1187 25.2958 13.9736C25.2958 15.3339 26.1856 16.5705 28.0923 17.4361C29.8719 18.3018 31.143 19.2911 31.7785 20.2803C32.4141 21.2696 32.6683 22.2589 32.6683 23.3719C32.6683 25.3504 32.0327 26.958 30.8887 28.1946C29.4905 29.0602 27.8381 29.6785 25.9314 29.6785Z"
                                                                fill="#C8102E" />
                                                            <path
                                                                d="M7.75381 29.6787C5.72003 29.6787 3.94046 28.813 2.41512 26.9581C0.76267 25.1032 0 22.63 0 19.6622C0 17.0653 1.39823 13.2318 4.3218 7.9144C7.11825 2.59699 9.27915 0.00012207 10.6774 0.00012207C11.4401 0.00012207 11.8214 0.371104 11.8214 1.23673C11.8214 1.48405 11.0587 3.2153 9.40626 6.43047C7.75381 9.64565 6.99114 12.1189 6.99114 13.9738C6.99114 15.334 7.88092 16.5706 9.7876 17.4363C11.5672 18.3019 12.8383 19.2912 13.4738 20.2805C14.1094 21.2697 14.3636 22.259 14.3636 23.372C14.3636 25.3505 13.7281 26.9581 12.5841 28.1947C11.1858 29.0604 9.66049 29.6787 7.75381 29.6787Z"
                                                                fill="#C8102E" />
                                                        </svg>
                                                    </div>

                                                    <div class="item-text__right">
                                                        Нашел эту клинику по рекомендациям друзей. Достаточно длительное
                                                        время
                                                        лечимся у них всей семьей. Очень довольны результатами,
                                                        профессиональным и
                                                        чутким подходом, к решению порой не простых задач:). Теперь мы
                                                        тоже
                                                        рекомендуем этот коллектив всем своим друзьям.

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="reviews-list__item">
                                                <div class="item-name">
                                                    Илья Митич
                                                </div>
                                                <div class="item-proffesion">
                                                    Фотограф, фрилансер
                                                </div>
                                                 <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                <div class="item-text">
                                                    <div class="item-text__left">
                                                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" class="item-text-icon">
                                                            <path
                                                                d="M25.9314 29.6785C23.8976 29.6785 22.118 28.8129 20.5927 26.958C19.0674 25.1031 18.3047 22.7536 18.3047 19.662C18.3047 17.0652 19.7029 13.2317 22.6265 7.91428C25.4229 2.59687 27.5838 0 28.9821 0C29.7447 0 30.1261 0.370982 30.1261 1.23661C30.1261 1.48393 29.3634 3.21518 27.711 6.43035C26.0585 9.64553 25.2958 12.1187 25.2958 13.9736C25.2958 15.3339 26.1856 16.5705 28.0923 17.4361C29.8719 18.3018 31.143 19.2911 31.7785 20.2803C32.4141 21.2696 32.6683 22.2589 32.6683 23.3719C32.6683 25.3504 32.0327 26.958 30.8887 28.1946C29.4905 29.0602 27.8381 29.6785 25.9314 29.6785Z"
                                                                fill="#C8102E" />
                                                            <path
                                                                d="M7.75381 29.6787C5.72003 29.6787 3.94046 28.813 2.41512 26.9581C0.76267 25.1032 0 22.63 0 19.6622C0 17.0653 1.39823 13.2318 4.3218 7.9144C7.11825 2.59699 9.27915 0.00012207 10.6774 0.00012207C11.4401 0.00012207 11.8214 0.371104 11.8214 1.23673C11.8214 1.48405 11.0587 3.2153 9.40626 6.43047C7.75381 9.64565 6.99114 12.1189 6.99114 13.9738C6.99114 15.334 7.88092 16.5706 9.7876 17.4363C11.5672 18.3019 12.8383 19.2912 13.4738 20.2805C14.1094 21.2697 14.3636 22.259 14.3636 23.372C14.3636 25.3505 13.7281 26.9581 12.5841 28.1947C11.1858 29.0604 9.66049 29.6787 7.75381 29.6787Z"
                                                                fill="#C8102E" />
                                                        </svg>
                                                    </div>

                                                    <div class="item-text__right">
                                                        Стоматологию Триомед могу охарактеризовать одним словом —
                                                        ОТЛИЧНО! Все врачи молодые, увлеченные своим делом,
                                                        высокопрофессиональные, вежливые. Предлагают несколько вариантов
                                                        лечения. Лечение абсолютно безболезненное. Чуть не засыпал в
                                                        кресле)))

                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="slider__item">
                                            <li class="reviews-list__item">
                                                <div class="item-name">
                                                    Алексей Богданович
                                                </div>
                                                <div class="item-proffesion">
                                                    Ведущий спортивных новостей (ОНТ)
                                                </div>
                                                  <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                <div class="item-text">
                                                    <div class="item-text__left">
                                                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" class="item-text-icon">
                                                            <path
                                                                d="M25.9314 29.6785C23.8976 29.6785 22.118 28.8129 20.5927 26.958C19.0674 25.1031 18.3047 22.7536 18.3047 19.662C18.3047 17.0652 19.7029 13.2317 22.6265 7.91428C25.4229 2.59687 27.5838 0 28.9821 0C29.7447 0 30.1261 0.370982 30.1261 1.23661C30.1261 1.48393 29.3634 3.21518 27.711 6.43035C26.0585 9.64553 25.2958 12.1187 25.2958 13.9736C25.2958 15.3339 26.1856 16.5705 28.0923 17.4361C29.8719 18.3018 31.143 19.2911 31.7785 20.2803C32.4141 21.2696 32.6683 22.2589 32.6683 23.3719C32.6683 25.3504 32.0327 26.958 30.8887 28.1946C29.4905 29.0602 27.8381 29.6785 25.9314 29.6785Z"
                                                                fill="#C8102E" />
                                                            <path
                                                                d="M7.75381 29.6787C5.72003 29.6787 3.94046 28.813 2.41512 26.9581C0.76267 25.1032 0 22.63 0 19.6622C0 17.0653 1.39823 13.2318 4.3218 7.9144C7.11825 2.59699 9.27915 0.00012207 10.6774 0.00012207C11.4401 0.00012207 11.8214 0.371104 11.8214 1.23673C11.8214 1.48405 11.0587 3.2153 9.40626 6.43047C7.75381 9.64565 6.99114 12.1189 6.99114 13.9738C6.99114 15.334 7.88092 16.5706 9.7876 17.4363C11.5672 18.3019 12.8383 19.2912 13.4738 20.2805C14.1094 21.2697 14.3636 22.259 14.3636 23.372C14.3636 25.3505 13.7281 26.9581 12.5841 28.1947C11.1858 29.0604 9.66049 29.6787 7.75381 29.6787Z"
                                                                fill="#C8102E" />
                                                        </svg>
                                                    </div>

                                                    <div class="item-text__right">
                                                        Нашел эту клинику по рекомендациям друзей. Достаточно длительное
                                                        время
                                                        лечимся у них всей семьей. Очень довольны результатами,
                                                        профессиональным и
                                                        чутким подходом, к решению порой не простых задач:). Теперь мы
                                                        тоже
                                                        рекомендуем этот коллектив всем своим друзьям.

                                                    </div>
                                                </div>
                                            </li>
                                            <li class="reviews-list__item">
                                                <div class="item-name">
                                                    Илья Митич
                                                </div>
                                                <div class="item-proffesion">
                                                    Фотограф, фрилансер
                                                </div>
                                                  <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                <div class="item-text">
                                                    <div class="item-text__left">
                                                        <svg width="33" height="30" viewBox="0 0 33 30" fill="none"
                                                            xmlns="http://www.w3.org/2000/svg" class="item-text-icon">
                                                            <path
                                                                d="M25.9314 29.6785C23.8976 29.6785 22.118 28.8129 20.5927 26.958C19.0674 25.1031 18.3047 22.7536 18.3047 19.662C18.3047 17.0652 19.7029 13.2317 22.6265 7.91428C25.4229 2.59687 27.5838 0 28.9821 0C29.7447 0 30.1261 0.370982 30.1261 1.23661C30.1261 1.48393 29.3634 3.21518 27.711 6.43035C26.0585 9.64553 25.2958 12.1187 25.2958 13.9736C25.2958 15.3339 26.1856 16.5705 28.0923 17.4361C29.8719 18.3018 31.143 19.2911 31.7785 20.2803C32.4141 21.2696 32.6683 22.2589 32.6683 23.3719C32.6683 25.3504 32.0327 26.958 30.8887 28.1946C29.4905 29.0602 27.8381 29.6785 25.9314 29.6785Z"
                                                                fill="#C8102E" />
                                                            <path
                                                                d="M7.75381 29.6787C5.72003 29.6787 3.94046 28.813 2.41512 26.9581C0.76267 25.1032 0 22.63 0 19.6622C0 17.0653 1.39823 13.2318 4.3218 7.9144C7.11825 2.59699 9.27915 0.00012207 10.6774 0.00012207C11.4401 0.00012207 11.8214 0.371104 11.8214 1.23673C11.8214 1.48405 11.0587 3.2153 9.40626 6.43047C7.75381 9.64565 6.99114 12.1189 6.99114 13.9738C6.99114 15.334 7.88092 16.5706 9.7876 17.4363C11.5672 18.3019 12.8383 19.2912 13.4738 20.2805C14.1094 21.2697 14.3636 22.259 14.3636 23.372C14.3636 25.3505 13.7281 26.9581 12.5841 28.1947C11.1858 29.0604 9.66049 29.6787 7.75381 29.6787Z"
                                                                fill="#C8102E" />
                                                        </svg>
                                                    </div>

                                                    <div class="item-text__right">
                                                        Стоматологию Триомед могу охарактеризовать одним словом —
                                                        ОТЛИЧНО! Все врачи молодые, увлеченные своим делом,
                                                        высокопрофессиональные, вежливые. Предлагают несколько вариантов
                                                        лечения. Лечение абсолютно безболезненное. Чуть не засыпал в
                                                        кресле)))

                                                    </div>
                                                </div>
                                            </li>
                                        </div>

                                    </div>
                                    <div class="slider-arrow">
                                        <div class="prev">
                                              <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M5.30801e-05 3.51268L2.76395 7.2486e-06L4.25279 7.12674e-06L2.00323 2.92977L44.7187 2.92977L44.7187 4.08291L2.00323 4.08291L4.25279 7L2.76395 7L5.30801e-05 3.51268Z" />
</svg>

                                        </div>
                                        <div class="next">
                                                <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M44.9999 3.48733L42.2361 7H40.7472L42.9968 4.07023H0.28125V2.91709H42.9968L40.7472 0H42.2361L44.9999 3.48733Z" />
</svg>
                                        </div>
                                    </div>
                                </div>


                            </ul>
                        </div>
                        <div class="tabs-content">
                            <ul class="reviews-list videoreviews">
                                <div class="slider videoreviews-list-slider">
                                    <div class="slider__inner" id="videoreviews-list-slider">

                                        <div class="slider__item">
                                            <li class="reviews-list__item">
                                                <div class="item__left">
                                                    <img src="../static/images/reviews1.png" alt="">
                                                </div>
                                                <div class="item__right">
                                                    <div class="item-name">
                                                        Алексей Богданович
                                                    </div>
                                                    <div class="item-proffesion">
                                                        Ведущий спортивных новостей (ОНТ)
                                                    </div>
                                                      <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                    <div class="item-text">



                                                        Нашел эту клинику по рекомендациям друзей. Достаточно
                                                        длительное
                                                        время
                                                        лечимся у них всей семьей. Очень довольны результатами,
                                                        профессиональным и
                                                        чутким подходом, к решению порой не простых задач:). Теперь
                                                        мы
                                                        тоже
                                                        рекомендуем этот коллектив всем своим друзьям.


                                                    </div>
                                                </div>
                                            </li>
                                            <li class="reviews-list__item">
                                                <div class="item__left">
                                                    <img src="../static/images/reviews2.png" alt="">
                                                </div>
                                                <div class="item__right">
                                                    <div class="item-name">
                                                        Илья Митич
                                                    </div>
                                                    <div class="item-proffesion">
                                                        Фотограф, фрилансер
                                                    </div>
                                                      <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                    <div class="item-text">



                                                        Стоматологию Триомед могу охарактеризовать одним словом —
                                                        ОТЛИЧНО! Все врачи молодые, увлеченные своим делом,
                                                        высокопрофессиональные, вежливые. Предлагают несколько
                                                        вариантов
                                                        лечения. Лечение абсолютно безболезненное. Чуть не засыпал в
                                                        кресле)))


                                                    </div>
                                                </div>
                                            </li>
                                        </div>
                                        <div class="slider__item">
                                            <li class="reviews-list__item">
                                                <div class="item__left">
                                                    <img src="../static/images/reviews1.png" alt="">
                                                </div>
                                                <div class="item__right">
                                                    <div class="item-name">
                                                        Алексей Богданович
                                                    </div>
                                                    <div class="item-proffesion">
                                                        Ведущий спортивных новостей (ОНТ)
                                                    </div>
                                                      <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                    <div class="item-text">
                                                        Нашел эту клинику по рекомендациям друзей. Достаточно
                                                        длительное
                                                        время
                                                        лечимся у них всей семьей. Очень довольны результатами,
                                                        профессиональным и
                                                        чутким подходом, к решению порой не простых задач:). Теперь
                                                        мы
                                                        тоже
                                                        рекомендуем этот коллектив всем своим друзьям.
                                                    </div>
                                                </div>
                                            </li>
                                            <li class="reviews-list__item">
                                                <div class="item__left">
                                                    <img src="../static/images/reviews2.png" alt="">
                                                </div>
                                                <div class="item__right">
                                                    <div class="item-name">
                                                        Илья Митич
                                                    </div>
                                                    <div class="item-proffesion">
                                                        Фотограф, фрилансер
                                                    </div>
                                                      <div class="item-date">
                                                    02.02.2020
                                                </div>
                                                    <div class="item-text">
                                                        Стоматологию Триомед могу охарактеризовать одним словом —
                                                        ОТЛИЧНО! Все врачи молодые, увлеченные своим делом,
                                                        высокопрофессиональные, вежливые. Предлагают несколько
                                                        вариантов
                                                        лечения. Лечение абсолютно безболезненное. Чуть не засыпал в
                                                        кресле)))
                                                    </div>
                                                </div>
                                            </li>
                                        </div>

                                    </div>
                                    <div class="slider-arrow">
                                        <div class="prev-video-slider">
                                           <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M5.30801e-05 3.51268L2.76395 7.2486e-06L4.25279 7.12674e-06L2.00323 2.92977L44.7187 2.92977L44.7187 4.08291L2.00323 4.08291L4.25279 7L2.76395 7L5.30801e-05 3.51268Z" />
</svg>

                                        </div>
                                        <div class="next-video-slider">
                                         <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M44.9999 3.48733L42.2361 7H40.7472L42.9968 4.07023H0.28125V2.91709H42.9968L40.7472 0H42.2361L44.9999 3.48733Z" />
</svg>
                                        </div>
                                    </div>
                                </div>


                            </ul>
                        </div>
                        <div class="tabs-content">
    <div class="reviews-form">
                             <form action="" class="contact-form">
                        <h3 class="form__title"> Оставьте отзыв и получите скидку 5% на следующую процедуру</h3>
                        <input type="text" class="form__input" placeholder="Представтесь пожалуйста">
                        <input type="text" class="form__input" placeholder="Ваша профессия">
                        <textarea name="" id="" cols="30" rows="10" class="form__textarea"
                            placeholder="Напишите ваши впечатления от посещения"></textarea>
                        <button type="submit" class="btn primary-btn">Опубликовать</button>

                    </form>
                   
                        </div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
    </div>
</div>

{{> layout/footer class='footer-wrap'}}