{{!Список специалистов}}

{{> layout/header}}
<div class="content specialist-list">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="#" class="breadcrumbs__link active">Портфолио</a>
            </li>
        </ul>

        <section class="section specialist-list-main">
            <div class="section__inner">
                <h2 class="section__title">
                    Специалисты
                </h2>
                <div class="section__info">
                    <div class="section__info-top">

                        <select class="custom-select" placeholder="Выберите специализацию">
                            <option value="Категория 1">Категория 1</option>
                            <option value="Категория 2">Категория 2</option>
                            <option value="Категория 3">Категория 3</option>
                        </select>

                    </div>
                    <div class="section__info-bottom">
                        <div class="slider specialist-list-slider">
                            <div class="slider__inner" id="specialist-list-slider">
                                <div class="slider__item">
                                    <div class="row specialist-list__row">
                                        <div class="col-md-4 specialist-list__col">
                                              <a href="">
                                            <div class="col-img">
                                              
                                                    <img src="../static/images/spec1.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                              
                                            </div>
                                            <div class="col-info">
                                                <p class="name">АНДРИЕНКО Екатерина Арсеньевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Эстетические реставрации</p>
                                            </div>
                                              </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                             <a href="">
                                            <div class="col-img">
                                               
                                                    <img src="../static/images/spec2.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Лихорад Дмитрий Геннадьевич</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Ортопедия, ортодонтия</p>
                                            </div>
                                             </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                         <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec3.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                              
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Петраш Александра Сергеевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                         </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                       <a href="">
                                                <div class="col-img">
                                             
                                                    <img src="../static/images/spec4.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Цвирко Екатерина Владимировна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                       </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                         <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec3.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                             
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Петраш Александра Сергеевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                         </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                        <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec1.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">АНДРИЕНКО Екатерина Арсеньевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Эстетические реставрации</p>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                                 <div class="slider__item">
                                    <div class="row specialist-list__row">
                                        <div class="col-md-4 specialist-list__col">
                                              <a href="">
                                            <div class="col-img">
                                              
                                                    <img src="../static/images/spec1.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                              
                                            </div>
                                            <div class="col-info">
                                                <p class="name">АНДРИЕНКО Екатерина Арсеньевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Эстетические реставрации</p>
                                            </div>
                                              </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                             <a href="">
                                            <div class="col-img">
                                               
                                                    <img src="../static/images/spec2.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Лихорад Дмитрий Геннадьевич</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Ортопедия, ортодонтия</p>
                                            </div>
                                             </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                         <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec3.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                              
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Петраш Александра Сергеевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                         </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                       <a href="">
                                                <div class="col-img">
                                             
                                                    <img src="../static/images/spec4.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Цвирко Екатерина Владимировна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                       </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                         <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec3.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                             
                                            </div>
                                            <div class="col-info">
                                                <p class="name">Петраш Александра Сергеевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Широкая специализация</p>
                                            </div>
                                         </a>
                                        </div>
                                        <div class="col-md-4 specialist-list__col">
                                        <a href="">
                                                <div class="col-img">
                                              
                                                    <img src="../static/images/spec1.jpg" alt=""
                                                        class="img grayscale grayscale-fade">
                                               
                                            </div>
                                            <div class="col-info">
                                                <p class="name">АНДРИЕНКО Екатерина Арсеньевна</p>
                                                <p class="qualification">Врач 1 категории</p>
                                                <p class="text">Эстетические реставрации</p>
                                            </div>
                                        </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slider-arrow">
                                <div class="portfolio-prev">
                                 <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M5.30801e-05 3.51268L2.76395 7.2486e-06L4.25279 7.12674e-06L2.00323 2.92977L44.7187 2.92977L44.7187 4.08291L2.00323 4.08291L4.25279 7L2.76395 7L5.30801e-05 3.51268Z" />
</svg>

                                </div>
                                <div class="portfolio-next">
                                 <svg width="45" height="7" viewBox="0 0 45 7"  xmlns="http://www.w3.org/2000/svg">
<path d="M44.9999 3.48733L42.2361 7H40.7472L42.9968 4.07023H0.28125V2.91709H42.9968L40.7472 0H42.2361L44.9999 3.48733Z" />
</svg>
                                </div>
                            </div>
                          <button class="btn btn-gray">Показать еще</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>

    </div>
</div>

{{> layout/footer class='footer-wrap'}}