{{!Специалист}}

{{> layout/header}}
<div class="content " id="specialist-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link ">Специалисты</a>
            </li>
            <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Андриенко Екатерина
                    Арсеньевна</a></li>
        </ul>
    </div>
    <section class="section doctor-info" data-section-name='doctor-info'>
        <div class="container">


            <div class="section__inner">
                <div class="section__left">
                    <h2 class="section__title">
                        Андриенко Екатерина Арсеньевна
                    </h2>
                    <div class="section__info">
                        <div class="specialist-info">
                            <p>Врач 1 категории</p>
                            <p>Специализация – эстетические реставрации</p>
                        </div>
                        <div class="specialist-desc">
                            Профессионал своего дела с добрыми глазами. Еще какой-нибудь текст с качественными
                            характеристиками как специалиста. Лауреат конкурса лучший детский стоматолог Беларуси.
                        </div>
                        <div class="specialist-social">
                            <span>Доктор в соцсетях</span>
                            <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                </svg></a>
                            <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                </svg>
                            </a>
                        </div>
                        <div class="specialist-quote">
        
<div class="text">
     Улыбку нужно беречь смолоду! Но цитата может быть длинее, не не сильно, до 3 строк!
</div>
                        </div>
                    </div>
                </div>
                <div class="section__right">
                    <div class="specialist-img">
                        <img src="../static/images/spec1.jpg" alt="">
                        <a href="" class="btn main-btn"><span>Записаться к специалисту</span></a>
                    </div>
                </div>


            </div>
        </div>
    </section>
    <div class="container">


        <section class="section doctor-education" data-section-name='doctor-education'>
            <div class="section__inner">
                <h3 class="section__title">
                    Образование и сертификаты
                </h3>
                <div class="section__info">
                    <div class="section__info-top">
                        <p><b>Образование</b></p>
                        <p>
                            — Белорусский государственный медицинский университет – 1998-2003 гг., специальность –
                            стоматолог
                        </p>
                    </div>
                    <div class="section__info-bottom">
                        <div class="bottom-left">
                            <p><b>Повышение квалификации</b></p>
                     <div>
                             <div class="text specialist-qualification" >
                                <p>2006г. - «Белорусская медицинская академия последипломного образования». «Стоматология
                                терапевтическая»;</p>
                            <p>2011г. - «Белорусская медицинская академия последипломного образования». «Лечение
                                неосложненного кариеса»;</p>
                            <p>2012г. - «Белорусская медицинская академия последипломного образования». «Эстетическая
                                стоматология»;</p>
                            <p>2013г. – Стоматологическая конференция «Искусство прямой реставрации передних зубов»,
                                авторский курс Александра Фецыча (г. Минск);</p>
                            <p>2013г. – Стоматологическая конференция «Адгезивная реставрация жевательных зубов»,
                                авторский курс Александра Фецыча (г. Минск)...</p>
                         </div>
                          <div class="text specialist-qualification ">
                                <p>2014г. - «Белорусская медицинская академия последипломного образования». «Стоматология
                                терапевтическая»;</p>
                            <p>2015г. - «Белорусская медицинская академия последипломного образования». «Лечение
                                неосложненного кариеса»;</p>
                            <p>2016г. - «Белорусская медицинская академия последипломного образования». «Эстетическая
                                стоматология»;</p>
                            <p>2017г. – Стоматологическая конференция «Искусство прямой реставрации передних зубов»,
                                авторский курс Александра Фецыча (г. Минск);</p>
                            <p>2018г. – Стоматологическая конференция «Адгезивная реставрация жевательных зубов»,
                                авторский курс Александра Фецыча (г. Минск)...</p>
                         </div>
                              <div class="text  specialist-qualification" >
                                <p>2019г. - «Белорусская медицинская академия последипломного образования». «Стоматология
                                терапевтическая»;</p>
                            <p>2015г. - «Белорусская медицинская академия последипломного образования». «Лечение
                                неосложненного кариеса»;</p>
                            <p>2016г. - «Белорусская медицинская академия последипломного образования». «Эстетическая
                                стоматология»;</p>
                            <p>2017г. – Стоматологическая конференция «Искусство прямой реставрации передних зубов»,
                                авторский курс Александра Фецыча (г. Минск);</p>
                            <p>2018г. – Стоматологическая конференция «Адгезивная реставрация жевательных зубов»,
                                авторский курс Александра Фецыча (г. Минск)...</p>
                         </div>
                     </div>
                         <span class="specialist-qualification-more" id="specialist-qualification-more">Показать еще</span>


                            </span>
                        </div>
                        <div class="bottom-right">
                            <p><b>Сертификаты</b></p>
                            <div class="slider sertificat-slider">
                                <div class="slider__inner" id="sertificat-slider">
                                    <div class="slider__item">
                                        <a href="../static/images/sertificate.jpg" class="sertificat-image">
                                            <img src="../static/images/sertificate.jpg" alt="">
                                        </a>

                                    </div>
                                    <div class="slider__item">
                                        <a href="../static/images/sertificate.jpg" class="sertificat-image">
                                            <img src="../static/images/sertificate.jpg" alt="">
                                        </a>
                                    </div>
                                </div>
                                <div class="slider-arrow">
                                    <div class="prev">
                                        <svg width="45" height="8" viewBox="0 0 45 8"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                                        </svg>

                                    </div>
                                    <div class="next">
                                        <svg width="46" height="8" viewBox="0 0 46 8"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>

        <section class="section doctor-portfolio" data-section-name='doctor-portfolio'>
            <div class="section__inner">
                <h2 class="section__title">
                    Портфолио
                </h2>
              
               <div class="slider slider-portfolio">
                        <div class="slider-portfolio__inner" id="diagnostic-port">
                            <div class="slider__item">
                                <div class="slider__item-top">
                                    <div class="slider__item-img before">
                                        <div class="text">До</div>
                                        <img src="../static/images/portfolio-before.jpg " alt=""
                                            class="img grayscale grayscale-fade">
                                    </div>
                                    <div class="slider__item-img after">
                                        <div class="text">После</div>
                                        <img src="../static/images/portfolio-after.jpg" alt=""
                                            class="img grayscale grayscale-fade">
                                    </div>
                                </div>
                                <div class="slider__item-bottom">
                                    <div class="section__info">
                                        <p class="subtitle"><b>Имплантация</b></p>
                                        <p><b>До: </b>частичное отсутствие зубов на нижней челюсти, не эстетическое
                                            состояние
                                            металлокерамических коронок на верхней челюсти</p>
                                        <p><b>После: </b>цельнокерамические коронки на основе диоксида циркония на
                                            имплантах Astra Tech в
                                            области 1.6, 1.5. 2.4, 2.5, 2.6, 3.6, 3.4, 4.4, 4.6 зубов,
                                            цельнокерамические коронки на основе
                                            диоксида циркония на зубах 1.7, 1.3, 1.2, 1.1 2.1 2.2 2.3, 3.3, 4.3</p>
                                        <div class="doctor-info-text">
                                            <p>Специалист: Андриенко Екатерина Арсеньевна</p>
                                            <p>Специализация: Имплантация</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <div class="slider__item">
                                <div class="slider__item-top">
                                    <div class="slider__item-img before">
                                        <div class="text">До</div>
                                        <img src="../static/images/portfolio-before.jpg " alt=""
                                            class="img grayscale grayscale-fade">
                                    </div>
                                    <div class="slider__item-img after">
                                        <div class="text">После</div>
                                        <img src="../static/images/portfolio-after.jpg" alt=""
                                            class="img grayscale grayscale-fade">
                                    </div>
                                </div>
                                <div class="slider__item-bottom">
                                    <div class="section__info">
                                        <p class="subtitle"><b>Другая процедура</b></p>
                                        <p><b>До: </b>частичное отсутствие зубов на нижней челюсти, не эстетическое
                                            состояние
                                            металлокерамических коронок на верхней челюсти</p>
                                        <p><b>После: </b>цельнокерамические коронки на основе диоксида циркония на
                                            имплантах Astra Tech в
                                            области 1.6, 1.5. 2.4, 2.5, 2.6, 3.6, 3.4, 4.4, 4.6 зубов,
                                            цельнокерамические коронки на основе
                                            диоксида циркония на зубах 1.7, 1.3, 1.2, 1.1 2.1 2.2 2.3, 3.3, 4.3</p>
                                        <div class="doctor-info-text">
                                            <p>Специалист: Андриенко Екатерина Арсеньевна</p>
                                            <p>Специализация: Имплантация</p>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="slider-arrow">
                            <div class="prev-arrow">
                                <svg width="45" height="8" viewBox="0 0 45 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                                </svg>

                            </div>
                            <div class="next-arrow">
                                <svg width="46" height="8" viewBox="0 0 46 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>

        <div class="bottom-menu menu-gray" id="bottom-menu-gray">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/3</span></div>
            <nav class="nav" id='menu'>
                <a href="#doctor-info" class="nav__link active ">о докторе</a>
                <a href="#doctor-education" class="nav__link  ">образование и сертификаты</a>

                <a href="#doctor-portfolio" class="nav__link">портфолио</a>

            </nav>

        </div>
    </div>
</div>

{{> layout/footer class='footer-wrap'}}