{{!Специалист}}

{{> layout/header}}
<div class="content " id="specialist-page">
    <div class="container">
        <ul class="breadcrumbs">
            <li class="breadcrumbs__item"><a href="home.html" class="breadcrumbs__link">Главная</a></li>
            <li class="breadcrumbs__item "><a href="services.html" class="breadcrumbs__link ">Специалисты</a>
            </li>
            <li class="breadcrumbs__item "><a href="" class="breadcrumbs__link active">Андриенко Екатерина
                    Арсеньевна</a></li>
        </ul>
    </div>
        <section class="section doctor-info" data-section-name='doctor-info'>
            <div class="container">

           
            <div class="section__inner">
                <div class="section__left">
                    <h2 class="section__title">
                        Андриенко Екатерина Арсеньевна
                    </h2>
                    <div class="section__info">
                        <div class="specialist-info">
                            <p>Врач 1 категории</p>
                            <p>Специализация – эстетические реставрации</p>
                        </div>
                        <div class="specialist-desc">
                            Профессионал своего дела с добрыми глазами. Еще какой-нибудь текст с качественными
                            характеристиками как специалиста. Лауреат конкурса лучший детский стоматолог Беларуси.
                        </div>
                        <div class="specialist-social">
                            <span>Доктор в соцсетях</span>
                            <a href=""><svg width="12" height="21" viewBox="0 0 12 21"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M10.8984 11.75H7.96875V20.5H4.0625V11.75H0.898438V8.11719H4.0625V5.38281C4.0625 4.34115 4.25781 3.45573 4.64844 2.72656C5.03906 1.9974 5.58594 1.45052 6.28906 1.08594C7.01823 0.695312 7.85156 0.5 8.78906 0.5C9.20573 0.5 9.64844 0.526042 10.1172 0.578125C10.5859 0.604167 10.9505 0.643229 11.2109 0.695312L11.6016 0.734375V3.82031H10.0391C9.3099 3.82031 8.77604 4.01562 8.4375 4.40625C8.125 4.77083 7.96875 5.22656 7.96875 5.77344V8.11719H11.4453L10.8984 11.75Z" />
                                </svg></a>
                            <a href=""><svg width="19" height="18" viewBox="0 0 19 18"
                                    xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M9.52295 4.72559C10.3042 4.72559 11.0464 4.95996 11.7495 5.35059C12.4526 5.74121 12.9995 6.28809 13.3901 6.99121C13.7808 7.69434 14.0151 8.43652 14.0151 9.21777C14.0151 10.0381 13.7808 10.7803 13.3901 11.4834C12.9995 12.1865 12.4526 12.7334 11.7495 13.124C11.0464 13.5146 10.3042 13.71 9.52295 13.71C8.70264 13.71 7.96045 13.5146 7.25732 13.124C6.5542 12.7334 6.00732 12.1865 5.6167 11.4834C5.22607 10.7803 5.03076 10.0381 5.03076 9.21777C5.03076 8.43652 5.22607 7.69434 5.6167 6.99121C6.00732 6.28809 6.5542 5.74121 7.25732 5.35059C7.96045 4.95996 8.70264 4.72559 9.52295 4.72559ZM9.52295 12.1475C10.3042 12.1475 11.0073 11.874 11.5933 11.2881C12.1401 10.7412 12.4526 10.0381 12.4526 9.21777C12.4526 8.43652 12.1401 7.7334 11.5933 7.14746C11.0073 6.60059 10.3042 6.28809 9.52295 6.28809C8.70264 6.28809 7.99951 6.60059 7.45264 7.14746C6.8667 7.7334 6.59326 8.43652 6.59326 9.21777C6.59326 10.0381 6.8667 10.7412 7.45264 11.2881C7.99951 11.874 8.70264 12.1475 9.52295 12.1475ZM15.2651 4.53027C15.2651 4.25684 15.1479 4.02246 14.9526 3.78809C14.7183 3.59277 14.4839 3.47559 14.2104 3.47559C13.8979 3.47559 13.6636 3.59277 13.4683 3.78809C13.2339 4.02246 13.1558 4.25684 13.1558 4.53027C13.1558 4.84277 13.2339 5.07715 13.4683 5.27246C13.6636 5.50684 13.8979 5.58496 14.2104 5.58496C14.4839 5.58496 14.7183 5.50684 14.9136 5.27246C15.1089 5.07715 15.2261 4.84277 15.2651 4.53027ZM18.2339 5.58496C18.2339 6.32715 18.2729 7.53809 18.2729 9.21777C18.2729 10.9365 18.2339 12.1475 18.1948 12.8896C18.1558 13.6318 18.0386 14.2568 17.8823 14.8037C17.6479 15.4678 17.2573 16.0537 16.7886 16.5225C16.3198 16.9912 15.7339 17.3428 15.1089 17.5771C14.562 17.7725 13.8979 17.8896 13.1558 17.9287C12.4136 17.9678 11.2026 17.9678 9.52295 17.9678C7.8042 17.9678 6.59326 17.9678 5.85107 17.9287C5.10889 17.8896 4.48389 17.7725 3.93701 17.5381C3.27295 17.3428 2.68701 16.9912 2.21826 16.5225C1.74951 16.0537 1.39795 15.4678 1.16357 14.8037C0.968262 14.2568 0.851074 13.6318 0.812012 12.8896C0.772949 12.1475 0.772949 10.9365 0.772949 9.21777C0.772949 7.53809 0.772949 6.32715 0.812012 5.58496C0.851074 4.84277 0.968262 4.17871 1.16357 3.63184C1.39795 3.00684 1.74951 2.4209 2.21826 1.95215C2.68701 1.4834 3.27295 1.09277 3.93701 0.858398C4.48389 0.702148 5.10889 0.584961 5.85107 0.545898C6.59326 0.506836 7.8042 0.467773 9.52295 0.467773C11.2026 0.467773 12.4136 0.506836 13.1558 0.545898C13.8979 0.584961 14.562 0.702148 15.1089 0.858398C15.7339 1.09277 16.3198 1.4834 16.7886 1.95215C17.2573 2.4209 17.6479 3.00684 17.8823 3.63184C18.0386 4.17871 18.1558 4.84277 18.2339 5.58496ZM16.3589 14.374C16.5151 13.9443 16.5933 13.2412 16.6714 12.2646C16.6714 11.7178 16.7104 10.8975 16.7104 9.84277V8.59277C16.7104 7.53809 16.6714 6.71777 16.6714 6.1709C16.5933 5.19434 16.5151 4.49121 16.3589 4.06152C16.0464 3.28027 15.4604 2.69434 14.6792 2.38184C14.2495 2.22559 13.5464 2.14746 12.5698 2.06934C11.9839 2.06934 11.1636 2.03027 10.1479 2.03027H8.89795C7.84326 2.03027 7.02295 2.06934 6.47607 2.06934C5.49951 2.14746 4.79639 2.22559 4.3667 2.38184C3.54639 2.69434 2.99951 3.28027 2.68701 4.06152C2.53076 4.49121 2.41357 5.19434 2.37451 6.1709C2.33545 6.75684 2.33545 7.57715 2.33545 8.59277V9.84277C2.33545 10.8975 2.33545 11.7178 2.37451 12.2646C2.41357 13.2412 2.53076 13.9443 2.68701 14.374C2.99951 15.1943 3.58545 15.7412 4.3667 16.0537C4.79639 16.21 5.49951 16.3271 6.47607 16.3662C7.02295 16.4053 7.84326 16.4053 8.89795 16.4053H10.1479C11.2026 16.4053 12.0229 16.4053 12.5698 16.3662C13.5464 16.3271 14.2495 16.21 14.6792 16.0537C15.4604 15.7412 16.0464 15.1553 16.3589 14.374Z" />
                                </svg>
                            </a>
                        </div>
                        <div class="specialist-quote">
                            <svg width="276" height="109" viewBox="0 0 276 109" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path
                                    d="M20.9702 23.9999C19.3255 23.9999 17.8865 23.2999 16.653 21.7999C15.4195 20.3 14.8027 18.4 14.8027 15.9C14.8027 13.8 15.9334 10.7 18.2976 6.39998C20.559 2.09999 22.3064 0 23.4371 0C24.0539 0 24.3623 0.299999 24.3623 0.999998C24.3623 1.2 23.7455 2.59999 22.4092 5.19999C21.073 7.79998 20.4562 9.79998 20.4562 11.3C20.4562 12.4 21.1757 13.4 22.7176 14.1C24.1567 14.8 25.1846 15.6 25.6985 16.4C26.2125 17.2 26.4181 18 26.4181 18.9C26.4181 20.5 25.9041 21.7999 24.979 22.7999C23.8483 23.4999 22.512 23.9999 20.9702 23.9999Z"
                                    fill="#333333" />
                                <path
                                    d="M6.27022 24.0001C4.62557 24.0001 3.18651 23.3001 1.95302 21.8001C0.616743 20.3001 0 18.3001 0 15.9001C0 13.8001 1.1307 10.7001 3.49488 6.40011C5.75627 2.10012 7.50371 0.00012207 8.6344 0.00012207C9.25115 0.00012207 9.55952 0.300121 9.55952 1.00012C9.55952 1.20012 8.94277 2.60012 7.6065 5.20011C6.27022 7.8001 5.65348 9.8001 5.65348 11.3001C5.65348 12.4001 6.37301 13.4001 7.91487 14.1001C9.35394 14.8001 10.3818 15.6001 10.8958 16.4001C11.4097 17.2001 11.6153 18.0001 11.6153 18.9001C11.6153 20.5001 11.1014 21.8001 10.1763 22.8001C9.04556 23.5001 7.81208 24.0001 6.27022 24.0001Z"
                                    fill="#333333" />
                                <path fill-rule="evenodd" clip-rule="evenodd"
                                    d="M12.9795 102V31.1436H14.736V100.153H239.061V102H12.9795ZM268 73.7332V13.6796H32.5037V15.8531H265.977V73.7332H268Z"
                                    fill="#333333" />
                                <path
                                    d="M254.568 84.0002C256.249 84.0002 257.72 84.7157 258.98 86.2487C260.241 87.7818 260.871 89.7237 260.871 92.2788C260.871 94.4251 259.716 97.5934 257.299 101.988C254.988 106.383 253.202 108.529 252.047 108.529C251.416 108.529 251.101 108.223 251.101 107.507C251.101 107.303 251.731 105.872 253.097 103.215C254.463 100.557 255.093 98.5132 255.093 96.9802C255.093 95.8559 254.358 94.8339 252.782 94.1185C251.311 93.403 250.261 92.5854 249.735 91.7678C249.21 90.9501 249 90.1325 249 89.2127C249 87.5774 249.525 86.2487 250.471 85.2267C251.626 84.4091 252.992 84.0002 254.568 84.0002Z"
                                    fill="#333333" />
                                <path
                                    d="M269.696 84C271.377 84 272.848 84.7154 274.108 86.2485C275.369 87.7816 275.999 89.7234 275.999 92.2785C275.999 94.4248 274.844 97.5932 272.427 101.988C270.116 106.383 268.33 108.529 267.175 108.529C266.544 108.529 266.229 108.222 266.229 107.507C266.229 107.303 266.859 105.872 268.225 103.214C269.591 100.557 270.221 98.513 270.221 96.9799C270.221 95.8557 269.486 94.8336 267.91 94.1182C266.439 93.4028 265.389 92.5852 264.863 91.7675C264.338 90.9499 264.128 90.1322 264.128 89.2124C264.128 87.5771 264.653 86.2485 265.599 85.2265C266.754 84.4088 268.015 84 269.696 84Z"
                                    fill="#333333" />
                                <path
                                    d="M49.5399 49.652L44.8599 40.184H46.7139L50.4579 47.996L54.1299 40.184H55.9479L50.9619 50.39C50.4459 51.446 49.9119 52.196 49.3599 52.64C48.8199 53.084 48.2199 53.306 47.5599 53.306C46.9839 53.306 46.4559 53.198 45.9759 52.982V51.542C46.3239 51.758 46.8039 51.866 47.4159 51.866C48.1239 51.866 48.7599 51.278 49.3239 50.102L49.5399 49.652ZM63.8815 43.712V53H62.3515V45.062H59.0395L58.9135 49.166C58.8775 50.582 58.6195 51.608 58.1395 52.244C57.6595 52.88 57.0595 53.198 56.3395 53.198C55.8955 53.198 55.5295 53.132 55.2415 53V51.758C55.3975 51.842 55.6675 51.884 56.0515 51.884C56.4115 51.884 56.7175 51.692 56.9695 51.308C57.2335 50.912 57.3775 50.252 57.4015 49.328L57.5635 43.712H63.8815ZM75.1795 43.712H76.7095V53H75.1795V43.712ZM72.8755 48.032C73.4275 48.536 73.7035 49.226 73.7035 50.102C73.7035 50.978 73.4335 51.68 72.8935 52.208C72.3655 52.736 71.6515 53 70.7515 53H66.2695V43.712H67.7995V47.258H70.6795C71.5915 47.258 72.3235 47.516 72.8755 48.032ZM70.1935 48.572H67.7995V51.65H70.1935C70.8175 51.65 71.2915 51.518 71.6155 51.254C71.9515 50.978 72.1195 50.594 72.1195 50.102C72.1195 49.082 71.4775 48.572 70.1935 48.572ZM80.0413 42.416C80.4493 41.78 80.9413 41.312 81.5173 41.012C82.0933 40.7 82.8253 40.514 83.7133 40.454C84.7093 40.382 85.3153 40.286 85.5313 40.166C85.6753 40.094 85.7833 39.998 85.8553 39.878H87.3853C87.3493 40.07 87.2953 40.244 87.2233 40.4C87.1633 40.556 87.0913 40.694 87.0073 40.814C86.9353 40.922 86.8273 41.024 86.6833 41.12C86.5513 41.216 86.4373 41.3 86.3413 41.372C86.2453 41.432 86.1013 41.492 85.9093 41.552C85.7293 41.6 85.5853 41.642 85.4773 41.678C85.3693 41.702 85.2013 41.726 84.9733 41.75C84.7573 41.774 84.6013 41.792 84.5053 41.804C84.4093 41.816 84.2353 41.828 83.9833 41.84C83.7313 41.852 83.5693 41.864 83.4973 41.876C82.5133 41.948 81.7453 42.332 81.1933 43.028C80.6413 43.712 80.2933 44.63 80.1493 45.782H80.2033C80.4673 45.146 80.8873 44.636 81.4633 44.252C82.0393 43.868 82.7053 43.676 83.4613 43.676C84.7813 43.676 85.8133 44.096 86.5573 44.936C87.3133 45.764 87.6913 46.928 87.6913 48.428C87.6913 49.976 87.3073 51.176 86.5393 52.028C85.7833 52.88 84.7153 53.306 83.3353 53.306C82.2073 53.306 81.2533 52.976 80.4733 52.316C79.6933 51.644 79.2133 50.684 79.0333 49.436C78.9613 48.932 78.9253 48.368 78.9253 47.744C78.9253 45.332 79.2973 43.556 80.0413 42.416ZM80.4913 48.482C80.4913 49.538 80.7433 50.39 81.2473 51.038C81.7633 51.686 82.4653 52.01 83.3533 52.01C84.2173 52.01 84.8953 51.698 85.3873 51.074C85.8793 50.45 86.1253 49.58 86.1253 48.464C86.1253 47.372 85.8733 46.514 85.3693 45.89C84.8653 45.266 84.1813 44.954 83.3173 44.954C82.4533 44.954 81.7633 45.272 81.2473 45.908C80.7433 46.532 80.4913 47.39 80.4913 48.482ZM98.0093 53H96.0653L92.6813 48.428L91.2233 49.85V53H89.6933V43.712H91.2233V48.14L95.4713 43.712H97.5233L93.7793 47.366L98.0093 53ZM106.893 43.712L102.915 54.188C102.759 54.608 102.621 54.932 102.501 55.16C102.393 55.4 102.231 55.658 102.015 55.934C101.811 56.222 101.559 56.426 101.259 56.546C100.971 56.678 100.629 56.744 100.233 56.744C99.9332 56.744 99.5552 56.69 99.0992 56.582V55.214C99.5432 55.346 99.8732 55.412 100.089 55.412C100.593 55.412 100.953 55.154 101.169 54.638L101.889 52.946L98.1992 43.712H99.9272L102.681 51.11L105.291 43.712H106.893ZM115.107 53H113.577V43.712H115.107V47.402H119.751V43.712H121.281V53H119.751V48.752H115.107V53ZM131.445 43.712L127.467 54.188C127.311 54.608 127.173 54.932 127.053 55.16C126.945 55.4 126.783 55.658 126.567 55.934C126.363 56.222 126.111 56.426 125.811 56.546C125.523 56.678 125.181 56.744 124.785 56.744C124.485 56.744 124.107 56.69 123.651 56.582V55.214C124.095 55.346 124.425 55.412 124.641 55.412C125.145 55.412 125.505 55.154 125.721 54.638L126.441 52.946L122.751 43.712H124.479L127.233 51.11L129.843 43.712H131.445ZM136.863 48.5L133.677 53H131.787L135.855 47.528L132.309 43.712H134.199L137.979 47.978H138.015V43.712H139.545V47.978H139.581L143.361 43.712H145.251L141.705 47.528L145.773 53H143.883L140.697 48.5L139.545 49.67V53H138.015V49.67L136.863 48.5ZM148.659 53H147.129V43.712H148.659V47.402H153.303V43.712H154.833V53H153.303V48.752H148.659V53ZM158.049 44.774C158.865 43.886 159.975 43.442 161.379 43.442C162.783 43.442 163.875 43.868 164.655 44.72C165.435 45.572 165.825 46.766 165.825 48.302C165.825 49.874 165.435 51.098 164.655 51.974C163.875 52.85 162.777 53.288 161.361 53.288C159.945 53.288 158.835 52.856 158.031 51.992C157.227 51.128 156.825 49.928 156.825 48.392C156.825 46.868 157.233 45.662 158.049 44.774ZM163.467 45.71C162.951 45.05 162.243 44.72 161.343 44.72C160.443 44.72 159.729 45.05 159.201 45.71C158.673 46.37 158.409 47.252 158.409 48.356C158.409 49.496 158.667 50.39 159.183 51.038C159.711 51.674 160.443 51.992 161.379 51.992C162.279 51.992 162.981 51.668 163.485 51.02C164.001 50.372 164.259 49.478 164.259 48.338C164.259 47.234 163.995 46.358 163.467 45.71ZM173.88 42.416C174.288 41.78 174.78 41.312 175.356 41.012C175.932 40.7 176.664 40.514 177.552 40.454C178.548 40.382 179.154 40.286 179.37 40.166C179.514 40.094 179.622 39.998 179.694 39.878H181.224C181.188 40.07 181.134 40.244 181.062 40.4C181.002 40.556 180.93 40.694 180.846 40.814C180.774 40.922 180.666 41.024 180.522 41.12C180.39 41.216 180.276 41.3 180.18 41.372C180.084 41.432 179.94 41.492 179.748 41.552C179.568 41.6 179.424 41.642 179.316 41.678C179.208 41.702 179.04 41.726 178.812 41.75C178.596 41.774 178.44 41.792 178.344 41.804C178.248 41.816 178.074 41.828 177.822 41.84C177.57 41.852 177.408 41.864 177.336 41.876C176.352 41.948 175.584 42.332 175.032 43.028C174.48 43.712 174.132 44.63 173.988 45.782H174.042C174.306 45.146 174.726 44.636 175.302 44.252C175.878 43.868 176.544 43.676 177.3 43.676C178.62 43.676 179.652 44.096 180.396 44.936C181.152 45.764 181.53 46.928 181.53 48.428C181.53 49.976 181.146 51.176 180.378 52.028C179.622 52.88 178.554 53.306 177.174 53.306C176.046 53.306 175.092 52.976 174.312 52.316C173.532 51.644 173.052 50.684 172.872 49.436C172.8 48.932 172.764 48.368 172.764 47.744C172.764 45.332 173.136 43.556 173.88 42.416ZM174.33 48.482C174.33 49.538 174.582 50.39 175.086 51.038C175.602 51.686 176.304 52.01 177.192 52.01C178.056 52.01 178.734 51.698 179.226 51.074C179.718 50.45 179.964 49.58 179.964 48.464C179.964 47.372 179.712 46.514 179.208 45.89C178.704 45.266 178.02 44.954 177.156 44.954C176.292 44.954 175.602 45.272 175.086 45.908C174.582 46.532 174.33 47.39 174.33 48.482ZM191.47 50.066C191.002 52.226 189.652 53.306 187.42 53.306C186.052 53.306 184.978 52.88 184.198 52.028C183.43 51.176 183.046 49.994 183.046 48.482C183.046 46.982 183.442 45.77 184.234 44.846C185.038 43.91 186.082 43.442 187.366 43.442C188.794 43.442 189.85 43.928 190.534 44.9C191.23 45.86 191.578 47.078 191.578 48.554V48.77H184.594L184.576 48.878C184.576 49.862 184.834 50.636 185.35 51.2C185.866 51.764 186.574 52.046 187.474 52.046C188.146 52.046 188.674 51.89 189.058 51.578C189.454 51.266 189.76 50.762 189.976 50.066H191.47ZM189.994 47.528C189.922 46.64 189.652 45.95 189.184 45.458C188.716 44.954 188.098 44.702 187.33 44.702C186.586 44.702 185.968 44.954 185.476 45.458C184.984 45.962 184.69 46.652 184.594 47.528H189.994ZM194.82 43.712V45.026C195.492 43.958 196.536 43.424 197.952 43.424C199.248 43.424 200.274 43.862 201.03 44.738C201.798 45.614 202.182 46.802 202.182 48.302C202.182 49.802 201.804 51.002 201.048 51.902C200.304 52.79 199.296 53.234 198.024 53.234C196.692 53.234 195.654 52.724 194.91 51.704V56.582H193.38V43.712H194.82ZM197.718 44.702C196.83 44.702 196.128 45.026 195.612 45.674C195.108 46.31 194.856 47.192 194.856 48.32C194.856 49.448 195.114 50.336 195.63 50.984C196.158 51.62 196.872 51.938 197.772 51.938C198.648 51.938 199.338 51.614 199.842 50.966C200.346 50.318 200.598 49.436 200.598 48.32C200.598 47.192 200.34 46.31 199.824 45.674C199.32 45.026 198.618 44.702 197.718 44.702ZM212.168 50.066C211.7 52.226 210.35 53.306 208.118 53.306C206.75 53.306 205.676 52.88 204.896 52.028C204.128 51.176 203.744 49.994 203.744 48.482C203.744 46.982 204.14 45.77 204.932 44.846C205.736 43.91 206.78 43.442 208.064 43.442C209.492 43.442 210.548 43.928 211.232 44.9C211.928 45.86 212.276 47.078 212.276 48.554V48.77H205.292L205.274 48.878C205.274 49.862 205.532 50.636 206.048 51.2C206.564 51.764 207.272 52.046 208.172 52.046C208.844 52.046 209.372 51.89 209.756 51.578C210.152 51.266 210.458 50.762 210.674 50.066H212.168ZM210.692 47.528C210.62 46.64 210.35 45.95 209.882 45.458C209.414 44.954 208.796 44.702 208.028 44.702C207.284 44.702 206.666 44.954 206.174 45.458C205.682 45.962 205.388 46.652 205.292 47.528H210.692ZM221.26 53H219.73V48.896C219.478 48.968 219.034 49.058 218.398 49.166C217.774 49.262 217.258 49.31 216.85 49.31C215.902 49.31 215.158 49.088 214.618 48.644C214.09 48.188 213.826 47.522 213.826 46.646V43.712H215.356V46.394C215.356 47.474 215.95 48.014 217.138 48.014C217.99 48.014 218.854 47.876 219.73 47.6V43.712H221.26V53ZM230.734 48.032C231.286 48.536 231.562 49.226 231.562 50.102C231.562 50.978 231.292 51.68 230.752 52.208C230.224 52.736 229.51 53 228.61 53H223.696V43.712H225.226V47.258H228.538C229.45 47.258 230.182 47.516 230.734 48.032ZM228.052 48.572H225.226V51.65H228.052C228.676 51.65 229.15 51.518 229.474 51.254C229.81 50.978 229.978 50.594 229.978 50.102C229.978 49.082 229.336 48.572 228.052 48.572ZM111.563 74.616C111.431 75.732 111.005 76.62 110.285 77.28C109.577 77.94 108.653 78.27 107.513 78.27C106.109 78.27 105.023 77.838 104.255 76.974C103.487 76.098 103.103 74.934 103.103 73.482C103.103 71.934 103.505 70.71 104.309 69.81C105.113 68.898 106.199 68.442 107.567 68.442C108.707 68.442 109.619 68.73 110.303 69.306C110.987 69.87 111.389 70.68 111.509 71.736H109.925C109.649 70.392 108.869 69.72 107.585 69.72C106.697 69.72 105.995 70.05 105.479 70.71C104.963 71.358 104.705 72.24 104.705 73.356C104.705 74.484 104.951 75.372 105.443 76.02C105.935 76.668 106.613 76.992 107.477 76.992C108.173 76.992 108.737 76.788 109.169 76.38C109.613 75.972 109.895 75.384 110.015 74.616H111.563ZM123.481 78H121.951V70.674H121.897L119.143 78H117.739L114.985 70.674H114.931V78H113.401V68.712H115.597L118.423 76.236H118.459L121.285 68.712H123.481V78ZM126.659 69.774C127.475 68.886 128.585 68.442 129.989 68.442C131.393 68.442 132.485 68.868 133.265 69.72C134.045 70.572 134.435 71.766 134.435 73.302C134.435 74.874 134.045 76.098 133.265 76.974C132.485 77.85 131.387 78.288 129.971 78.288C128.555 78.288 127.445 77.856 126.641 76.992C125.837 76.128 125.435 74.928 125.435 73.392C125.435 71.868 125.843 70.662 126.659 69.774ZM132.077 70.71C131.561 70.05 130.853 69.72 129.953 69.72C129.053 69.72 128.339 70.05 127.811 70.71C127.283 71.37 127.019 72.252 127.019 73.356C127.019 74.496 127.277 75.39 127.793 76.038C128.321 76.674 129.053 76.992 129.989 76.992C130.889 76.992 131.591 76.668 132.095 76.02C132.611 75.372 132.869 74.478 132.869 73.338C132.869 72.234 132.605 71.358 132.077 70.71ZM143.738 68.712V78H142.208V70.062H138.896L138.77 74.166C138.734 75.582 138.476 76.608 137.996 77.244C137.516 77.88 136.916 78.198 136.196 78.198C135.752 78.198 135.386 78.132 135.098 78V76.758C135.254 76.842 135.524 76.884 135.908 76.884C136.268 76.884 136.574 76.692 136.826 76.308C137.09 75.912 137.234 75.252 137.258 74.328L137.42 68.712H143.738ZM146.917 69.774C147.733 68.886 148.843 68.442 150.247 68.442C151.651 68.442 152.743 68.868 153.523 69.72C154.303 70.572 154.693 71.766 154.693 73.302C154.693 74.874 154.303 76.098 153.523 76.974C152.743 77.85 151.645 78.288 150.229 78.288C148.813 78.288 147.703 77.856 146.899 76.992C146.095 76.128 145.693 74.928 145.693 73.392C145.693 71.868 146.101 70.662 146.917 69.774ZM152.335 70.71C151.819 70.05 151.111 69.72 150.211 69.72C149.311 69.72 148.597 70.05 148.069 70.71C147.541 71.37 147.277 72.252 147.277 73.356C147.277 74.496 147.535 75.39 148.051 76.038C148.579 76.674 149.311 76.992 150.247 76.992C151.147 76.992 151.849 76.668 152.353 76.02C152.869 75.372 153.127 74.478 153.127 73.338C153.127 72.234 152.863 71.358 152.335 70.71ZM165.379 80.952H163.921V78H156.829V80.952H155.371V76.65H156.379C156.667 76.098 156.931 75.246 157.171 74.094C157.423 72.93 157.549 71.796 157.549 70.692V68.712H164.173V76.65H165.379V80.952ZM162.643 76.65V70.062H159.043V70.836C159.043 71.928 158.929 73.038 158.701 74.166C158.485 75.282 158.239 76.11 157.963 76.65H162.643ZM174.581 68.712L170.603 79.188C170.447 79.608 170.309 79.932 170.189 80.16C170.081 80.4 169.919 80.658 169.703 80.934C169.499 81.222 169.247 81.426 168.947 81.546C168.659 81.678 168.317 81.744 167.921 81.744C167.621 81.744 167.243 81.69 166.787 81.582V80.214C167.231 80.346 167.561 80.412 167.777 80.412C168.281 80.412 168.641 80.154 168.857 79.638L169.577 77.946L165.887 68.712H167.615L170.369 76.11L172.979 68.712H174.581ZM178.109 65.184V69.108L177.659 74.814H176.831L176.417 69.108V65.184H178.109ZM178.199 76.182V78H176.309V76.182H178.199Z"
                                    fill="#222222" />
                            </svg>
                        </div>
                    </div>
                </div>
                <div class="section__right">
                    <div class="specialist-img">
                        <img src="../static/images/spec1.jpg" alt="">
                        <a href="" class="btn main-btn"><span>Записаться к специалисту</span></a>
                    </div>
                </div>


            </div>
 </div>
        </section>
        <div class="container">

     
        <section class="section doctor-education" data-section-name='doctor-education'>
            <div class="section__inner">
                <h3 class="section__title">
                    Образование и сертификаты
                </h3>
                <div class="section__info">
                    <div class="section__info-top">
                        <p><b>Образование</b></p>
                        <p>
                            — Белорусский государственный медицинский университет – 1998-2003 гг., специальность –
                            стоматолог
                        </p>
                    </div>
                    <div class="section__info-bottom">
                        <div class="bottom-left">
                            <p><b>Повышение квалификации</b></p>
                            <p>2006г. - «Белорусская медицинская академия последипломного образования». «Стоматология
                                терапевтическая»;</p>
                            <p>2011г. - «Белорусская медицинская академия последипломного образования». «Лечение
                                неосложненного кариеса»;</p>
                            <p>2012г. - «Белорусская медицинская академия последипломного образования». «Эстетическая
                                стоматология»;</p>
                            <p>2013г. – Стоматологическая конференция «Искусство прямой реставрации передних зубов»,
                                авторский курс Александра Фецыча (г. Минск);</p>
                            <p>2013г. – Стоматологическая конференция «Адгезивная реставрация жевательных зубов»,
                                авторский курс Александра Фецыча (г. Минск)...</p>


                            </span>
                        </div>
                        <div class="bottom-right">
                            <p><b>Сертификаты</b></p>
                            <div class="slider sertificat-slider">
                                <div class="slider__inner" id="sertificat-slider">
                                    <div class="slider__item">
                                        <img src="../static/images/sertificate.jpg" alt="">
                                    </div>
                                    <div class="slider__item">
                                        <img src="../static/images/sertificate.jpg" alt="">
                                    </div>
                                </div>
                                <div class="slider-arrow">
                                    <div class="prev">
                                        <svg width="45" height="8" viewBox="0 0 45 8"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                                        </svg>

                                    </div>
                                    <div class="next">
                                        <svg width="46" height="8" viewBox="0 0 46 8"
                                            xmlns="http://www.w3.org/2000/svg">
                                            <path
                                                d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                                        </svg>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>

        <section class="section doctor-portfolio" data-section-name='doctor-portfolio'>
            <div class="section__inner">
                <h2 class="section__title">
                    Портфолио
                </h2>
                <div class="slider-wrap ">
                  
                    <div class="slider slider-portfolio">


                        <div class="slider-portfolio__inner" id="specialist-portfolio">
                            <div class="slider__item">
                                <div class="slider__item-img before">
                                    <div class="text">До</div>
                                    <img src="../static/images/portfolio-before.jpg " alt=""
                                        class="img grayscale grayscale-fade">
                                </div>
                                <div class="slider__item-img after">
                                    <div class="text">После</div>
                                    <img src="../static/images/portfolio-after.jpg" alt=""
                                        class="img grayscale grayscale-fade">
                                </div>
                            </div>
                            <div class="slider__item">
                                <div class="slider__item-img before">
                                    <div class="text">До</div>
                                    <img src="../static/images/portfolio-before.jpg " alt=""
                                        class="img grayscale grayscale-fade">
                                </div>
                                <div class="slider__item-img after">
                                    <div class="text">После</div>
                                    <img src="../static/images/portfolio-after.jpg" alt=""
                                        class="img grayscale grayscale-fade">
                                </div>
                            </div>
                        </div>

                        <div class="slider-arrow">
                            <div class="prev-arrow">
                                <svg width="45" height="8" viewBox="0 0 45 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M-0.000183432 3.76486L2.77314 0.000121459L4.26706 0.000121328L2.00983 3.14013L44.8711 3.14013L44.8711 4.37601L2.00983 4.37602L4.26706 7.50244L2.77314 7.50245L-0.000183432 3.76486Z" />
                                </svg>

                            </div>
                            <div class="next-arrow">
                                <svg width="46" height="8" viewBox="0 0 46 8" xmlns="http://www.w3.org/2000/svg">
                                    <path
                                        d="M45.3469 3.73758L42.5735 7.50232H41.0796L43.3369 4.36231H0.475586V3.12643H43.3369L41.0796 0H42.5735L45.3469 3.73758Z" />
                                </svg>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section__info">
                    <p class="subtitle"><b>Имплантация</b></p>
                    <p><b>До: </b>частичное отсутствие зубов на нижней челюсти, не эстетическое состояние
                        металлокерамических коронок на верхней челюсти</p>
                    <p><b>После: </b>цельнокерамические коронки на основе диоксида циркония на имплантах Astra Tech в
                        области 1.6, 1.5. 2.4, 2.5, 2.6, 3.6, 3.4, 4.4, 4.6 зубов, цельнокерамические коронки на основе
                        диоксида циркония на зубах 1.7, 1.3, 1.2, 1.1 2.1 2.2 2.3, 3.3, 4.3</p>
                          <div class="doctor-info-text">
                            <p>Специалист: Андриенко Екатерина Арсеньевна</p>
                            <p>Специализация: Имплантация</p>
                        </div>
                </div>
            </div>
            <div class="logo"><img src="../static/images/logo-about.png" alt=""></div>
        </section>
         
        <div class="bottom-menu menu-gray" id="bottom-menu-gray">

            <div class="counter"><span class="active-section">1</span><span class="amount-section">/3</span></div>
            <nav class="nav" id='menu'>
                <a href="#doctor-info" class="nav__link active ">о докторе</a>
                <a href="#doctor-education" class="nav__link  ">образование и сертификаты</a>

                <a href="#doctor-portfolio" class="nav__link">портфолио</a>

            </nav>

        </div>
    </div>
</div>

{{> layout/footer class='footer-wrap'}}