.breadcrumbs {
  display: flex;
  margin-bottom: 10px;

  &__item {
    margin-right: 5px;

    &:last-child {
      margin-right: 0;

      &:after {
        display: none;
      }
    }

    &:after {
      content: '/';
      color: #a7a7a7;
      padding-right: 3px;
      padding-left: 3px;
    }
  }

  &__link {
    font-size: 12px;
    line-height: 17px;
    color: #a7a7a7;
    letter-spacing: 0.01em;
    @include helveticaNeueCur-light;
    display: inline-block;

    &.active {
      color: #000000;
    }
  }
}
