// SLIDER-SPECIALIST

.slider-specialist {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 70px;
  padding-right: 70px;
  position: relative;
  display: inline-block;

  &__inner {
    display: flex;
    justify-content: space-between;
    max-width: 740px;
    position: relative;
    &.created {
      .slider__item {
        opacity: 1;
      }
    }
  }

  .slider {
    &__item {
      max-width: 245px;
      margin-right: 15px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      cursor: pointer;
      opacity: 0;
      &:hover {
        .primary-btn {
          visibility: visible;
          transition: 0s;
        }
      }

      &:hover {
        img {
          filter: none;
        }
      }

      &-img {
        position: relative;
        display: inline-block;
        height: 235px;
        max-width: 100%;

        img {
          max-width: 232px;
        }
      }

      &-info {
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .name {
          font-size: 20px;
          line-height: 24px;
          letter-spacing: 0.01em;
          color: #222222;
          margin-top: 10px;
        }

        font-size: 14px;
        line-height: 20px;
        color: #000000;

        p {
          margin-bottom: 8px;
        }

        .social {
          display: flex;
          align-items: center;

          a {
            margin-right: 15px;
            display: inline-block;

            &:last-child {
              margin-right: 0;
            }

            &:hover {
              svg {
                fill: #c8102e;
                transition: 0.3s;
              }
            }
          }
        }

        .primary-btn {
          visibility: hidden;
          transition: 0s;
          width: 70%;
          padding-top: 10px;
          padding-bottom: 10px;
        }
      }
    }
  }

  .prev,
  .next {
    fill: #d3d3d3;
    position: absolute;

    &:hover {
      fill: #000000;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .prev {
    top: 30%;
    left: 0;

  }

  .next {
    transform: rotate(180deg);
    top: 30%;
    right: 5px;
  }
}

// SLIDER-PORTFOLIO

.slider-portfolio {
  .slider-item {
    opacity: 0;
  }
  &.created {
    .slider-item {
      opacity: 1;
    }
  }
  .slider {
    &__item {
      display: flex;

      .text {
        font-size: 16px;
        line-height: 24px;
        @include helveticaNeueCur-roman;
        color: #222222;
        margin-bottom: 5px;
      }

      &-img {
        img {
          cursor: pointer;
          transition: 0.3s;
          max-width: 100%;
        }

        &:hover {
          img {
            filter: none;
          }
        }
      }
    }
  }
}

// SERTIFICAT SLIDER

.sertificat-slider {
  .slider-item {
    opacity: 0;
  }
  &.created {
    .slider-item {
      opacity: 1;
    }
  }
  .slider {
    &__inner {
      display: flex;
      width: 200px;
    }

    &__item {
      width: 200px;
    }

    &-arrow {
      margin-top: 20px;
      display: flex;
      justify-content: center;
    }
  }

  .prev,
  .next {
    fill: #d3d3d3;
    padding-left: 5px;
    padding-right: 5px;

    &:hover {
      fill: #000000;
      transition: 0.3s;
      cursor: pointer;
    }
  }
}

// DOCTOR PORTFOLIO SLIDER



.slider-portfolio {
  display: inline-block;
 
  position: relative;
  .slider-item {
    opacity: 0;
  }
  &.created {
    .slider-item {
      opacity: 1;
    }
  }
  &__inner {
    display: flex;
    justify-content: center;
    max-width: 750px;
  }

  margin-bottom: 20px;

  .prev-arrow,
  .next-arrow {
    fill: #d3d3d3;
    position: absolute;

    &:hover {
      fill: #000000;
      transition: 0.3s;
      cursor: pointer;
    }
  }

  .prev-arrow {
    top: 50%;
    right: 100%;
        margin-right: 5px;
  }

  .next-arrow {
    top: 50%;
  left: 100%;
  margin-left: 5px;
 
  }
}

// REASON SLIDER

.reason-slider {
  width: 820px;
  height: 382px;
  position: absolute;
  .slider-item {
    opacity: 0;
  }
  &.created {
    .slider-item {
      opacity: 1;
    }
  }
  @include mobile {
    margin-top: 30px;
    margin-bottom: 30px;
  }
  left: 530px;
  top: 160px;
  z-index: 9999;
  @include mobile {
    position: static;
  }
  .slider__inner {
    display: flex;
    width: 820px;
    height: 382px;
  }

  .slider__item {
    padding: 10px;

    img {
      width: 283px;
      height: 382px;
    }
  }
  // .slick-current {
  //     img {
  //         height: 382px;
  //         transition: 0.3s;
  //     }
  // }

  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    padding-right: 30px;
    padding-top: 15px;
    @include mobile {
      display: none;
    }
  }
  .prev-arr,
  .next-arr {
    fill: rgba(255, 255, 255, 0.4);
    &:hover {
      fill: #d3d3d3;
      cursor: pointer;
    }
  }
  .prev-arr {
    margin-right: 20px;
  }
}

// SLIDER-PORTFOLIO-PAGE

.portfolio-page-slider {
  width: 100%;
  overflow: hidden;
  .slider-item {
    opacity: 0;
  }
  &.created {
    .slider-item {
      opacity: 1;
    }
  }
  .portfolio {
    &-row {
    }
    &-col {
      padding-left: 10px;
      padding-right: 10px;
      margin-bottom: 50px;
      .col-title {
        font-size: 20px;
        line-height: 24px;
        color: #222222;
        letter-spacing: 0.01em;
        @include helveticaNeueCur-roman;
      }
      .col-img {
        img {
          max-width: 100%;
          width: 100%;
        }
      }
    }
  }
  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 15px;
    @include mobile {
      display: none;
    }
  }
  .portfolio-prev,
  .portfolio-next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }

  .portfolio-prev {
    margin-right: 20px;
  }
}

// SLIDER SPECIALIST-LIST

.specialist-list-slider {
  width: 100%;
  height: 500px;

  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider {
    &__item {
      .specialist-list {
        &__col {
          display: flex;
          margin-bottom: 40px;
          .col {
            &-img {
              width: 48%;
            }
            &-info {
              width: 48%;
              padding-left: 10px;
              padding-right: 10px;
              @include helveticaNeueCur-roman;

              color: #222222;
              .name {
                font-size: 14px;
                line-height: 18px;
                font-weight: 550;
                @include helveticaNeueCur-medium;
              }
              .qualification {
                font-size: 12px;
                line-height: 18px;
              }
              .text {
                font-size: 14px;
                line-height: 18px;
              }
            }
          }
        }
      }
    }
  }
  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 15px;
    @include mobile {
      display: none;
    }
  }
  .portfolio-prev,
  .portfolio-next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }
 
  .portfolio-prev {
    margin-right: 20px;
  }
}

//about-page-sertificat-slider

.about-page-sertificat-slider {
  .slider__inner {
    height: 300px;
  }
  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 50px;
    @include mobile {
      display: none;
    }
  }
  .prev,
  .next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }
  .next {
    position: relative;
  }
  .prev {
    margin-right: 20px;
  }
}

// BLOG-LIST-SLIDER

.blog-list-slider {
  .slider__inner {
    height: 430px;
  }
  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 30px;
    position: relative;
    z-index: 20;
    @include mobile {
      display: none;
    }
  }
  .prev,
  .next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }

  .prev {
    margin-right: 20px;
  }
}

//BLOG-SINGLE-SLIDER

.blog-single-slider {
  overflow: hidden;
  .slider__inner {
    overflow: hidden;
    padding-bottom: 10px;
  }
  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider-arrow {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
    z-index: 20;
    @include mobile {
      display: none;
    }
  }

  .prev,
  .next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }

  .prev {
    margin-right: 20px;
  }
}

//REVIEWS-LIST-SLIDER

.reviews-list-slider {
  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider-arrow {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
    z-index: 20;
    @include mobile {
      display: none;
    }
  }

  .prev,
  .next {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }

  .prev {
    margin-right: 20px;
  }
}

//VIDEOREVIEWS-LIST-SLIDER

.videoreviews-list-slider {
  .slider__item {
    opacity: 0;
  }
  &.created {
    .slider__item {
      opacity: 1;
    }
  }
  .slider-arrow {
    margin-top: 50px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 30px;
    padding-top: 0px;
    position: relative;
    z-index: 20;
    @include mobile {
      display: none;
    }
  }

  .prev-video-slider,
  .next-video-slider {
    fill: #d3d3d3;
    &:hover {
      fill: #222222;
      cursor: pointer;
    }
  }

  .prev-video-slider {
    margin-right: 20px;
  }
  .slick-initialized .slick-slide {
    display: block;
    max-width: 100%;
  }
}
