.tabs {
position: relative;
    &__header {
        display: flex;
        margin-bottom: 50px;
        @include desktop-medium {
            margin-bottom: 25px;
        }
        .tab {
            @include helveticaNeueCur-roman;
            font-size: 18px;
            line-height: 25px;
            color: #777777;
            margin-right: 30px;
            padding-bottom: 5px;
            cursor: pointer;
            &:last-child {
                margin-right: 0;
            }
        &.active {
            color: #333333;
            border-bottom: 2px solid #C8102E;
        }
        }
    }
    &-content {
        &.hide {
            
             position: absolute;
            visibility: hidden;
            opacity: 0;
          .slider {
             position: relative;
          } 
         
        }
        &.show {
            position: static;
            opacity: 1;
            visibility: visible;
            transition: 0.3s;
            .slider {
                position: static;
            } 
        }
    }
  &.contact-tabs {
 
      .tabs {
          &-content {
              @include helveticaNeueCur-roman;
              width: 30%;
              .title {
              font-size: 20px;
              line-height: 26px;
              color: #222222;
              font-weight: 600;
         
              }
              p {
                  font-size: 16px;
                  line-height: 22px;
                  @include desktop-medium {
                      margin-bottom: 14px;
                  }
              }
              .email {
                  margin-top: 30px;
                font-size: 16px;
                line-height: 16px;
              }
          }
      }
  }
  
}